<table>
	<tr><input type="button" value="下載領獎確認書" style="width:160px;height:40px;font-size:16px;" onclick="location.href='https://drive.google.com/file/d/1wYvJnupehBOrkdyr8Dwo98LxCjPl_stW/view?usp=sharing'" target="_blank">
	
	</tr>
	<tr>
		<input type="button" value="下載領獎確認書"  style="width:160px;height:40px;font-size:16px;" onclick="window.open('https://drive.google.com/file/d/1wYvJnupehBOrkdyr8Dwo98LxCjPl_stW/view?usp=sharing')" />
	</tr>
	<tr>
		
	</tr>
</table>