<template>
	<span>
		<span>{{minute}}:{{second}}</span>
	</span>
</template>

<script>
	export default {
		props:{
			time: {
				type: String,
				default: ''
			}
		},
		data() {
			return {
				seconds: 0,
				minutes: 0
			}
		},
		methods: {
			num(n) {
				return n < 10 ? '0' + n : '' + n
			},
			timer() {
				var _this = this
				var time = window.setInterval(function() {
					if (_this.seconds === 0 && _this.minutes !== 0) {
						_this.seconds = 59
						_this.minutes -= 1
					} else if (_this.minutes === 0 && _this.seconds === 0) {
						_this.seconds = 0
						window.clearInterval(time)
					} else {
						_this.seconds -= 1
					}
				}, 1000)
			}
		},
		mounted() {
			this.minutes = parseInt(this.time.substr(0, 2))
			this.seconds = parseInt(this.time.substr(3, 4))
			this.timer()
		},
		computed: {
			second: function() {
				return this.num(this.seconds)
			},
			minute: function() {
				return this.num(this.minutes)
			}
		},
		watch: {
			second: {
				handler(newVal) {
					this.num(newVal)
				}
			},
			minute: {
				handler(newVal) {
					this.num(newVal)
				}
			}
		},
	}
</script>

<style>
</style>
