<template>
	<div class="download">
		<nav-top></nav-top>
		<div class="downbtn">
			<a :href="$store.state.url + '/GMG.apk'" target="_blank">
				<div class="btn"><img src="@/common/images/downbtn.png" alt="">下載新版本</div>
			</a>
		</div>
	</div>
</template>

<script>
	import navTop from '@/components/navTop';
	export default {
		components: {
			navTop
		},
		data() {
			return {

			};
		}
	};
</script>

<style lang="scss" scoped>
	.download {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #fff;
		z-index: 999;

		.downbtn {
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			.btn {
				width: rem(400);
				height: rem(120);
				line-height: rem(120);
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: #add063;
				border-radius: rem(20);
				font-size: rem(36);
				img {
					width: rem(100);
					height: rem(100);
				}
			}
		}
	}
</style>
