<template>
	<div class="flex-top" v-if="flexShow">
		<div class="logo">
			<img src="@/common/images/logo.png" alt="" />
			<p class="txt">你我链</p>
			<div class="btn" v-if="!isweixin"><a href="http://app2.uc86.6wanyuewan.com/niwolian.apk" target="_blank">下载APP</a></div>
			<div class="btn" v-if="isweixin" @click="$router.push('/downpage')">下载APP</div>
		</div>
		<img class="close" src="@/common/images/icon/close.png" @click="close" alt="" />
	</div>
</template>

<script>
	export default {
		data() {
			return {
				flexShow: false,
				isweixin: false
			};
		},
		methods: {
			isWechat() {
				var ua = window.navigator.userAgent.toLowerCase();
				if (ua.match(/MicroMessenger/i) == 'micromessenger') {
					this.isweixin = true
				}
			},
			close(){
				this.flexShow = false
			}
		},
		mounted() {
			this.isWechat()
		}
	};
</script>

<style lang="scss" scoped>
	.flex-top {
		position: fixed;
		width: 100%;
		height: rem(80);
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: 99;

		.logo {
			display: flex;
			align-items: center;
			position: absolute;
			top: 50%;
			left: 5%;
			transform: translateY(-50%);
		}

		img {
			width: rem(60);
		}

		.txt {
			font-size: rem(30);
			margin-right: rem(20);
		}

		.btn {
			font-size: rem(24);
			background-color: #4ecbff;
			border-radius: 5px;
			width: rem(140);
			padding: rem(10) 0;
			text-align: center;

			a {
				color: #fff;
			}
		}

		.close {
			position: absolute;
			right: rem(30);
			top: rem(20);
			width: rem(40);
			height: rem(40);
		}
	}
</style>
