<template>
	<div class="imgupload-cont">
		<div class="upload-box">
			<div class="img-cont">
				<img :src="imgUrl" alt="">
			</div>
			<div class="img-btn">
				<van-uploader :after-read="afterRead">
					<div class="btn">上 傳</div>
				</van-uploader>
				<div class="btn qd" @click="isPost">確 認</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			imgUrl: ''
		};
	},
	methods: {
		afterRead(file) {
			this.imgUrl = file.content
		},
		isPost(){
			this.$emit('postImg',this.imgUrl)
		}
	}
};
</script>

<style lang="scss" scoped>
.imgupload-cont {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	.upload-box {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		.img-cont {
			width: rem(500);
			height: rem(500);
			border: 1px solid #ccc;
			img{
				width: 100%;
				height: 100%;
			}
		}
		.img-btn {
			display: flex;
			justify-content: space-around;
			font-size: rem(40);
			margin-top: rem(50);
			color: #fff;
			.btn {
				position: relative;
				background-color: #67c553;
				border-radius: rem(8);
				padding: rem(10) rem(20);
				&::before {
					position: absolute;
					top: 50%;
					left: 50%;
					width: 100%;
					height: 100%;
					background-color: #000;
					border: inherit;
					border-color: #000;
					border-radius: inherit;
					-webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					opacity: 0;
					content: ' ';
				}
				&:active::before {
					opacity: 0.1;
				}
				&.qd {
					background-color: #2c80bb;
				}
			}
		}
	}
}
</style>
