<template>
	 <div class="Menu-cont">
		<div class="nav">
			<router-link to="/" class="list" :class="{ active: isHome }">
				<span class="iconfont">&#xe610;</span>
				<p>首頁</p>
			</router-link>
			<router-link to="/order" class="list" :class="{ active: isOrder }">
				<span class="iconfont">&#xe6ab;</span>
				<p>債權</p>
			</router-link>
			<router-link to="/zhishu" class="list" :class="{ active: isShare }">
				<span class="iconfont">&#xe628;</span>
				<p>指數</p>
			</router-link>
			<router-link to="/exclusive" class="list" :class="{ active: bount }">
				<span class="iconfont">&#xe606;</span>
				<p>進階</p>
			</router-link>
			<router-link to="/yibeitong" class="list" :class="{ active: ybt }">
				<span class="iconfont">&#xe627;</span>
				<p>GMG</p>
			</router-link>
		</div>
	</div> 
	<!--<div class="Menu-style">
		<div class="nav">
			<router-link to="/" tag="div" class="list" :class="{ active: isHome }">
				<p>首頁</p>
			</router-link>
			<router-link to="/order" tag="div" class="list" :class="{ active: isOrder }">
				<p>債權</p>
			</router-link>
			<router-link to="/zhishu" tag="div" class="list cent" :class="{ active: isShare }">
				<p>指數</p>
			</router-link>
			<router-link to="/exclusive" tag="div" class="list" :class="{ active: bount }">
				<p>進階</p>
			</router-link>
			<router-link to="/yibeitong" tag="div" class="list" :class="{ active: ybt }">
				<p>GMG</p>
			</router-link>
		</div>-->
	</div>
</template>

<script>
export default {
	props: {
		isHome: {
			type: Boolean,
			default: false
		},
		isOrder: {
			type: Boolean,
			default: false
		},
		isShare: {
			type: Boolean,
			default: false
		},
		bount: {
			type: Boolean,
			default: false
		},
		ybt: {
			type: Boolean,
			default: false
		}
	},
	mounted() {
		document.getElementsByTagName('body')[0].className = 'btm-100';
	},
	beforeDestroy() {
		document.body.removeAttribute('class', 'btm-100');
	}
};
</script>

<style lang="scss" scoped>
.Menu-cont {
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #e7e7e7;
	background-color: #f9f9f9;
	z-index: 99;
	.nav {
		display: flex;
		align-items: center;
		height: rem(100);
		.iconfont {
			font-size: rem(46);
		}
		.list {
			flex: 1;
			text-align: center;
			color: #cccccc;
			display: flex;
			flex-direction: column;
			&.active {
				color: #69c654;
			}
			p {
				font-size: rem(24);
			}
		}
	}
}
.Menu-style{
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 99;
	background-color: #fff;
	.nav{
		display: flex;
		align-items: center;
		justify-content: space-around;
		height: rem(120);
		font-size: rem(32);
		.list{
			border: rem(2) solid #666;
			padding: rem(16) rem(20);
			background-color: #A5A5A5;
			color: #fff;
			border-radius: rem(13);
			p{
				font-weight: bold;
			}
			&.active {
				color: #333;
			}
			&.cent{
				border-radius: rem(100);
			}
		}
	}
}
</style>
<style lang="scss">
.btm-100 {
	padding-bottom: rem(150);
}
</style>
