<template>
	<div class="nav-top">
		<span class="iconfont left-icon" v-if="!isHome" @click="$router.back(-1)">&#xe607;</span>
		<span class="iconfont left-icon" v-if="isHome" @click="$router.push('/my')">&#xe64d;</span>
		<div class="logo" v-if="logo">
			<img src="@/common/images/logo.png" alt="" v-if="false"/>
			<p :class="title != 'GMG' ? 'font-blod' : ''">{{ title }}</p>
		</div>
		<div class="text" v-if="!logo">{{ text }}</div>
		<div class="right-icon" v-if="isHome">
			<span class="iconfont" @click="$router.push('/news')" style="padding-right: 10px;">&#xe61c;</span>
			<span class="iconfont" @click="kefu">&#xe673;</span>
			<span class="num" v-if="num">{{num}}</span>
		</div>
		<div class="right-icon" v-if="quesShow"><span class="iconfont ques" @click="goQuestion">&#xe6d7;</span></div>
	</div>
</template>
<script>
	import pitpatSound from '@/common/music/notice.mp3'
	export default {
		name: 'navTop',
		props: {
			isHome: {
				type: Boolean,
				default: false
			},
			logo: {
				type: Boolean,
				default: true
			},
			text: {
				type: String,
				default: ''
			},
			title: {
				type: String,
				default: 'GMG'
			},
			quesShow: {
				type: Boolean,
				default: false
			},
			Rout: {
				type: String,
				default: 'notice'
			}
		},
		data() {
			return {
				num: 0,
				timer: null,
				audio: null,
			};
		},
		methods: {
			goQuestion() {
				this.$router.push({
					path: '/rule',
					query: {
						sys: this.Rout
					}
				});
			},
			getunread() {
				this.$axios.post('/v1/pm/unread', {

				}, {
					headers: {
						authorization: localStorage.token,
						guid: localStorage.guid
					}
				}).then(res => {
					this.num = res.data.Data
					if (this.num != 0 && this.audio != null) {
						this.audio.play()
					}
				})
			},
			kefu() {
				this.$router.push('/customer')
			},
			timerf() {
				this.timer = setInterval(() => {
					this.getunread()
				}, 10000)
			},
			playmusic() {
				this.audio = new Audio();
				this.audio.src = pitpatSound;
				// let playPromise;
				// playPromise = this.audio.play();
				// if (playPromise) {
				// 	playPromise.then(() => {
				// 		// 音频加载成功
				// 		// 音频的播放需要耗时
				// 	}).catch((e) => {
				// 		// 音频加载失败
				// 	});
				// }
			},
		},
		created() {
			this.timerf()
		},
		mounted() {
			this.playmusic()
			this.getunread()
		},
		beforeDestroy() {
			clearTimeout(this.timer)
		}
	};
</script>

<style lang="scss" scoped>
	.nav-top {
		position: relative;
		height: rem(130);
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 rem(30);
		background-color: #fff;

		.logo {
			display: flex;
			align-items: center;

			img {
				width: rem(100);
				height: rem(100);
			}

			p {
				color: #dfd31f;
				font-size: rem(46);
				margin-left: rem(20);
				&.font-blod {
					font-weight: bold;
					color: #333;
					font-size: rem(48);
				}
			}
		}

		.text {
			font-size: rem(48);
			font-weight: bold;
		}

		.iconfont {
			font-size: rem(55);
		}

		.left-icon {
			display: inline-flex;
			position: absolute;
			top: 50%;
			left: rem(30);
			transform: translateY(-50%);
			color: #65c653;

			&.marl {
				left: rem(100);
			}

			&::before {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 100%;
				height: 100%;
				background-color: #000;
				border: inherit;
				border-color: #000;
				border-radius: inherit;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				opacity: 0;
				content: ' ';
			}

			&:active::before {
				opacity: 0.1;
			}
		}

		.right-icon {
			display: inline-flex;
			position: absolute;
			top: 50%;
			right: rem(30);
			transform: translateY(-50%);
			color: #69c654;

			.num {
				position: absolute;
				top: rem(-8);
				left: rem(-15);
				font-size: rem(24);
				background-color: red;
				color: #fff;
				border-radius: 50%;
				width: rem(35);
				height: rem(35);
				line-height: rem(35);
				text-align: center;
			}

			.iconfont {
				position: relative;

				&::before {
					position: absolute;
					top: 50%;
					left: 50%;
					width: 100%;
					height: 100%;
					background-color: #000;
					border: inherit;
					border-color: #000;
					border-radius: inherit;
					-webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					opacity: 0;
					content: ' ';
				}

				&:active::before {
					opacity: 0.1;
				}
			}

			.iconfont:last-child {
				margin-left: rem(20);
				color: #333;
			}

			.iconfont.ques {
				color: #FFC000;
			}
		}
	}
</style>
