<template>
	<div class="tip">
		<span class="iconfont">&#xe6dc;</span>
		<p>{{info}}</p>
	</div>
</template>

<script>
	export default{
		props: {
			info: {
				type: String,
				default: '重要提示：請閣下（女士）在拆入時仔細核對資訊，避免資金損失。'
			}
		},
	}
</script>

<style lang="scss" scoped>
.tip {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: rem(50);
	.iconfont {
		font-size: rem(36);
		color: rgb(255, 102, 0);
	}
	p {
		padding-left: rem(15);
		color: #888888;
		font-size: rem(20);
	}
}
</style>
