<template>
	<div class="pwd-lock">
		<van-popup v-model="show" :close-on-click-overlay="false">
			<div class="lock-cont">
				<div class="title">超時重新輸入密碼</div>
				<div class="cont"><input type="password" v-model="pass" /></div>
				<div class="btn-box"><div class="btn" @click="login">確定</div></div>
			</div>
		</van-popup>
	</div>
</template>

<script>
export default {
	data() {
		return {
			show: false,
			pass: '',
			titmer: null
		};
	},
	watch: {
		$route(to, from) {
			this.pwdlockShow();
		}
	},
	methods: {
		pwdlockShow() {
			clearTimeout(this.titmer);
			this.titmer = setTimeout(() => {
				this.show = true;
			}, 300000);
		},
		login() {
			this.$axios
				.post('/v1/account/login', {
					Name: localStorage.phone,
					Password: this.pass
				})
				.then(res => {
					if (res.data.Code == 200) {
						this.show = false;
						this.pass = '';
						this.pwdlockShow();
					}else{
						this.$toast.fail('密碼錯誤')
					}
				});
		}
	},
	mounted() {
		this.pwdlockShow();
	}
};
</script>

<style lang="scss" scoped>
.pwd-lock {
	.lock-cont {
		.title {
			font-size: rem(28);
			text-align: center;
			padding: rem(15) 0;
			border-bottom: 1px solid #333;
		}
		.cont {
			input {
				height: rem(50);
				border-bottom: 1px solid #333;
				width: rem(300);
				padding: rem(10) rem(20);
				font-size: rem(50);
			}
		}
		.btn-box {
			text-align: center;
			margin: rem(15) 0;
			font-size: 0;
		}
		.btn {
			display: inline-block;
			font-size: rem(28);
			background-color: #fff2cc;
			border: 1px solid #2c7fb8;
			padding: rem(5) rem(20);
			border-radius: rem(10);
		}
	}
	.van-popup {
		border-radius: rem(16);
	}
}
</style>
