.container-fluid {
    padding: 0 !important;
    font-family: "微軟正黑體";
}
#loader {
    color: #008cff;
    height: 40px;
    width: 30%;
    position: absolute;
    font-family: "Helvetica Neue", "calibiri";
    font-size: 14px;
    top: 45%;
    left: 45%;
}
.e-listview .e-list-item {
    background-color: #383f48;
    color: #fff;
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}   
#list {
    box-shadow: 0 1px 4px #ddd;
    border-bottom: 1px solid #ddd;
}
#sample {
    height: 220px;
    margin: 0 auto;
    display: block;
    max-width: 350px;
}
#panetext {
    font-size: 16px;
}
#pane-heading {
    font-size: 18px;
    margin-bottom: 4px;
}
.pane1 {
    margin: 0;
    max-width: 100%;
}

.control-section{            
    min-height: 370px;
    margin-bottom: 15px;
    margin-top: 10px;    
}

.e-badge-pill{
    width: 2.5em;
}

.headerContainer {
    height: 48px;
    line-height: 48px;
    background: rgb(2, 120, 215);
    color: white;
    margin-bottom: 3px;
    
}
.footerContainer {
    display: block;
    border:1px #fff;
    height: 48px;
    line-height: 48px;
  
    color: white;
    margin-bottom: 1px;
}
.headerContainer .e-input-group {
    margin-left: 0;
    width: 100%;
    background: white;
    height: 34px;
    top: 8px;
}

.headerContainer #search {
    height: 100%;
    margin-left: 10px;
    font-size: 18px;
}

#listDialog .input_name {
    margin-bottom: 20px;
}

.headerContainer #add,
.headerContainer #sort {
    float: right;
    margin-right: 45px;
    margin-top: 11px;
    background: white;
    color: black
}

.headerContainer .e-input-search::before {
    font-family: 'e-icons';
    content: '\e961';
    margin-top: 3px;
}

.headerContainer .e-input-group .e-input-search {
    padding: 0 10px 0 10px;
}
.e-list-item{
    clear: both;
    display: block;
}
.e-list-item .listgrid1 {
   
    width: 75%;
    float: left;
    padding: 0;

}
.e-list-item .listgrid2 {
    
    width: 15%;
    float: left;
    padding: 0;
  
}
.e-list-item .listgrid3 {
   
    width: 10%;
    float: left;
    padding: 0;
 
}


#element .e-delete-btn {
    float: left;
    visibility: hidden;
    width: 1.8em;
    height: 1.8em;
    margin-top: 8px;
}
#element .e-edit-btn {
    float: left;
    visibility: hidden;
    width: 1.8em;
    height: 1.8em;
    margin-top: 8px;
    margin-right: 5px;
}
#element .e-round .delete-icon {
    font-size: 8px;
}
#element .e-round .edit-icon {
    font-size: 8px;
}
#element .e-list-item:hover .e-delete-btn {
    visibility: visible;
    background:lightslategray;
    border-radius: 50%;
}
#element .e-list-item:hover .e-edit-btn {
    visibility: visible;
    background:lightslategray;
    border-radius: 50%;
}



#element .categorycount {
    text-align: center;
}
#querySet .e-delete-btn {
    float: left;
    visibility: hidden;
    width: 1.8em;
    height: 1.8em;
    margin-top: 8px;
}
#querySet .e-edit-btn {
    float: left;
    visibility: hidden;
    width: 1.8em;
    height: 1.8em;
    margin-top: 8px;
    margin-right: 5px;
}
#querySet .e-round .delete-icon {
    font-size: 8px;
}
#querySet .e-round .edit-icon {
    font-size: 8px;
}
#querySet .e-list-item:hover .e-delete-btn {
    visibility: visible;
    background:lightslategray;
    border-radius: 50%;
}
#querySet .e-list-item:hover .e-edit-btn {
    visibility: visible;
    background:lightslategray;
    border-radius: 50%;
}



#querySet .categorycount {
    text-align: center;
}
.footerContainer .e-add-icon::before {
    float:right;
    content: '\e823';
}
.e-btn, .e-css.e-btn {
 
    width: 100%;
    
}
#element .delete-icon::before {
    
    content: '\e965';
    color: white;
}
#element .edit-icon::before {
    content: '\e81e';
    color: white;
}
#querySet .edit-icon::before {
    content: '\e81e';
    color: white;
}
.headerContainer .e-sort-icon-ascending::before {
    content: '\e840';
}

.headerContainer .e-sort-icon-descending::before {
    content: '\e83f';
}
/* Search Box*/
.queryblock{
    width: 100%;
    position: relative;
}
.e-searchinput::before{
    margin: 0 auto;
    font-family: 'e-icons';
    content: '\e961';
  }
  .e-searchinput{
    float:right;
    position:absolute;
    right:1px;
    z-index:10;  
    transform: translate(0%, -50%);
      
  }

  #searchbox1{
    display: inline-block;
    vertical-align: middle;
    background: transparent;
    border: 0 transparent;
    box-sizing: border-box;
    height: 15px;
    width:15px;
    position:absolute;
    right:1px;
    visibility:hidden;
    transform: translate(0%, -50%);
    transition: all .5s linear;
    z-index:99;
  }
  #searchbox2{
    display: inline-block;
    vertical-align: middle;
    background: transparent;
    border: 0 transparent;
    box-sizing: border-box;
    height: 15px;
    width:15px;
    position:absolute;
    right:1px;
    visibility:hidden;
    transform: translate(0%, -50%);
    transition: all .5s linear;
    z-index:99;
  }
  .e-query-icon {
    border:2px #999 solid;
    padding-top:3px;
    padding-bottom:2px;
    padding-right:6px;
    padding-left:6px;
    border-radius: 4px;
    margin-right:-2px;
   }
  .e-query-icon:before {
    font-family: 'e-icons';
    content: '\e961';
    font-size:0.5em;
    top: -11px;
    position: absolute;
   }
   .e-process-icon:before {
    font-family: 'e-icons';
    content: '\e99d';
    font-size:0.7em;
   }
  .e-close-icon:before {
    font-family: 'e-icons';
    content: '\e932';
    font-size:0.7em;
   }
   span#tab1searchguide {
    height: 2.5em;
    width: 2.4em;
    position: relative;
    top: 2em;
    
}
span#tab2searchguide {
    height: 2.5em;
    width: 2.4em;
    position: relative;
    top: 2em;
    
}
.e-query-builder {
    margin: 0 auto;
  }

.bootstrap-switch,
.bootstrap-switch .bootstrap-switch-container {
  border-radius: 2px; }

.bootstrap-switch .bootstrap-switch-handle-on {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px; }

.bootstrap-switch .bootstrap-switch-handle-off {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px; }

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
  color: #ffffff;
  background: #745af2; }

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-info,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-info {
  color: #ffffff;
  background: #398bf7; }

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success {
  color: #ffffff;
  background: #06d79c; }

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-warning,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-warning {
  color: #ffffff;
  background: #ffb22b; }

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-danger,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-danger {
  color: #ffffff;
  background: #ef5350; }

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default {
  color: #263238;
  background: #e9edf2; }

.onoffswitch {
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.onoffswitch-checkbox {
  display: none; }

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #06d79c;
  border-radius: 20px; }

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s; }

.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.onoffswitch-inner:before {
  content: "ON";
  padding-left: 27px;
  background-color: #06d79c;
  color: #FFFFFF; }

.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 24px;
  background-color: #EEEEEE;
  color: #999999;
  text-align: right; }

.onoffswitch-switch {
  display: block;
  width: 23px;
  margin: 6px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  border: 2px solid #06d79c;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s; }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0; }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; }
