.indexsentimental{
  margin-top: -50px !important;
}
body{
    color: azure;
    font-size: 14px;
}
hr {

    /* Set the hr color */
    color: rgba(196, 188, 188,0.2); /* old IE */
    background-color: rgba(240, 240, 240, 0.15); /* Modern Browsers */
}
#persona-attribute hr{
    background-color:rgba(217, 217, 50, 0.25);
}
#persona-attribute .card {
    border: 2px solid azure;
    border-radius: 8px;
}
#persona-attribute td{
    white-space: nowrap;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 2px;
    margin-left: 2px;

}
.att-table-body td {
    border-color: #f3f1f1;
    font-size: 12px !important;
}
#bannertxt{
    font-size: 24px;
    border-radius: 8px;
}
.dropify-wrapper{
    border-radius: 10px;
    width:90%;
    height:100px !important;
    
}
.footer{
    background-color: #383f48;
    color: #ffc;
}
.group_list_fnt{
    color: #fff;
    font-size: 16px;
}

.srh-btn .ti-close{
    color: crimson;
    font-size: 30px;
}
 .modal-content{
    background-color: #323840;
    
}
.form-control {
    color: #ffc;

}
.indextab{
    font-size: 14px;
    color: #ffc;
}
.att-table-body{
    font-size: 13px;
}
.att-table-body tr td{
    padding: 0.55rem;
}
.dropify-wrapper{
    color: #fff !important;
    background-color: rgb(218, 216, 216) !important;
    
}
.social-widget .soc-header {
    
    font-size: 24px;
    color: #fff;
}
.social-widget .soc-content {
    background-color: #777;
    
    border-color: #ffc !important;
}
.text-muted .small{
    font-size: 12px;
}
ul.list-style-none li a {
    color: #fff;
    
}
.att-table-body .font-medium{
text-align: center;
}
.footable-odd{
    background-color: #262b32;
}
.table-striped tbody tr:nth-of-type(odd) {
    background: slategrey;
}
.b-r-g{
    border-right: 1px solid rgba(180, 180, 180, 0.637);
}
.b-l-g{
    border-left: 1px solid rgba(180, 180, 180, 0.637);
}
.m-lr-6{
    margin-left: 6px;
    margin-right: 6px;
}
.m-lr-10{
    margin-left: 10px;
    margin-right: 10px;
}
.m-lr-20{
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.p-t-60{
    padding-top: 60px;
}
#profile h3{
    color:rgba(231, 231, 190,0.8) !important;
}
.table td, .table th {
    border-color: #f3f1f1;
    font-size: 14px;
}
.inboxfnt{
    font-size: 14px;
}
#audience-segment{
    font-size: 12px;
}
#modalTable .modal-body {
    max-height: 800px;
}
.pagination > li > a, .pagination > li > span {
    color: #fff;
}
.fixed-table-container tbody .selected td {
    /*background-color: rgba(241, 218, 10,0.2);*/
    background-color: #FF8E97;
}
.card-body.inbox-panel {
    color: #000;
}
.select2-container{
    color: #000 !important;
}

