.vtabs .tabs-vertical {
    width: 190px;
    border-bottom: 0px;
    border-right: 1px solid rgba(120, 130, 140, 0.13);
    display: table-cell;
    vertical-align: top;}
#reporttab .vtabs .tabs-vertical {
    width: 160px;
    border-bottom: 0px;
    border-right: 1px solid rgba(120, 130, 140, 0.13);
    display: table-cell;
    vertical-align: top;}
#modeltbl th {
        font-weight: 400;
        font-size: 14px;
       
    }
   

    [id^='modeltbl']  td {
    height: 25px;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}
#exampleModal2 >.modal-dialog {
    width: 90%;
    height: 100%;
    padding: 10px;
    max-width: 1024px;
  }
  
#exampleModal2> .modal-content {
height: 100%;
border-radius: 0;
}
.vtabs {
    display: table;
    width: 100%;
}
div#tab1,#tab2,#tab3,#tab4,#tab5 {
    margin-top: -30px;
}
.waitingmodal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../../assets/images/auro-bull.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .waitingmodal {
    display: block;
}
tr th {
    padding-top: 15px;
    padding-bottom: 15px;
}
.dataTables_info{
    padding-top: 15px;
}
div#modeltbl_paginate {
    padding-top: 15px;
}
#codedesc  tr > th {
    border:1pt solid #cccccc;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f5f6f7;
}
#codedesc  tr > td{
    border:1pt solid #cccccc;
    padding-top: 10px;
    padding-bottom: 10px;
}

#modal1 .modal-dialog {
    max-width: 300px;
    margin: 1.75rem auto;
}
#exampleModal1 .modal-dialog {
    max-width: 350px;
    margin: 1.75rem auto;
}
.hrstyle{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 2px;
    border-top: 1px solid #000;
}