/*!pages/dashboard/dashboard.scss*/
[data-page=dashboard]{background-color:#F7F9FA}#dashboard .bd{padding:0 10px}
/*!pages/interval/interval.scss*/
#interval-container{color:#475669;margin-top:70px}#interval-container div.interval-label{padding:10px 12px;border-bottom:1px solid #EBEBEB}#interval-container div.interval-label>label{font-size:16px;margin-bottom:0}#interval-container div.interval-label>label .icon-help{vertical-align:sub}#interval-container div.interval-label .interval-relation{display:inline-block;float:right}#interval-container div.interval-label .interval-relation span.sa-switch{vertical-align:bottom}#interval-container .report-ops .interval-ops{padding:10px 12px}#interval-container .report-ops .interval-ops .interval-pos{font-size:14px;background:#C3E6D0;color:#2DCA93;text-align:center;display:inline-block;width:20px;border-radius:2px}#interval-container .report-ops .interval-ops [data-method=select-event]{display:inline-block}#interval-container .report-ops .filter-container:empty{display:none}#interval-container .report-chart{border-top:1px solid #EBEBEB}#interval-container #chartContainer{height:400px;width:100%;padding:10px 12px}#interval-container #tableContainer{border-top:1px solid #EBEBEB;padding:20px 12px 10px}#interval-container #charts-unit{width:75px}
/*!pages/noresult/noresult.scss*/
body[data-page=no-result]{background:#F7F9FA}#noResult{position:relative;height:100%;color:#99A9BF;font-size:14px;text-align:center}#noResult .inner{position:absolute;top:30%;width:100%}#noResult h3{margin:28px 0 8px;font-size:20px;font-weight:400}