@import './mixin.scss';
@import './variable.scss';

.content-logo {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	img {
		width: rem(100);
		height: rem(100);
	}
	p {
		color: #69c654;
		font-size: rem(40);
		margin-left: rem(20);
		&.font-blod {
			font-weight: bold;
			color: #333;
			font-size: rem(48);
		}
	}
}

.banner-box{
	img{
		width: 100%;
		height: rem(400);
		-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(250, 250, 250, 0.5)));
	}
}