@mixin extend-click($px){
  position: relative;
  &:before{
    content: '';
    position: absolute;
    top: $px + px;
    left: $px + px;
    right: $px + px;
    bottom: $px + px;
  }
}

@mixin clearfix {
  &:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    line-height: 0;
    overflow: hidden;
  }
  *height: 1%;
}

$browser: 75;
$browser-default-font-size: 16px !default;

@function  rem($px){
	@return ($px / $browser) * 1rem;
}