.Recon-main {
		width: 90%;
		margin: 0 auto;
		margin-top: rem(50);
		.list {
			display: flex;
			align-items: flex-end;
			justify-content: center;
			font-size: rem(30);
			margin-bottom: rem(60);
			.label {
				display: inline-block;
				width: rem(140);
				text-align-last: justify;
				padding-left: rem(10);
			}
			.input {
				border-bottom: 1px solid #333333;
				width: rem(330);
				margin-left: rem(10);
			}
			.iconfont {
				font-size: rem(30);
			}
		}
		.btn {
			text-align: center;
			padding-top: rem(30);
			button {
				position: relative;
				border: 0;
				color: #333;
				width: rem(300);
				height: rem(70);
				background: #67c553;
				border-radius: rem(8);
				font-size: rem(30);
				background-color: #FFC000;
				border: 1px solid #999;
				box-shadow: 0 0 rem(40) #f8ed45;
				&::before {
					position: absolute;
					top: 50%;
					left: 50%;
					width: 100%;
					height: 100%;
					background-color: #000;
					border: inherit;
					border-color: #000;
					border-radius: inherit;
					-webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					opacity: 0;
					content: ' ';
				}
				&:active::before {
					opacity: 0.1;
				}
			}
		}
	}