.main {
	width: 65%;
	margin: rem(80) auto 0 auto;

     .price-pr{
		 font-size: 18px;
		 text-align: center;
	 }
	.title {
		font-size: rem(50);
		text-align: center;
		margin-top: rem(50);
		margin-bottom: rem(30);
	}

	.cont {
		display: flex;
		position: relative;
		border-bottom: 1px solid #2c80bb;
		font-size: rem(70);
		padding:0 rem(50);
		.van-cell{
			padding: 0 rem(130) 0 rem(50);
			font-size: rem(40);
			padding-top: rem(6);
		}
		.trans{
			position: absolute;
			right: 0;
			bottom: 0px;
			font-size: rem(30);
			border: 1px solid #ccc;
			background-color: #EDEDED;
		}
		.van-field__control{
			font-size: rem(70);
		}
	}

	.tip {
		font-size: rem(28);
		color: #666;
		margin-top: rem(20);
		padding: 0 rem(30);
		display: flex;
		justify-content: center;
	}

	.tx-btn {
		position: relative;
		width: rem(250);
		height: rem(150);
		line-height: rem(150);
		border-radius: 50%;
		background-color: #fff2cc;
		border: 1px solid #2c7fb8;
		color: #333;
		font-size: rem(40);
		text-align: center;
		margin: 0 auto;
		margin-top: rem(140);
		font-weight: bold;
		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			height: 100%;
			background-color: #000;
			border: inherit;
			border-color: #000;
			border-radius: inherit;
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			opacity: 0;
			content: ' ';
		}
		&:active::before {
			opacity: 0.1;
		}
	}
}
