<template>
    <div id="main">
        <div id="left">
            left
        </div>
        <div id="right">
            <div class="top">
                <img src="../assets/banner.jpg" alt="">
            </div>
             <div class="bottom">bottom</div>  
        </div>

    </div>
</template>
<script>
export default {
    
}
</script>
<style type="text/css">
*{
    padding: 0;
    margin: 0;
}
#main{
    width :100%;
    margin:20px;
}
#main #left{
    width:13%;
    height:700px;
    float: left;
    margin-right:15px;

}
#main #right{
    width:75%;
    float: left;
    margin-left:15px;
}
#right,#left{
    background-color: blueviolet;
}
#right .top img{
  width: 100%;
  height:300px;  
}
#right .bottom {
     height: 400px;
}
   
</style>