<!DOCTYPE html>
<html class="js">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>美食麻吉就愛拿坡里</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="css/form.css">
    <meta http-equiv="cleartype" content="on">
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script> -->
    <script src="js/src/angularjs.js"></script>
    <script src="js/src/angular-validator.js"></script>
    <script src="js/app/main.js"></script>

</head>

<body class="clearfix" data-twttr-rendered="true" ng-app="invoiceApp">

    <header id="header" style="opacity: 1; top: 0px;">

        <div class="row">

            <div class="col-12">

                <a id="logo" class="logo" href="https://www.0800076666.com.tw/">拿坡里</a>
                <div class="icon-nav">navigation</div>


                <nav>

                    <ul>

                        <li class="page_item page-item-5"><a href="#o2">發票登錄</a>
                        </li>
                        <li class="page_item page-item-7"><a href="#o3">活動贈品</a>
                        </li>
                        <li class="page_item page-item-9"><a href="#o4">得獎名單</a>
                        </li>
                        <li class="page_item page-item-2 current_page_item"><a href="#o1">活動辦法</a>
                        </li>
                    </ul>

                </nav>

            </div>

        </div>

    </header>

    <div class="content clearfix">

        <section class="main">

            <div class="col-7 align-c banner2" style="visibility: visible; left: 0%; opacity: 1; background-color:#E71F19" ;>
                <img src="pic/case002.gif" style="width:1280px;" alt="美食麻吉就愛拿坡里">
            </div>



        </section>
        <!-- / content-detail -->


        <section class="main">

            <div class="col-8 align-c banner" style="visibility: visible; left: 0%; opacity: 1; background-color:#E71F19" ;>
                <img src="pic/case003.gif" style="width:768px;" alt="美食麻吉就愛拿坡里">
            </div>



        </section>
        <!-- / content-detail -->


        <div style="background-color:#533E2D; height:50px;"></div>



        <section id="o2" class="main " style=" background-color:#333; background:url(pic/wood2.png); background-size:100% auto; background-repeat:repeat-y; background-color:#788B54;">
            <div class="row">

                <div id="img-main" class="col-4 align-c" style="visibility: visible; left: 0%; opacity: 1;">
                    <img class="major preload" src="pic/pizza2.png" alt="pizza">
                </div>

                <div class="col-5 text-main">
                    <div style="width:60px; margin:20px;">
                        <a href="#"><img class="major preload" src="pic/gotop.png">
                        </a>
                    </div>
                    <h1 style="color:#CFF;margin:10px;">發票登錄</h1>
                    <br>




                    <form ng-controller="validCntrl as valid" class="form-horizontal " angular-validator-submit="submitMyForm()" name="myForm" novalidate angular-validator style="margin:10px;">
                        <fieldset>

                            <!-- Form Name -->

                            <div class="control-group col-xs-12">
                                <label class="control-label" for="invoice">發票號碼</label>
                                <div class="controls">
                                    <input id="invoice" name="invoice" type="text" placeholder="Invoice" class="input-medium" validate-on="blur" ng-model="form.invoice" ng-pattern="/^[A-Za-z]{2}\d{8}/" invalid-message="'發票格式錯誤'" required-message="'發票欄位必填'" maxlength="10" required>

                                </div>
                            </div>

                            <!-- Text input-->

                            <div class="gap"></div>

                            <div class="control-group col-xs-12">
                                <label class="control-label" for="amount">金額</label>
                                <div class="controls">
                                    <input id="amount" name="amount" type="text" placeholder="Amount" class="input-medium" validate-on="blur" ng-model="form.amount" ng-pattern="/^\d/" invalid-message="'金額格式錯誤'" required-message="'發票金額欄位必填'" maxlength="5" required>

                                </div>

                            </div>

                            <!-- Text input-->
                            <div class="gap"></div>

                            <div class="control-group col-xs-12 form-inline" ng-controller="storeCntrl">

                                <div class="col-xs-12 padding ">
                                    <label class="control-label">選擇門市</label>
                                    <select id="city" name="city" class="input-medium" ng-model="states" ng-options=" (country|filter1) for (country, states) in countries">
                                        <option value=''>城市</option>
                                    </select>
                                    <select id="selectbasic" name="selectbasic" class="input-medium" ng-disabled="!states" ng-model="cities" ng-options="(state ) for (state,city) in states">
                                        <option value=''>區域</option>
                                    </select>


                                    <select id="store" name="store" class="input-medium" ng-disabled="!cities || !states" ng-model="city" ng-change="changeStore(city)">
                                        <option value=''>門市</option>
                                        <option ng-repeat="city in cities" value='{{city}}'>{{city}}</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Select Basic -->

                            <div class="gap"></div>
                            <div class="gap"></div>
                            <div class="gap"></div>
                            <div class="gap"></div>
                            <!-- Text input-->
                            <div class="control-group col-xs-12">
                                <label class="control-label" for="name">姓名</label>
                                <div class="controls">
                                    <input id="name" name="name" type="text" placeholder="Name" ng-model="form.name" class="input-medium" required>

                                </div>
                            </div>
                            <div class="gap"></div>
                            <!-- Text input-->
                            <div class="control-group col-xs-12">
                                <label class="control-label" for="phone">電話</label>
                                <div class="controls">
                                    <input id="phone" name="phone" type="text" placeholder="Phone" class="input-medium" validate-on="blur" ng-model="form.phone" ng-pattern="/^\d/" invalid-message="'電話格式錯誤'" required-message="'電話欄位必填'" required>

                                </div>
                            </div>
                            <div class="gap"></div>
                            <!-- Text input-->
                            <div class="control-group col-xs-12">
                                <label class="control-label" for="email">電子郵件</label>
                                <div class="controls">
                                    <input type="email" name="emailAddress" ng-model="form.emailAddress" invalid-message="'非正確電子郵件格式'" required-message="'電子郵件為必填'" validate-on="blur" requiredclass="input-medium">

                                </div>
                            </div>
                            <div class="gap"></div>
                            <!-- Text input-->
                            <div class="control-group col-xs-12">
                                <label class="control-label " for="ename">如果中特獎，姓名瓶上你會寫_________

                                </label>
                                <p>(中文最多四個字，英文最多七個字，中英不得混雜)</p>
                                <div class="controls">
                                    <input id="ename" name="ename" type="text" placeholder="Print Name" ng-model="form.ename" requiredclass="input-medium" maxlength="8" required>

                                </div>
                            </div>
                            <div class="gap"></div>
                            <!-- Text input-->


                            <div class="gap"></div>
                            <div class="gap"></div>
                            <div class="gap"></div>
                            <div class="gap"></div>
                            <!-- Button (Double) -->
                            <div class="control-group col-xs-12 padding-up">
                                <label class="control-label" for="button1id"></label>

                                <div class="controls">
                                    <button type="submit" id="button1id" name="button1id" class="btn btn-success">確認送出</button>
                                    <button type="reset" id="button2id" name="button2id" class="btn btn-danger">清除重填</button>
                                </div>
                            </div>
                            <div class="gap"></div>
                            <div class="gap"></div>
                            <div class="gap"></div>
                            <div class="gap"></div>
                        </fieldset>
                    </form>


                </div>
            </div>

        </section>

        <div style="background-color:#533E2D; height:50px;"></div>

        <section id="o3" class="main" style=" background:url(pic/wood3.png); background-size:100% auto; background-repeat:repeat-y; background-color:#906;">
            <div class="row">

                <div id="img-main" class="col-4 align-c" style="visibility: visible; left: 0%; opacity: 1;">
                    <img class="major preload" src="pic/pizza3.png" alt="pizza">
                </div>
                <div class="col-4 text-main">
                    <div style="width:60px; margin:20px;">
                        <a href="#"><img class="major preload" src="pic/gotop.png">
                        </a>
                    </div>
                    <h1 style="color:#FCF; margin:20px;">活動贈品</h1>
                    <br>

                    <p style="color:#FCF ;margin:20px;">圖片僅供參考，實際贈品以實物為準</p>
                    <br>

                    <div style="width:320px;float:left;">
                        <img class="major preload" src="pic/gift1.png">
                    </div>
                    <div style="width:320px;float:left;">
                        <img class="major preload" src="pic/gift2.png">
                    </div>
                    <div style="width:320px;float:left;">
                        <img class="major preload" src="pic/gift3.png">
                    </div>
                    <div style="width:320px;float:left;">
                        <img class="major preload" src="pic/gift4.png">
                    </div>
                    <div style="width:320px;float:left;">
                        <img class="major preload" src="pic/gift5.png">
                    </div>
                    <div style="width:320px;float:left;">
                        <img class="major preload" src="pic/gift6.png">
                    </div>
                    <div style="width:320px;float:left;">
                        <img class="major preload" src="pic/gift7.png">
                    </div>
                    <div style="width:320px;float:left;">
                        <img class="major preload" src="pic/gift8.png">
                    </div>

                </div>
            </div>

        </section>

        <div style="background-color:#533E2D; height:50px;"></div>

        <section id="o4" class="main" style=" background:url(pic/wood4.png); background-size:100% auto; background-repeat:repeat-y; background-color:#D6CAB8;">
            <div class="row">
                <div class="col-5 text-main ">
                    <div style="width:60px; margin:20px;">
                        <a href="#"><img class="major preload" src="pic/gotop.png">
                        </a>
                    </div>
                    <h1 style="color:#FFF; margin:20px;">得獎名單</h1>
                    <br>
                    <p style="color:#CCC ; margin:20px; font-size:18px;">尚未開獎　敬請期待</p>



                </div>
            </div>

        </section>

        <div style="background-color:#533E2D; height:50px; "></div>



        <section id="o1" class="main" style=" background:url(pic/wood.png); background-size:100% auto; background-repeat:repeat-y; background-color: #864300;">
            <div class="row" style="margin-bottom:5%;">

                <div id="img-main" class="col-4 align-c" style="visibility: visible; left: 0%; opacity: 1;">
                    <img class="major preload" src="pic/pizza1.png" alt="pizza">
                </div>


                <div id="text-main" class="col-5 text-main" style="visibility: visible; right: 0%; opacity: 1;">
                    <div style="width:60px; margin:20px;">
                        <a href="#"><img class="major preload" src="pic/gotop.png">
                        </a>
                    </div>
                    <h1 style="color:#FC9; margin:10px;">活動辦法</h1>
                    <br>

                    <p style="color:#FC9; margin:10px;">活動期間：2015/06/01(一)~2015/07/23(四)</p>
                    <br>


                    <p style="color:#FC9; margin:10px;">於拿坡里消費滿250元，上網登錄發票號碼即可參加抽獎，有機會抽中HTC Desire EYE 愛自拍手機、拿坡里一年份全家炸雞餐(12張)、“可口可樂”專屬特製姓名瓶等驚喜好禮，快上網登錄!</p>
                    <br>

                    <p style="color:#FC9; margin:10px;">活動獎項：(圖片僅供參考，實際贈品以實物為準)
                        <br>
                        <br> 1. 特獎 -可口可樂®專屬姓名曲線玻璃瓶乙瓶 (共100名)
                        <br> 2. 頭獎 - HTC Desire EYE 手機乙隻 (參考市值：13,900元，共1名)
                        <br> 3. 二獎 -拿坡里 全家炸雞餐1年份(12張餐券) (參考市值：8,400元，共3名)
                        <br> 4. 三獎 - FUJIFILM instax mini 25 拍立得乙台 (參考市值：3,980元，共10名)
                        <br> 5. 四獎 -可口可樂®紙相機乙台 (參考市值：1,790元，共25名)
                        <br> 6. 五獎 -可口可樂®手機鏡頭夾乙組 (參考市值：399元，共270名)
                        <br> 7. 六獎 -可口可樂®束口袋乙個 (參考市值：150元，共360名)
                        <br> 8. 七獎 -可口可樂®相片夾乙組 (參考市值：79元，共2500名)
                    </p>
                    <br>

                    <p style="color:#FC9; margin:10px;">兌獎說明：
                        <br>
                        <br> ＊　特獎、頭獎、二獎、三獎、四獎中獎者，主辦單位將以簡訊、E-mail方式通知中獎者並附上所需填寫之領獎確認書。中獎者填妥領獎確認書並檢附中獎發票影本於2015年8月5日前(以郵戳為憑）以掛號郵件寄至『10434台北市中山區建國北路二段145號5F《美食麻吉就愛拿坡里》活動小組 收』，逾期視同放棄兌獎權利。其他兌獎疑問請洽《美食麻吉就愛拿坡里》活動小組，活動專線：02-2503-1111#4018 (服務時間週一～週五10：00～17：00不含例假日)。
                        <br>
                        <br> ＊　五獎至七獎得獎者，攜帶中獎發票正本及有姓名之證件，於2015年8月10日後至原中獎門市領取，領取截止時間至2015年9月2日止。

                        <br>
                        <br> ＊　「可口可樂」專屬姓名曲線玻璃瓶(內容物為「可口可樂」汽水，容量250ml)訂製只能選擇中文版或英文版名字(字數限制包含空白：中文最多四個字，英文最多七個字)，不能中、英文混雜且名字不應夾雜髒話、暴力、歧視、不雅等有違法規之文字或已登記註冊商標品牌名稱之引用。可口可樂公司保留專屬姓名玻璃瓶訂製申請需求審核權利。請在保存期限內飲用本贈品，若在保存期限外收藏，建議清空瓶內飲料和清洗。

                        <br>
                        <br> ＊　頭獎「HTC Desire EYE 手機」及三獎「FUJIFILM instax mini 25 拍立得」顏色、款式及型號恕不挑選，產品皆為公司貨，保固及產品相關問題請洽製造商。

                        <br>
                        <br> ＊　二獎拿坡里一年份全家炸雞餐餐券為12張，一張兌換券可兌換一套全家炸雞餐包含1桶九塊義式炸雞、1個小披薩及1瓶1250ml飲料，詳情使用方式請見券面說明。

                        <br>
                        <br> ＊　四獎「可口可樂®紙相機」重量85g，厚度1.2cm，500萬像素，含8G記憶卡，保固及產品相關問題請洽製造商。

                        <br>
                        <br> ＊　五獎「可口可樂®手機鏡頭夾」內含廣角、微距與魚眼三種一組鏡頭，保固及產品相關問題請洽製造商。
                        <br>
                        <br>
                    </p>

                    <p style="color:#CCC ; margin:20px; font-size:11px;">注意事項：
                        <br>
                        <br> 1. 抽獎發票必須為拿坡里門市於活動期間(2015/6/1-2015/7/23)內開立。
                        <br>
                        <br> 2. 抽獎發票最後登錄時間為2015/7/23 23:59截止。請您妥善保管登錄的發票或憑證正本，（若發票正本需保留作報稅憑証，則可先影印影本留存以便日後兌獎使用），作為日後中獎時核驗之用，遺失則無法兌獎，視同放棄中獎權益。
                        <br>
                        <br> 3. 一張發票或憑證號碼，限登錄一次，重複輸入視同無效，若經系統檢核資料有誤，將不具抽獎資格。
                        <br>
                        <br> 4. 2015/7/24正式抽獎，經主辦單位法務人員見證下，透過電腦系統亂數抽獎產生幸運得主，得獎名單將會於2015/07/28 17:00前正式公告於活動網頁中。
                        <br>
                        <br> 5. 本活動獎項寄送地區僅限台、澎、金、馬，主辦單位不處理郵寄獎品至海外地區等地之事宜。
                        <br>
                        <br> 6. 參加者參與本活動，即同意接受本活動之辦法與注意事項規範，如違反則主辦單位得取消其參加或得獎者資格，並就因此所產生之損害，得向參加者請求損害賠償。
                        <br>
                        <br> 7. 敬請確認個人資料正確性，若因個人資料有誤造成無法聯繫與寄送，視同放棄中獎權利。
                        <br>
                        <br> 8. 主辦單位就本活動參加者之資格，保有審查之權利，若以惡意之電腦程式或其他明顯違反活動公平性之方式，或經查核有不符合本活動規定之參加資格者，一經本公司發現或經第三人檢舉，主辦單位除得立即取消參賽者之參賽、得獎資格，並得追回獎品。
                        <br>
                        <br> 9. 本活動如任何因電腦、網路、電話、技術或其他不可歸責於主辦單位之事由，而使參與本活動者 所登錄之資料有遺失、錯誤或毀損所導致資料無效之情況，主辦單位及其活動小組不負任何法律責任，參加者與得獎者亦不得異議。
                        <br>
                        <br> 10. 本活動者所登錄之資料有遺失、錯誤或毀損所導致資料無效之情況，主辦單位及其活動小組不負任何法律責任，參加者與得獎者亦不得異議。
                        <br>
                        <br> 11. 本活動因不可抗力之特殊原因無法執行時，主辦單位有權決定取消、終止、修改或暫停本活動。
                        <br>
                        <br> 12. 參加活動之登錄發票視同承認本規定之效力，如有未盡事宜，主辦單位保留、修改、終止、變更活動內容細節之權利，且不另行通知。 本次活動所留之個人資料，主辦單位僅為此抽獎活動一次性使用，活動結束後將不保留任何參加者之完整資料。
                        <br>
                        <br> 13. 獎項說明未盡之事宜，依中獎通知單說明為主，中獎者不得要求更改獎項或兌換現金、折讓或任何調整事項。
                        <br>
                        <br> 14. 本公司將於中獎憑證寄達後陸續寄出獎項(中獎名單公布次月15號前未收到者，請來電活動小組)，將獎項直接寄送至收據上所載之寄送地址。
                        <br>
                        <br> 15. 中獎者應遵守各獎項兌換辦法即可兌換；倘未依約定者，視為放棄中獎權利。
                        <br>
                        <br> 16. 本次活動主辦單位為拿帕里股份有限公司，贊助廠商為香港商可口可樂有限公司台灣分公司及英屬維京群島商太古食品(股)公司台灣分公司。主辨單位、活動協辦機構及贊助廠商之員工均不得參加本活動，以示公允。
                        <br>
                        <br> 17. 主辦單位僅使用參加者所提供之個人資料於此次活動用途，且遵守【個人資料保護法】相關規定，以維護參加者權益。中獎人同意中獎相關個人資訊由主辦單位於活動範圍內進行蒐集、電腦處理及利用，但不做其他用途，中獎人並授權主辦單位得公開公佈姓名。
                        <br>
                        <br> 18. 中獎人同意依台灣相關稅法規定繳納稅捐，並同意主辦單位得依相關法令代扣(繳納)相關稅捐。依中華民國稅法規定，得獎價值超過NT$1,001(含)元以上者，需繳交身分證影本供報稅使用，年度報稅時將計入個人所得。贈品價值超過NT$20,000元，依法需繳交10%稅金，填寫扣繳憑單並於次年度寄發所得扣(免)繳憑單。在台灣居住未滿6個月者或外國人身分者，需繳交20%稅金。得獎者將於2016年初收到2015年度活動協辦機構開立之中獎所得扣繳憑單。得獎者若不願意配合，則視為自動棄權，不具得獎資格。
                        <br>
                        <br> 19. 如因寄送過程中發生信件遺失、延遲、信封破損或其他不可歸責於主辦單位之原因，導致中獎憑證遺失或無法辨識，或中獎人資料填寫不完整或不清楚，導致未能或不符資格兌獎，中獎者同意主辦單位無需為此負任何責任。
                        <br>
                        <br> 20. 參加者必須年滿13歲。此外，未滿20歲之得獎者，視同父母或監護人中獎，由父母或監護人代為領獎。
                        <br>
                        <br> 21. 中獎者須同意遵守各獎品供應商所列有關獎品之各項條款及細則。倘若發生產品瑕疵及相關保固問題，均由該獎項供應商維修與保固，中獎人應逕向該供應商直接詢問。
                        <br>
                        <br> 22. 獎品以實物為準，得獎人不得要求將獎贈品轉讓他人、折換現金或替換為其他產品。
                        <br>
                        <br> 23. 所有中獎憑證須經主辦單位檢核並以主辦單位審核為依準；任何不完整、損毀、偽造、經改動的、複製或超過兌獎期限的憑證均無效。
                        <br>
                        <br> 24. 活動參加者需保證所有填寫或提出之資料均為真實且正確，並未冒用或盜用他人資料，如有不實或不正確資訊，主辦單位將取消其中獎資格，並就其損害主辦單位或任何第三人權益，保留一切民、刑事訴追之責。
                        <br>
                        <br> 25. 主辦單位保留修改活動與獎項細節的權利，無須事前通知，並有權對本活動所有事宜作出解釋或裁決。如本活動因不可抗力之特殊原因無法執行時，主辦單位有權決定取消、終止、修改或暫停本活動，如有任何未盡事宜均應受中華民國法律約束。
                        <br>
                        <br> 26. 圖片僅供參考，獎品以實物為準。本活動之所有獎品不得轉換、轉讓或折換現金，如遇不可抗力之因素，主辦單位保留更換其他等值獎項之權利。中獎者同意主辦單位對所有領取或使用獎品之後果概無須負責。
                        <br>
                        <br> 27. 消費者於參加本活動之同時，即同意接受本活動所有內容及細則之規範，如有違反本活動注意事項之行為，活動小組得取消其中獎資格，並對於任何破壞本活動之行為保留法律追訴權。



                        <br>
                        <br>
                        <br>
                    </p>

                    <p style="color:#CCC ; margin:20px; font-size:11px;">
                        兌獎說明：
                        <br> 以下為簡略說明，實際請以通知說明內容為準:
                        <br> 1.特獎、頭獎、二獎、三獎及四獎 領獎流程：
                        <br> 　　　中獎名單公布 (7/28)
                        <br>　　　　　　↓
                        <br> E-mail通知中獎者並附所需填寫之中獎資料(7/28)
                        <br>　　　　　　↓
                        <br> 中獎者回覆中獎資料(8/5前寄出)
                        <br>　　　　　　↓
                        <br> 主辦單位寄出獎項（8/30前寄出）
                        <br>
                        <br>
                        <br> 2.)五獎、六獎、七獎 領獎流程說明：
                        <br> 中獎名單公布並以Email通知 (7/28)
                        <br>　　　　　　↓
                        <br> 本公司寄發中獎通知(8/5前)
                        <br> *將依照得獎者於活動網站所填寫之購買門市到貨贈品!
                        <br>　　　　　　↓
                        <br> 得獎者攜帶中獎發票及證件至所填寫之門市領取獎品
                        <br> (領獎期間預定為2015/8/10-9/2，請以中獎通知內所述時間為準!)
                        <br>
                        <br>

                    </p>


                </div>

            </div>


        </section>










    </div>
    <!-- / content -->


    <footer id="footer" role="contentinfo" style="opacity: 1; top: 0px;">

        <div class="row">

            <div class="col-12">

                <div style="float:left; margin-bottom:25px;">
                    <img src="pic/sup.jpg">
                </div>

                <nav id="nav-footer">


                </nav>



            </div>

        </div>
    </footer>


    <script src="js/html5.js"></script>
    <script src="js/html5-print.js"></script>
    <script src="js/respond.js"></script>
    <script type="text/javascript" src="js/jquery.form.min.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
    <script src="js/jquery.min(1).js"></script>
    






</body>

</html>