<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="js/src/angular-validator.js"></script>

<script src="js/app/main.js"></script>
<link rel="stylesheet" href="css/form.css">

<body ng-app="invoiceApp">
    <div class="container">

        <form ng-controller="validCntrl as valid" class="form-horizontal" angular-validator-submit="submitMyForm()" name="myForm" novalidate angular-validator>
            <fieldset>

                <!-- Form Name -->
                <legend>發票登錄</legend>

                <div class="control-group col-xs-12">
                    <label class="control-label" for="invoice">發票號碼</label>
                    <div class="controls">
                        <input id="invoice" name="invoice" type="text" placeholder="Invoice" class="input-medium" validate-on="blur" ng-model="form.invoice" ng-pattern="/^[A-Za-z]{2}\d{8}/" invalid-message="'發票格式錯誤'" required-message="'發票欄位必填'" maxlength="10" required>

                    </div>
                </div>

                <!-- Text input-->

                <div class="gap"></div>

                <div class="control-group col-xs-12">
                    <label class="control-label" for="amount">金額</label>
                    <div class="controls">
                        <input id="amount" name="amount" type="text" placeholder="Amount" class="input-medium" validate-on="blur" ng-model="form.amount" ng-pattern="/^\d/" invalid-message="'金額格式錯誤'" required-message="'發票金額欄位必填'" maxlength="5" required>

                    </div>

                </div>

                <!-- Text input-->
                <div class="gap"></div>

                <div class="control-group col-xs-12 form-inline" ng-controller="storeCntrl">

                    <div class="col-xs-12 padding ">
                        <label class="control-label">選擇門市</label>
                        <select id="city" name="city" class="input-medium" ng-model="states" ng-options=" (country|filter1) for (country, states) in countries" >
                            <option value=''>城市</option>
                        </select>
                        <select id="selectbasic" name="selectbasic" class="input-medium" ng-disabled="!states" ng-model="cities" ng-options="(state ) for (state,city) in states" >
                            <option value=''>區域</option>
                        </select>


                        <select id="store" name="store" class="input-medium" ng-disabled="!cities || !states" ng-model="city" ng-change="changeStore(city)">
                            <option value=''>門市</option>
                            <option  ng-repeat="city in cities" value='{{city}}' >{{city}}</option>
                        </select>
                    </div>
                </div>
                <!-- Select Basic -->

                <div class="gap"></div>
                <!-- Text input-->
                <div class="control-group col-xs-12">
                    <label class="control-label" for="name">姓名</label>
                    <div class="controls">
                        <input id="name" name="name" type="text" placeholder="Name" ng-model="form.name"  class="input-medium" required>

                    </div>
                </div>
                <div class="gap"></div>
                <!-- Text input-->
                <div class="control-group col-xs-12">
                    <label class="control-label" for="phone">電話</label>
                    <div class="controls">
                        <input id="phone" name="phone" type="text" placeholder="Phone" class="input-medium"  validate-on="blur" ng-model="form.phone" ng-pattern="/^\d/" invalid-message="'電話格式錯誤'" required-message="'電話欄位必填'"  required>

                    </div>
                </div>
                <div class="gap"></div>
                <!-- Text input-->
                <div class="control-group col-xs-12">
                    <label class="control-label" for="email">電子郵件</label>
                    <div class="controls">
                        <input type="email" name="emailAddress" ng-model="form.emailAddress" invalid-message="'非正確電子郵件格式'" required-message="'電子郵件為必填'" validate-on="blur" requiredclass="input-medium">

                    </div>
                </div>
                <div class="gap"></div>
                <!-- Text input-->
                <div class="control-group col-xs-12">
                    <label class="control-label " for="ename">如果中特獎，姓名瓶上你會寫_________
                    
</label>
                   <p >(中文最多四個字，英文最多七個字，中英不得混雜)</p>
                    <div class="controls">
                        <input id="ename" name="ename" type="text" placeholder="Print Name" ng-model="form.ename"  requiredclass="input-medium" maxlength="8" required>

                    </div>
                </div>
                <div class="gap"></div>
                <!-- Text input-->
   
                
                
                <!-- Button (Double) -->
                <div class="control-group col-xs-12 padding-up">
                    <label class="control-label" for="button1id"></label>
                    
                    <div class="controls">
                        <button type="submit.green" id="button1id" name="button1id" class="btn btn-success">確認送出</button>
                        <button type="reset" id="button2id" name="button2id" class="btn btn-danger">清除重填</button>
                    </div>
                </div>

            </fieldset>
        </form>



</body>

</html>