<!DOCTYPE html>
<html>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="js/src/angular-validator.js"></script>
<script src="js/src/angular-recaptcha.js"></script>
<script src="js/app/main.js"></script>
<link rel="stylesheet" href="css/form.css">

<body ng-app="invoiceApp">
    <div class="container">

         <form ng-controller="validCntrl" class="form-horizontal" angular-validator-submit="submitMyForm" name="myForm" novalidate angular-validator>
            <fieldset>

                <!-- Form Name -->
                <legend>發票登錄</legend>

                <div class="control-group col-xs-12">
                    <label class="control-label" for="invoice">發票號碼</label>
                    <div class="controls">
                        <input id="invoice" name="invoice" type="text" placeholder="Invoice" class="input-medium" validate-on="blur" ng-model="form.invoice" ng-pattern="/^[A-Za-z]{2}\d{8}/" invalid-message="'發票格式錯誤'" required-message="'發票欄位必填'" maxlength="10" required>

                    </div>
                </div>

                <!-- Text input-->

                <div class="gap"></div>

                <div class="control-group col-xs-12">
                    <label class="control-label" for="amount">金額</label>
                    <div class="controls">
                        <input id="amount" name="amount" type="text" placeholder="amount" class="input-medium">

                    </div>

                </div>

                <!-- Text input-->
                <div class="gap"></div>

                <div class="control-group col-xs-12 form-inline" ng-controller="storeCntrl">

                    <div class="col-xs-12 padding ">
                        <label class="control-label">選擇門市</label>
                        <select id="city" name="city" class="input-medium" ng-model="states" ng-options=" (country|filter1) for (country, states) in countries">
                            <option value=''>城市</option>
                        </select>
                        <select id="selectbasic" name="selectbasic" class="input-medium" ng-disabled="!states" ng-model="cities" ng-options="(state ) for (state,city) in states">
                            <option value=''>區域</option>
                        </select>


                        <select id="store" name="store" class="input-medium" ng-disabled="!cities || !states" ng-model="city">
                            <option value=''>門市</option>
                            <option ng-repeat="city in cities" value='{{city}}'>{{city}}</option>
                        </select>
                    </div>
                </div>


                <!-- Select Basic -->

                <div class="gap"></div>
                <!-- Text input-->
                <div class="control-group col-xs-12">
                    <label class="control-label" for="name">姓名</label>
                    <div class="controls">
                        <input id="name" name="name" type="text" placeholder="Name" class="input-medium">

                    </div>
                </div>
                <div class="gap"></div>
                <!-- Text input-->
                <div class="control-group col-xs-12">
                    <label class="control-label" for="phone">電話</label>
                    <div class="controls">
                        <input id="phone" name="phone" type="text" placeholder="Phone" class="input-medium">

                    </div>
                </div>
                <div class="gap"></div>
                <!-- Text input-->
                <div class="control-group col-xs-12">
                    <label class="control-label" for="email">電子郵件</label>
                    <div class="controls">
                        <input id="email" name="email" type="text" placeholder="EMail" class="input-medium">

                    </div>
                </div>
                <div class="gap"></div>
                <!-- Text input-->
                <div class="control-group col-xs-12">
                    <label class="control-label" for="ename">英文名( 8 碼)</label>
                    <div class="controls">
                        <input id="ename" name="ename" type="text" placeholder="English Name" class="input-medium">

                    </div>
                </div>
                <div class="gap"></div>
                <!-- Text input-->
                <div class="control-group col-xs-12">
                    <label class="control-label" for="comfirm">確認碼</label>
                    <div class="controls">
                        <input id="comfirm" name="comfirm" type="text" placeholder="" class="input-medium">

                    </div>
                </div>
                <div class="gap"></div>
                <!-- Button (Double) -->
                <div class="control-group col-xs-12">
                    <label class="control-label" for="button1id"></label>
                    <div class="controls">
                        <button type="submit" id="button1id" name="button1id" class="btn btn-success">確認送出</button>
                        <button id="button2id" name="button2id" class="btn btn-danger">清除重填</button>
                    </div>
                </div>

            </fieldset>
        </form>



</body>

</html>