/* main */
#row1 {
	height: calc(100vh - 100px);
}

#row2 {
	height: 150px;
	background-color: #F4F5F8;
}

#row1 .row1bg1 {

	background-image: url("../image/bn_01.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	/*
	width: 100%;
	  object-fit: cover;*/

}

#row1 .row1bg2 {
	background-image: url("../image/bn_02.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#row1 .row1bg3 {
	background-image: url("../image/bn_03.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.row1-text {
	margin-right: 30px;
	margin-left: 30px;
	margin-top: 30%;

}

#row1 .hint-text {
	padding-bottom: 10px;


}

#row1 .hero-text {
	padding-bottom: 2px;
}

#row1 .desc-text {
	padding-bottom: 20px;
}

#row1 #rowcol1-bottom {
	display: none;
}

#row1 #rowcol1-bottom {
	display: none;
}

#row2 .form-control {
	font-size: 0.9rem;
}

#row2 .btn {
	line-height: 1.35;
	width: 90%;
}

#row3 {
	background-color: #F4F5F8;
}

#row1btn1,#row1btn2,#row1btn3{
	display: none;
}
button.row1colbtn {
	border: 0;
	display: block;
	text-align: left;
	background: transparent;
	
}

.owl-theme .owl-nav.disabled + .owl-dots {
	margin-top: 30%;
}



@media (max-width: 991.98px) {
	#row1 {
		height: auto;
	}

	#row2 {
		height: auto;
	}

	#row3 {
		height: auto;
		background-color: #312d2a;
		display: none;
	}

	#row1 .row1bg1 {
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	.row1-text {
		margin-right: 35px;
		margin-left: 35px;
		margin-top: 10%;
	}

	#row1 .row1bg2 {
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	#row1 .row1bg3 {

		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	#row2 .btn {
		line-height: 1.4;
		width: 100%;
	}

	.owl-theme .owl-nav.disabled + .owl-dots {
		margin-top: 10%;
	}

}