<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="toTop" content="true">
		<title></title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/medi.css" />
		<link rel="stylesheet" type="text/css" href="css/swiper-4.3.3.min.css" />
		<link rel="stylesheet" type="text/css" href="css/jquery.fancybox.css" />
		<link rel="stylesheet" type="text/css" href="css/colorbox.css" />
	</head>

	<body>
		<header class="header">
			<div class="container">
				<div class="row max-hei">
					<div class="col-sm-8 col-xs-8">
						<a href="https://www.twnic.net.tw" target="_blank" class="tw-logo" style="float: left"><img src="img/icons/twnic_logo.svg"></a>
					</div>
					<div class="col-sm-4 hidden-xs nav-links">
						<div class="head-text">
							<a class="scroll-link button-1" href="#section2">活動訊息</a>
							<a class="scroll-link button-2" href="#section3">影音專區</a>
						</div>
						<div class="head-fbyout hidden-sm">
							<a href="https://www.facebook.com/twnicNEWS/" target="_blank"><img src="img/icons/facebook_logo.svg" /></a>
							<a href="https://www.youtube.com/channel/UCVY-vutrbDox3VD9Tuu50SQ/videos" target="_blank"><img src="img/icons/youtube_logo.svg" /></a>
						</div>
					</div>
					<div class="col-sm-4 col-xs-4 visible-xs text-right">
						<img class="sanheng" src="img/icons/hengpai.svg" />
						<div class="mob-tit">
							<a class="button-1" href="#section2">活動訊息</a>
							<a class="button-2" href="#section3">影音專區</a>
							<a href="https://www.facebook.com/twnicNEWS/" target="_blank"><img src="img/icons/facebook_logo.svg" /></a>
							<a href="https://www.youtube.com/channel/UCVY-vutrbDox3VD9Tuu50SQ/videos" target="_blank"><img src="img/icons/youtube_logo.svg" /></a>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="swiper-max">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide"><img src="img/TWNIC-banner_01.jpg" /></div>
					<div class="swiper-slide"><img src="img/TWNIC-banner_02.jpg" /></div>
					<div class="swiper-slide"><img src="img/TWNIC-banner_03.jpg" /></div>
				</div>
				<div class="swiper-pagination"></div>
			</div>
		</div>
		<div id="section2" class="apply-max">
			<div class="container">
				<div class="row">
					<div class="col-sm-4 col-xs-3">
						<div class="bor-b"></div>
					</div>
					<div class="col-sm-4 col-xs-6 text-center aply-text">
						<img src="img/add.png" />
						<a href="https://www.twnic.net.tw/dnservice_register_keep.php" target="_blank" title="翻轉域名at.tw">
							<h3 class="boldtitle">立即申請</h3></a>
					</div>
					<div class="col-sm-4 col-xs-3">
						<div class="bor-b"></div>
					</div>
				</div>
				<div class="active-text">
					<img class="" src="img/icons/arrow_icon-30x30.svg" />
					<h3 class="boldtitle">活動訊息</h3>
				</div>
				<div id="info-new">

				</div>
				<script id="new-add-info" type="text/template">
					<div class="row">
						{{#each this}}
						<div class="col-sm-6">
							<img class="img-top-bor" width="100%" src="{{info-img}}" />
							<p class="ac-main-text">{{info-txt}}</p>
							<div class="text-center">
								{{{info-href}}}
							</div>
						</div>
						{{/each}}
					</div>
				</script>
				<div class="text-center more">
					<img src="img/icons/down.svg" />
					<p id="more-info">更多活動訊息</p>
				</div>
			</div>
		</div>
		<div id="section3" class="video-max">
			<div class="container">
				<div class="active-text">
					<img class="" src="img/icons/arrow_icon-30x30.svg" />
					<h3 class="boldtitle">影音專區</h3>
				</div>
				<div id="new-movie">

				</div>
				<script id="new-add-movies" type="text/template">
					<div class="row">
						{{#each this}}
						<div class="col-sm-6 text-center">
							<div class="vide-min">
								<div class="vide-img">
									<img src="{{movie-img}}" />
								</div>
								<div class={{Class-vide-text}}>
									<h4 class=" col-lg-4 vide-title">{{movie-title}}</h4>
									{{{play-icon}}}
									<p class="vide-conten">{{movie-txt}}</p>
								</div>
							</div>
						</div>
						{{/each}}
					</div>
				</script>
				<div class="text-center more">
					<img src="img/icons/down2.svg" />
					<p style="color: #3686c4;" id="more-movie">更多影片</p>
				</div>
			</div>
		</div>
		<div class="subscribe">
			<form action="" method="post" name="form1" id="form">
				<div class="container-fluid subs-text">
					<div class="row xzgd">
						<div class="col-sm-4 text-right">
							<p>訂閱電子報,請輸入email：</p>
						</div>
						<div class="col-sm-6 text-center">
							<input name="email" type="text" class="inputbox" placeholder="訂閱 EMAIL" size="25" />
						</div>
						<div class="col-sm-2">
							<button onclick="javascript:window.open('http://www.myhome.net.tw/email.cgi?S=S&amp;email=' + document.form1.email.value,'popupnav','width=340,height=220,resizable=1,scrollbars=auto')">訂閱</button>

						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="lxus">
			<div class="container">
				<div class="row text-center">
					<div class="col-sm-3 col-xs-6">
						<img src="img/icons/contactus_icon.svg" />
						<h3>聯絡我們</h3>
						<p>總機：+886-2-23411313</p>
						<p>傳真：+886-2-23968832</p>
					</div>
					<div class="col-sm-3 col-xs-6" style="margin-bottom: 30px;">
						<img src="img/icons/consultant_icon.svg" />
						<h3>客服</h3>
						<p>電話：+886-2-23413300</p>
						<p>傳真：+886-2-23968801</p>
						<a href="https://www.twnic.net.tw/service"><h6>www.twnic.net.tw/service</h6></a>
					</div>
					<div class="col-sm-3 col-xs-6">
						<img src="img/icons/facebookfooter_icon.svg" />
						<h3>fb粉絲專頁</h3>
						<a href="https://www.facebook.com/twnicNEWS/">域名之友</a>
					</div>
					<div class="col-sm-3 col-xs-6">
						<img src="img/icons/youtubefooter_icon.svg" />
						<h3>Youtube</h3>
						<a href="https://www.youtube.com/channel/UCVY-vutrbDox3VD9Tuu50SQ/videos">域名之友</a>
					</div>
				</div>
			</div>
		</div>
		<div class="copy">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-12 col-xs-12">
						<a href="https://www.twnic.net.tw" target="_blank" class="tw-logo"><img src="img/icons/twnic_logo.svg"></a>
					</div>
					<div class="col-xs-12 visible-xs text-center">
						<h5 class="back-top" id="toTop">BACK TO TOP</h5>
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12">
						<p>100臺北市羅斯福路二段9號4樓之2 | 4F-2, No. 9, Roosevelt Rd., Sec. 2, Taipei 100, Taiwan</p>
						<p>Copyright 2018 | 財團法人台灣網路資訊中心 | All Rights Reserved.</p>
					</div>
				</div>
			</div>
		</div>
		<div id="filmPop" class="filmPop">
            <div class="filmPopContainer"><div>
                <iframe id="player" class="filmPopholder" width="90%" frameborder="0" allowfullscreen="1" height="54%" src="https://www.youtube.com/embed/bnyR69Nf0kI?autoplay=1&mute=1&enablejsapi=1" allow="autoplay"></iframe>
				<p style="color: #FFFFFF; padding:100px 5px 5px 20px;">請點擊影片外任意處關閉</p>
            </div>
        </div>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/swiper-4.3.3.min.js"></script>
		<script type="text/javascript" src="js/jquery.colorbox-min.js"></script>
		<script type="text/javascript" src="js/jquery.colorbox-zh-TW.js"></script>
		<script type="text/javascript" src="js/handlebars-v4.0.11.js"></script>
		<script type="text/javascript" src="js/index.js"></script>
		<script type="text/javascript">
			var mySwiper = new Swiper('.swiper-container', {
				direction: 'horizontal',
				loop: true,
				pagination: {
					el: '.swiper-pagination',
					clickable: true,
				},
				autoplay: {
					stopOnLastSlide: true,
					delay: 4000,
				}
			})
		</script>
	</body>

</html>