
.gap {
 
    padding: 0.2em 0 0.2em 0 ; 
        
}
.padding {
    padding: 0 !important;
}

.control-group {
    padding-top: 1em;
}

.align-left {
    text-align: left;
}

.padding-up {
    padding-top: 0em;
}
