<template>
	<div class="mypage">
		<nav-top></nav-top>
		<div class="userinfo-box">
			<div class="userinfo-list">
				<div class="userinfo-icon"><span>GMG ID</span></div>
				<span>{{ userId }}</span>
			</div>
			<router-link to="/userinfo" class="userinfo-list">
				<div class="userinfo-icon"><span>完善資訊</span></div>
				<img src="@/common/images/icon/my_icon_date.png" alt="" />
			</router-link>
			<!-- <router-link to="/pwdChange" class="userinfo-list">
				<div class="userinfo-icon"><span>密碼修改</span></div>
				<img src="@/common/images/icon/my_icon_date.png" alt="" />
			</router-link> -->
			<router-link to="/changepassword" class="userinfo-list">
				<div class="userinfo-icon"><span>密碼重置</span></div>
				<img src="@/common/images/icon/my_icon_date.png" alt="" />
			</router-link>
		</div>
		<m-menu :my="true"></m-menu>
	</div>
</template>

<script>
import mMenu from '@/components/menu';
import navTop from '@/components/navTop';
export default {
	name: 'accountSetting',
	components: {
		mMenu,
		navTop
	},
	data() {
		return {
			userId: localStorage.userId
		};
	},
	methods: {}
};
</script>

<style lang="scss" scoped>
.mypage {
	.userinfo-box {
		margin-top: rem(20);
		padding: 0 rem(30);
		background-color: #fff;
		.userinfo-list {
			border-bottom: rem(2) solid #f9f9f9;
			height: rem(100);
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: #373f5f;
			.userinfo-icon {
				display: inline-flex;
			}
			span {
				font-size: rem(28);
			}
			img {
				height: rem(20);
			}
		}
	}
}
</style>
