<template>
	<div class="caijieRecon-cont">
		<nav-top></nav-top>
		<div class="banner-box"><img src="@/common/images/banner-caijieRecon.png" alt="" /></div>
		<div class="Recon-main">
			<div class="list">
				<div class="label">拆借方:</div>
				<div class="input">{{ phone }}</div>
			</div>
			<div class="list">
				<div class="label">拆入金額:</div>
				<div class="input">{{ $route.query.price }}</div>
			</div>
			<div class="list">
				<div class="label">契約時間:</div>
				<div class="input">{{ Datex }}</div>
			</div>
			<div class="btn"><button @click="postaddFriend">確認拆入</button></div>
			<order-tip></order-tip>
		</div>
		<m-menu :isOrder="true"></m-menu>
	</div>
</template>

<script>
	import orderTip from '@/components/orderTip';
	import mMenu from '@/components/menu';
	import navTop from '@/components/navTop';
	export default {
		components: {
			mMenu,
			navTop,
			orderTip
		},
		data() {
			return {
				phone: localStorage.phone,
				Datex: ''
			};
		},
		methods: {
			postaddFriend() {
				this.$axios
					.post(
						'/v1/customer/addFriend', {
							price: this.$route.query.price,
							type: 5
						}, {
							headers: {
								guid: localStorage.guid,
								authorization: localStorage.token
							}
						}
					)
					.then(res => {
						if (res.data.Code == 200) {
							this.$dialog({
								message: '拆借成功，等待系統安排'
							});
						} else {
							this.$toast(res.data.Content);
						}
					});
			},
			getNowData() {
				var date = new Date();
				var seperator1 = '-';
				var year = date.getFullYear();
				var month = date.getMonth() + 1;
				var strDate = date.getDate();
				if (month >= 1 && month <= 9) {
					month = '0' + month;
				}
				if (strDate >= 0 && strDate <= 9) {
					strDate = '0' + strDate;
				}
				var currentdate = year + seperator1 + month + seperator1 + strDate;
				this.Datex = currentdate;
			}
		},
		mounted() {
			this.getNowData();
		}
	};
</script>

<style lang="scss" scoped>
	@import '@/common/css/recon.scss';
</style>
