<template>
	<div class="canghuanRecon-cont">
		<nav-top></nav-top>
		<div class="banner-box"><img src="@/common/images/banner-canghuanRecon.png" alt="" /></div>
		<div class="Recon-main">
			<div class="list">
				<div class="label">拆出方:</div>
				<div class="input">{{info.Phone}}</div>
			</div>
			<div class="list">
				<div class="label">拆出金額:</div>
				<div class="input">{{info.Price}}</div>
			</div>
			<div class="list">
				<div class="label">契約時間:</div>
				<div class="input">{{ info.CreateTime }}</div>
			</div>
			<div class="btn"><button @click="$router.push('/huidan')">拆出契約</button></div>
			<order-tip></order-tip>
		</div>
		<m-menu :isOrder="true"></m-menu>
	</div>
</template>

<script>
import orderTip from '@/components/orderTip';
import mMenu from '@/components/menu';
import navTop from '@/components/navTop';
export default {
	components: {
		mMenu,
		navTop,
		orderTip
	},
	data() {
		return {
			info: ''
		};
	},
	methods: {
		getFriendconfirmlist() {
			this.$axios
				.get('/v1/customer/friendconfirmlist', {
					headers: {
						authorization: localStorage.token,
						guid: localStorage.guid
					}
				})
				.then(res => {
					this.info = res.data.Data[0]
				});
		},
	},
	mounted() {
		this.getFriendconfirmlist()
	}
};
</script>

<style lang="scss" scoped>
@import '@/common/css/recon.scss';
</style>
