<template>
	<div class="changepassword">
		<nav-top></nav-top>
		<div class="title">忘記密碼</div>
		<div class="inputPhone">
			<p>輸入注册電訊號</p>
			<van-cell-group>
				<van-field placeholder="電訊號" v-model="phone" />
			</van-cell-group>
			<div class="btn" @click="postsendsmsforfindpwd">獲取驗證碼</div>
		</div>
	</div>
</template>

<script>
	import navTop from '@/components/navTop';
	export default {
		components: {
			navTop
		},
		data() {
			return {
				phone: ''
			};
		},
		methods: {
			postsendsmsforfindpwd() {
				if (this.phone == '') {
					this.$toast.fail('電訊號不能為空');
					return;
				} else if (!(/^1[3|4|5|7|8][0-9]\d{8,11}$/.test(this.phone))) {
					this.$toast.fail('電訊號格式有误');
					return
				}
				this.$axios
					.post('/v1/account/sendsmsforfindpwd?phone=' + this.phone)
					.then(res => {
						this.$toast.clear();
						if (res.data.Code == 200) {
							this.$router.push({
								path: '/pwdReset',
								query: {
									phone: this.phone
								}
							})
						}
					});
			}
		}
	};
</script>

<style lang="scss" scoped>
	.changepassword {
		.title {
			padding: rem(20);
			font-size: rem(32);
			border-bottom: 1px solid #2c7fb8;
		}

		.inputPhone {
			width: 100%;
			font-size: rem(32);
			padding: rem(20);
			position: fixed;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			box-sizing: border-box;

			.van-cell {
				background-color: #E7E6E6;
				border-top: 1px solid #2c7fb8;
				border-bottom: 1px solid #2c7fb8;
			}

			p {
				margin-bottom: rem(20);
			}

			.btn {
				width: rem(200);
				margin: 0 auto;
				text-align: center;
				margin-top: rem(60);
				padding: rem(20) rem(100);
				background-color: #ffc000;
				border: 1px solid #2c7fb8;
				position: relative;

				&::before {
					position: absolute;
					top: 50%;
					left: 50%;
					width: 100%;
					height: 100%;
					background-color: #000;
					border: inherit;
					border-color: #000;
					border-radius: inherit;
					-webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					opacity: 0;
					content: ' ';
				}

				&:active::before {
					opacity: 0.1;
				}

				.van-button {
					width: 100%;
				}
			}
		}
	}
</style>
