<template>
	<div class="ddppz" :style="background">
		<p class="wel-title">等待分配...</p>
		<img class="wel-img" src="@/common/images/liner.png" alt="">
		<div class="reload-btn" @click="paidan">
			<img class="btn" :class="{'xz':load}" src="@/common/images/btnc.png" alt="">
			<img class="txt" src="@/common/images/reload.png" alt="">
		</div>
		<p class="tip">温馨提示</p>
		<p class="tip-i">订单已在分配中<br />请点击刷新留意短信通知！</p>
	</div>
</template>

<script>
export default {
	data() {
		return {
			load: false,
			background: {
				backgroundImage: 'url(' + require('@/common/images/welbg.jpg') + ')'
			}
		};
	},
	methods: {
		paidan() {
			this.load = true
			this.$axios
				.post(
					'/v1/customer/todayFriend',
					{},
					{
						headers: {
							guid: localStorage.guid,
							authorization: localStorage.token
						}
					}
				)
				.then(res => {
					if (res.data.Code == 200) {
						if (res.data.Data.length == 0) {
							
						} else {
							this.$router.push('/paidan');
						}
					} else {
						
					}
				});
		}
	}
};
</script>

<style lang="scss" scoped>

.ddppz {
	background-size: 100% 100%;
	height: 100%;
	.wel-title{
		font-size: rem(50);
		color: #fff;
		text-align: center;
		padding-top: rem(160);
	}
	.wel-img{
		width: 100%;
		margin-top: rem(30);
		margin-bottom: rem(85);
	}
	.reload-btn{
		position: relative;
		width: rem(420);
		height: rem(420);
		margin: 0 auto;
		.btn{
			width: rem(420);
			height: rem(420);
			&.xz{
				animation: rotates 3s infinite linear;
			}
		}
		.txt{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			width: rem(140);
		}
	}
	.tip{
		font-size: rem(36);
		color: #D4CAFF;
		text-align: center;
		padding-top: rem(70);
		padding-bottom: rem(35);
	}
	.tip-i{
		text-align: center;
		font-size: rem(30);
		line-height: rem(60);
	}
}
</style>
