<template>
	<div class="downpage">
		<div class="title">在APP中查看更多精彩</div>
		<div class="step">
			<div>
				<span class="stepnum">1</span>
				<span>点击手机屏幕右上角</span>
			</div>
			<img class="ys" src="@/common/images/youshangj.png" alt="" />
		</div>
		<div class="step">
			<div>
				<span class="stepnum">2</span>
				<span>选择用“浏览器打开”</span>
			</div>
			<img class="llq" src="@/common/images/liulanqi.png" alt="" />
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {};
	},
	mounted() {
		var ua = window.navigator.userAgent.toLowerCase();
		if (ua.match(/MicroMessenger/i) == 'micromessenger') {
			return;
		}
		window.location.href = 'http://app2.uc86.6wanyuewan.com/niwolian.apk';
	},
	beforeCreate() {
		document.querySelector('.flex-top').setAttribute('style', 'display: none;');
	},
	beforeDestroy() {
		document.querySelector('.flex-top').removeAttribute('style');
	}
};
</script>

<style lang="scss" scoped>
.downpage {
	font-size: rem(38);
	color: #000;
	text-align: center;
}
.downpage .title {
	padding-top: rem(120);
	padding-bottom: rem(120);
}
.downpage .step .stepnum {
	display: inline-block;
	background-color: #666;
	color: #fff;
	border-radius: 50%;
	width: rem(60);
	height: rem(60);
	line-height: rem(60);
}
.downpage .step .ys {
	margin: rem(100) 0;
	width: rem(600);
}
.downpage .step .llq {
	margin: rem(100) 0;
	width: rem(200);
}
</style>
