<template>
	<div class="exclusive-cont">
		<nav-top :quesShow="true" Rout="jinjie"></nav-top>
		<div class="cont">
			<p class="ex-list">
				<span class="integral-title">積分值</span>
				<span class="integral-num">{{ CreditValue }}</span>
			</p>
			<p class="ex-list">
				超過{{ score }}%的用户，提升等級還需
				<span>{{ fraction }}</span>
				分
			</p>
		</div>
		<div class="propress-box">
			<div class="rank-progress">
				<div class="rank-list" v-for="(item, index) of levels" :key="index">{{ item.Name }}</div>
			</div>
			<div class="hide-progress" :style="progress">
				<div class="rank-progress-active">
					<div class="rank-list"></div>
					<div class="rank-list"></div>
					<div class="rank-list"></div>
					<div class="rank-list"></div>
					<div class="rank-list"></div>
				</div>
			</div>
		</div>
		<div class="integral">
			<p class="title">積分來源</p>
			<div class="integ-btn">
				<div class="btn yjmx">
					<!-- <span>{{ account.RechargeAmount }}</span> -->
					<span>業績明細</span>
				</div>
				<span class="add">+</span>
				<div class="btn fzmx">
					<!-- <span>{{ account.InviteAmount }}</span> -->
					<span>發展明細</span>
				</div>
			</div>
		</div>
		<m-menu :bount="true"></m-menu>
	</div>
</template>

<script>
import mMenu from '@/components/menu';
import navTop from '@/components/navTop';

export default {
	components: {
		mMenu,
		navTop
	},
	data() {
		return {
			newsList: [],
			CreditValue: 0,
			account: '',
			progress: {
				width: '0px'
			},
			levels: '',
			fraction: '',
			score: ''
		};
	},
	methods: {
		getUser() {
			this.$axios
				.get('/v1/customer/get', {
					headers: {
						guid: localStorage.guid,
						authorization: localStorage.token
					}
				})
				.then(res => {
					this.CreditValue = res.data.Data.CreditValue;
					let value = res.data.Data.CreditValue;
					this.score = parseInt(value / 50);
					this.$axios
						.get('/v1/common/levels', {
							headers: {
								authorization: localStorage.token,
								guid: localStorage.guid
							}
						})
						.then(data => {
							this.levels = data.data.Data;
							let limit = data.data.Data;
							if (value > limit[0].PointsLowerLimitAmount && value <= limit[0].PointsUpperLimitAmount) {
								this.progress.width = '1.15rem';
								this.fraction = limit[0].PointsUpperLimitAmount - value;
							} else if (value >= limit[1].PointsLowerLimitAmount && value <= limit[1].PointsUpperLimitAmount) {
								this.progress.width = '3.15rem';
								this.fraction = limit[1].PointsUpperLimitAmount - value;
							} else if (value >= limit[2].PointsLowerLimitAmount && value <= limit[2].PointsUpperLimitAmount) {
								this.progress.width = '5.15rem';
								this.fraction = limit[2].PointsUpperLimitAmount - value;
							} else if (value >= limit[3].PointsLowerLimitAmount && value <= limit[3].PointsUpperLimitAmount) {
								this.progress.width = '7.15rem';
								this.fraction = limit[3].PointsUpperLimitAmount - value;
							} else if (value >= limit[4].PointsLowerLimitAmount && value <= limit[4].PointsUpperLimitAmount) {
								this.progress.width = '9.15rem';
								this.fraction = limit[4].PointsUpperLimitAmount - value;
							} else if (value == 0) {
								this.progress.width = '1.15rem';
								this.fraction = limit[0].PointsUpperLimitAmount - 0;
							} else{
								this.progress.width = '9.15rem';
								this.fraction = '0';
							}
						});
				});
		},
		getminiaccount() {
			this.$axios
				.get('/v1/miniaccount/get', {
					headers: {
						guid: localStorage.guid,
						authorization: localStorage.token
					}
				})
				.then(res => {
					this.account = res.data.Data;
				});
		}
	},
	mounted() {
		this.getUser();
		this.getminiaccount();
	}
};
</script>

<style lang="scss" scoped>
.exclusive-cont {
	.cont {
		text-align: center;
		font-size: rem(33);
		margin-top: rem(100);
		.medal {
			color: #f06600;
			font-size: rem(50);
		}
		.ex-list {
			margin: rem(150) 0;
			.integral-title {
				font-size: rem(50);
				display: block;
				margin-bottom: rem(10);
			}
			.integral-num {
				padding: 0 rem(30);
				border-bottom: rem(2) solid #2c80bb;
			}
			span {
				font-size: rem(40);
				font-weight: bold;
			}
		}
	}
	.propress-box {
		position: relative;
		.rank-progress {
			position: absolute;
			top: 0;
			left: 0;
			width: rem(750);
			display: flex;
			.rank-list {
				position: relative;
				font-size: rem(30);
				flex: 1;
				text-align: center;
				.iconfont {
					display: none;
					color: #ff0000;
				}
				span {
					font-size: rem(20);
				}
				&::before {
					content: '';
					position: absolute;
					top: rem(-34);
					left: 50%;
					transform: translateX(-50%);
					width: rem(20);
					height: rem(20);
					border-radius: 50%;
					background-color: #e5e5e5;
				}
				&::after {
					content: '';
					height: rem(5);
					position: absolute;
					top: rem(-26);
					left: 0;
					right: 0;
					background-color: #e5e5e5;
				}
				&:last-child:after {
					right: rem(80);
				}
				&:first-child:after {
					left: rem(80);
				}
			}
		}
		.hide-progress {
			position: absolute;
			top: rem(-44);
			left: 0;
			width: rem(0);
			height: rem(40);
			overflow: hidden;
		}
		.rank-progress-active {
			position: absolute;
			left: 0;
			top: rem(44);
			width: rem(750);
			display: flex;
			.rank-list {
				position: relative;
				font-size: rem(30);
				flex: 1;
				text-align: center;
				.iconfont {
					display: none;
					color: #ff0000;
				}
				&::before {
					content: '';
					position: absolute;
					top: rem(-34);
					left: 50%;
					transform: translateX(-50%);
					width: rem(20);
					height: rem(20);
					border-radius: 50%;
					background-color: #2c80bb;
				}
				&::after {
					content: '';
					height: rem(5);
					position: absolute;
					top: rem(-26);
					left: 0;
					right: 0;
					background-color: #2c80bb;
				}
				&:last-child:after {
					right: rem(80);
				}
				&:first-child:after {
					left: rem(80);
				}
			}
		}
	}
	.integral {
		width: rem(375);
		margin: 0 auto;
		text-align: center;
		margin-top: rem(250);
		.title {
			font-size: rem(36);
			margin-bottom: rem(30);
		}
		.integral-box {
			display: flex;
			justify-content: space-evenly;
			padding: rem(20) 0;
			.right {
				transform: rotate(270deg);
			}
		}
		.integ-btn {
			display: flex;
			justify-content: space-around;
			align-items: center;
			font-size: rem(26);
			color: #fff;
			.add {
				font-size: rem(50);
			}
			.btn {
				width: rem(180);
				height: rem(150);
				border-radius: 50%;
				border: 1px solid #2c7fb8;
				color: #333;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				position: relative;
				&::before {
					position: absolute;
					top: 50%;
					left: 50%;
					width: 100%;
					height: 100%;
					background-color: #000;
					border: inherit;
					border-color: #000;
					border-radius: inherit;
					-webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					opacity: 0;
					content: ' ';
				}
				&:active::before {
					opacity: 0.1;
				}
			}
			span {
				color: #333;
			}
		}
	}
}
</style>
