<template>
	<div class="huidan">
		<nav-top></nav-top>
		<div class="title">拆出資訊詳情</div>
		<div class="card-box" v-for="(item, index) of huidan" :key="index">
			<div class="card">
				<div class="qr" @click="showQrimg(item.CodeUrl)"><img :src="item.CodeUrl" /></div>
				<div class="card-zl">
					<div class="card-list">
						<div class="card-label">會員ID：</div>
						<input class="card-inpt" readonly type="text" v-model="item.CustomerId"/>
					</div>
					<div class="card-list">
						<div class="card-label">會員添加號：</div>
						<input class="card-inpt" readonly type="text"  v-model="item.Nickname"/>
					</div>
					<div class="card-list">
						<div class="card-label">會員電訊號：</div>
						<input class="card-inpt" readonly type="text"  v-model="item.Phone"/>
					</div>
				</div>
			</div>
			<div class="card-btn">
				<div class="cart-status">
					<div class="status-inpt" v-if="!item.IsConfirm">待簽署{{ item.Price }}</div>
					<div class="status-inpt" v-if="item.IsConfirm">已簽署{{ item.Price }}</div>
				</div>
				<div class="btn-box">
					<div class="btn cancel">取 消</div>
					<div class="btn upload" @click="confirmClick(item.IsPay, item.Id)">確認簽署</div>
				</div>
			</div>
		</div>
		<p class="tip" v-if="!huidan.length">暫時沒有回單</p>
		<van-image-preview v-model="show" :images="images" @change="onChange">
			<template v-slot:index>第{{ index }}頁</template>
		</van-image-preview>
		<m-menu :isOrder="true"></m-menu>
	</div>
</template>

<script>
	import {
		mapState,
		mapMutations
	} from 'vuex';
	import mMenu from '@/components/menu';
	import navTop from '@/components/navTop';
	import {
		ImagePreview
	} from 'vant';

	export default {
		components: {
			mMenu,
			navTop
		},
		data() {
			return {
				isSign: false,
				huidan: [],
				show: false,
				index: 0,
				images: []
			};
		},
		methods: {
			showQrimg(img) {
				ImagePreview([
					img
				]);
			},
			onChange(index) {
				this.index = index;
			},
			confirmClick(val, id) {
				if (val) {
					this.$dialog
						.confirm({
							title: '重要提示',
							message: '尊敬的閣下（女士）您一旦簽署，即代表您已完全確認拆借款匯入，且不可撤銷！'
						})
						.then(() => {
							this.$axios.post('/v1/customer/friendconfirm?id=' + id,{
								
							},{
								headers: {
									guid: localStorage.guid,
									authorization: localStorage.token
								}
							}).then(res => {
								if (res.data.Code == 200) {
									this.$toast.success('確認成功');
									this.getFriendconfirmlist();
								}
							});
						});
				} else {
					this.$toast('待拆借方上傳憑證後方可予以確認');
				}
			},
			getFriendconfirmlist() {
				this.$axios
					.get('/v1/customer/friendconfirmlist', {
						headers: {
							authorization: localStorage.token,
							guid: localStorage.guid
						}
					})
					.then(res => {
						if (res.data.Code == 200) {
							this.huidan = res.data.Data;
						}
					});
			},
			downloadCodeImg() {
				var a = document.createElement('a');
				a.download = name || 'pic'; // 设置图片地址
				a.href = codeIMG;
				a.click();
			}
		},
		mounted() {
			this.getFriendconfirmlist();
		}
	};
</script>

<style lang="scss" scoped>
	.huidan {
		.tip {
			font-size: rem(30);
			text-align: center;
			margin-top: rem(50);
		}

		.title {
			text-align: center;
			font-size: rem(36);
			color: #000;
			margin-top: rem(50);
			letter-spacing: rem(10);
			font-weight: 600;
		}

		.card-box {
			margin: rem(60) 0;

			.card {
				width: rem(710);
				height: rem(320);
				background: rgba(255, 255, 255, 1);
				box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.06);
				border-radius: rem(20);
				padding: 0 rem(30);
				display: flex;
				align-items: center;
				box-sizing: border-box;
				margin: 0 auto;

				.qr {
					width: rem(220);
					height: rem(220);
					min-width: rem(220);
					min-height: rem(220);

					img {
						width: 100%;
						height: 100%;
					}
				}

				.card-zl {
					width: 100%;
					height: rem(220);
					display: flex;
					flex-direction: column;
					padding-left: rem(30);
					justify-content: space-between;
					padding: rem(10) rem(20);

					.card-list {
						display: flex;
						font-size: rem(24);

						.card-label {
							width: rem(150);
							text-align-last: justify;
						}

						.card-inpt {
							width: rem(250);
							border-bottom: 1px solid rgba(0, 0, 0, 0.65);
						}
					}
				}

				.cart-status {
					width: rem(130);
					height: rem(220);
					display: flex;
					flex-direction: column;
					justify-content: space-between;

					.status {
						width: rem(130);
						height: rem(78);
						line-height: rem(78);
						background: rgba(239, 119, 2, 1);
						border-radius: 50%;
						font-size: rem(24);
						text-align: center;
						color: #fff;

						&.active {
							background-color: #2d81bd;
						}
					}
				}
			}

			.card-btn {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 0 rem(30);
				margin-top: rem(20);

				.btn-box {
					display: flex;
				}

				.status-inpt {
					font-size: rem(30);
					position: relative;

					&::before {
						position: absolute;
						top: 50%;
						left: 50%;
						width: 100%;
						height: 100%;
						background-color: #000;
						border: inherit;
						border-color: #000;
						border-radius: inherit;
						-webkit-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
						opacity: 0;
						content: ' ';
					}

					&:active::before {
						opacity: 0.1;
					}

					input {
						width: rem(100);
						border-bottom: 1px solid rgba(0, 0, 0, 0.65);
					}
				}

				.btn {
					display: inline-block;
					font-size: rem(22);
					color: #333;
					padding: rem(10) rem(20);
					border: 1px solid #2d81bd;
				}

				.cancel {
					background: #fff2cc;
				}

				.upload {
					background: #ffc000;
					margin-left: rem(35);
				}
			}
		}
	}
</style>
<style>
	.add_bg {
		background: rgba(252, 252, 252, 1);
	}
</style>
