<template>
	<div class="paidan">
		<nav-top></nav-top>
		<div class="title">匯入資訊詳情</div>
		<div class="card-box" v-for="(item, index) of paidanlist" :key="index">
			<div class="card">
				<div class="qr" @click="showQrimg(item.CodeUrl)"><img :src="item.CodeUrl" /></div>
				<div class="card-zl">
					<div class="card-list">
						<div class="card-label">會&nbsp;&nbsp;&nbsp;員&nbsp;&nbsp;&nbsp;ID：</div>
						<input class="card-inpt" readonly="" type="text" v-model="item.CustomerId" />
					</div>
					<div class="card-list">
						<div class="card-label">會員添加號：</div>
						<input class="card-inpt" readonly="" type="text" v-model="item.Nickname" />
					</div>
					<div class="card-list">
						<div class="card-label">會員電訊號：</div>
						<input class="card-inpt" readonly="" type="text" v-model="item.Phone" />
					</div>
				</div>
			</div>
			<div class="card-btn">
				<div class="cart-status">
					<div class="status" v-if="!item.IsConfirm">待簽署 $ {{ item.Price }}</div>
					<div class="status active" v-if="item.IsConfirm">已簽署 $ {{ item.Price }}</div>
				</div>
				<div class="btnss">
					<div class="btn cancel">取 消</div>
					<div class="btn upload" @click="upImg(item.Id)">上傳憑證</div>
				</div>
			</div>
		</div>
		<m-menu :isShare="true"></m-menu>
		<imgUpload v-show="imgUploadShow" @postImg="postImg"></imgUpload>
	</div>
</template>

<script>
import { mapState, mapMutations } from 'vuex';
import mMenu from '@/components/menu';
import navTop from '@/components/navTop';
import imgUpload from '@/components/imgUpload';
import {
		ImagePreview
	} from 'vant';

export default {
	components: {
		mMenu,
		navTop,
		imgUpload
	},
	data() {
		return {
			isSign: false,
			imgUploadShow: false,
			paidanlist: [],
			Id: ''
		};
	},
	methods: {
		showQrimg(img) {
			ImagePreview([
				img
			]);
		},
		getPaidan() {
			this.$axios
				.post(
					'/v1/customer/todayFriend?type=15',
					{},
					{
						headers: {
							guid: localStorage.guid,
							authorization: localStorage.token
						}
					}
				)
				.then(res => {
					this.paidanlist = res.data.Data;
				});
		},
		postImg(val) {
			this.$axios
				.post(
					'/v1/customer/addfriendpicture?type=15',
					{
						id: this.Id,
						base64: val
					},
					{
						headers: {
							guid: localStorage.guid,
							authorization: localStorage.token
						}
					}
				)
				.then(res => {
					if (res.data.Code == 200) {
						this.imgUploadShow = false;
						this.$toast('上傳成功');
					} else {
						this.$toast(res.data.Content);
					}
				});
		},
		upImg(id) {
			this.Id = id;
			this.imgUploadShow = true;
		},
		downloadCodeImg(url) {
			var a = document.createElement('a');
			a.download = name || 'pic';
			a.href = url;
			a.click();
		}
	},
	mounted() {
		this.getPaidan();
	}
};
</script>

<style lang="scss" scoped>
.paidan {
	.title {
		text-align: center;
		font-size: rem(36);
		color: #000;
		margin-top: rem(50);
		letter-spacing: rem(10);
		font-weight: 600;
	}
	.card-box {
		margin: rem(100) 0;
		.card {
			width: rem(710);
			height: rem(320);
			background: rgba(255, 255, 255, 1);
			box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.06);
			border-radius: rem(20);
			padding: 0 rem(30);
			display: flex;
			align-items: center;
			box-sizing: border-box;
			margin: 0 auto;
			.qr {
				width: rem(220);
				height: rem(220);
				min-width: rem(220);
				min-height: rem(220);
				img {
					width: 100%;
					height: 100%;
				}
			}
			.card-zl {
				width: rem(360);
				height: rem(220);
				display: flex;
				flex-direction: column;
				padding-left: rem(30);
				justify-content: space-between;
				padding: rem(10) rem(20);
				.card-list {
					display: flex;
					font-size: rem(24);
					.card-label {
						width: rem(150);
						text-align-last: justify;
					}
					.card-inpt {
						width: rem(210);
						border-bottom: 1px solid rgba(0, 0, 0, 0.65);
					}
				}
			}
			.cart-status {
				width: rem(130);
				height: rem(220);
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				.status {
					width: rem(58);
					height: rem(58);
					line-height: rem(28);
					background: rgba(239, 119, 2, 1);
					border-radius: 50%;
					font-size: rem(14);
					text-align: right;
					color: #fff;
					&.active {
						background-color: #2d81bd;
					}
				}
				.status-inpt {
					font-size: rem(24);
					input {
						width: rem(100);
						border-bottom: 1px solid rgba(0, 0, 0, 0.65);
					}
				}
			}
		}
		.card-btn {
			text-align: right;
			padding: 0 rem(30);
			margin-top: rem(20);
			display: flex;
			justify-content: space-between;
			align-items: center;
			.status {
				font-size: 14px;
			}
			.btn {
				position: relative;
				display: inline-block;
				font-size: rem(22);
				color: #333;
				padding: rem(10) rem(20);
				border: 1px solid #2d81bd;
				&::before {
					position: absolute;
					top: 50%;
					left: 50%;
					width: 100%;
					height: 100%;
					background-color: #000;
					border: inherit;
					border-color: #000;
					border-radius: inherit;
					-webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					opacity: 0;
					content: ' ';
				}
				&:active::before {
					opacity: 0.1;
				}
			}
			.cancel {
				background: #fff2cc;
			}
			.upload {
				background: #ffc000;
				margin-left: rem(35);
			}
		}
	}
}
</style>
<style>
.add_bg {
	background: rgba(252, 252, 252, 1);
}
</style>
