<template>
	<div class="huiru">
		<nav-top :quesShow="true"></nav-top>
		<div class="banner-box">
			<img src="@/common/images/banner-huiru.png" alt="">
		</div>
		<div class="caijie-main">
			<div class="title">匯入申購金</div>
			<div class="inpt" @click="show = true">
				$
				<van-field readonly clickable :value="price" @touchstart.native.stop="show = true" />
			</div>
			<div class="tip-cont">匯入金額按照拆入金額輸入</div>
			<div class="btn" @click="goRecon">匯 入</div>
			<div class="btn" @click="posthd">匯入契約</div>
		</div>
		<m-menu :isShare="true"></m-menu>
		<van-number-keyboard theme="custom" close-button-text="完成" v-model="price" :show="show" :maxlength="5" @blur="show = false" />
	</div>
</template>

<script>
	import mMenu from '@/components/menu';
	import navTop from '@/components/navTop';
	export default {
		components: {
			mMenu,
			navTop
		},
		data() {
			return {
				imgUrl: '@/common/images/banner-huiru.png',
				price: '',
				show: false
			};
		},
		methods: {
			goRecon() {
				if (this.price % 1000 == 0 && this.price <= 10000 && this.price != '') {
					this.$router.push({
						path: '/huiruRecon',
						query: {
							price: this.price
						}
					});
				} else {
					this.$toast('輸入的金額有誤！');
				}
			},
			posthd() {
				this.$axios
					.post(
						'/v1/customer/todayFriend?type=' + 15, {}, {
							headers: {
								guid: localStorage.guid,
								authorization: localStorage.token
							}
						}
					)
					.then(res => {
						if (res.data.Data.length) {
							this.$router.push('/huiruDetail');
						} else {
							if (res.data.Code == 200) {
								this.$dialog({
									message: '請等待系統撮合...'
								});
							} else {
								this.$dialog({
									message: res.data.Content
								});
							}
						}
					});
			}
		}
	};
</script>

<style lang="scss" scoped>
	@import '@/common/css/caijie.scss';

	.huiru {
		.btn {
			width: rem(200);
			height: rem(200);
			line-height: rem(200);
			border: 0;
			border-radius: 50%;
		}
	}
</style>
