<template>
	<div class="huoyizhi-cont">
		<nav-top></nav-top>
		<div class="banner-box"><img src="@/common/images/banner-huoyizhi.jpg" alt="" /></div>
		<div class="main">
			<div class="title">獲益金</div>
			<span class="price-pr">當前獲益金：${{ accout.RechargeAmount }}</span>
			<div class="cont">
				<span>$</span>
				<van-field readonly clickable :value="value" @touchstart.native.stop="show = true" />
				<van-number-keyboard close-button-text="完成" theme="custom" v-model="value" :show="show" :maxlength="10" @blur="show = false" />
				<span class="trans" @click="hyzDetail">交易明細</span>
			</div>
			<div class="tip"><span>请输入50的倍数</span></div>
			<div class="tx-btn" @click="postupdate">提現</div>
		</div>
		<m-menu :ybt="true"></m-menu>
	</div>
</template>

<script>
import mMenu from '@/components/menu';
import navTop from '@/components/navTop';
export default {
	components: {
		mMenu,
		navTop
	},
	data() {
		return {
			show: false,
			value: '',
			accout: ''
		};
	},
	methods: {
		hyzDetail() {
			this.$router.push({
				path: '/transDetail',
				query: {
					typeId: 20
				}
			});
		},
		getminiaccount() {
			this.$axios
				.get('/v1/miniaccount/get', {
					headers: {
						authorization: localStorage.token
					}
				})
				.then(res => {
					this.accout = res.data.Data;
				});
		},
		postupdate() {
			this.$axios.post('/v1/miniaccount/update?typeId=' + 20 + '&price=' + this.value, {},{
				headers:{
					authorization: localStorage.token,
					guid: localStorage.guid
				}
			}).then(res => {
				if (res.data.Code == 200) {
					this.$toast(res.data.Data.Msg);
					this.getminiaccount()
				}else{
					this.$toast(res.data.Content);
				}
			});
		}
	},
	created() {
		this.getminiaccount();
	}
};
</script>

<style lang="scss" scoped>
@import '@/common/css/yibeitong.scss';
.huoyizhi-cont {
	.banner-box {
		img {
			-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(250, 250, 250, 0.5)));
		}
	}
}
</style>
