<template>
	<div class="yyhome">
		<nav-top :isHome="true"></nav-top>
		<div class="zst">
			<m-echart></m-echart>
		</div>
		<div class="notice-home">
			<van-swipe :autoplay="3000" :show-indicators="false">
				<van-swipe-item v-for="(item, index) of newsList" :key="index">
					<div class="swiper-list">
						<span>{{ item.Title }}</span>
						<router-link tag="p" :to="'/shownotice?id=' + item.Id">{{ item.Short }}</router-link>
					</div>
				</van-swipe-item>
			</van-swipe>
		</div>
		<div class="swiper">
			<van-swipe indicator-color="#999999">
				<van-swipe-item v-for="(item, index) of bannerList" :key="index">
					<div class="swiper-list" @click="gohref(item.Url)">
						<img :src="item.Picture.BigUrl" alt="" />
						<p>{{ item.Title }}</p>
					</div>
				</van-swipe-item>
			</van-swipe>
		</div>
		<m-menu :isHome="true"></m-menu>
	</div>
</template>

<script>
	import mMenu from '@/components/menu';
	import mEchart from '@/components/echart';
	import navTop from '@/components/navTop';
	export default {
		components: {
			mMenu,
			navTop,
			mEchart
		},
		data() {
			return {
				bannerList: [],
				newsList: [],
			};
		},
		methods: {
			getBanner() {
				this.$axios
					.get('/v1/common/banner', {
						params: {
							name: 'homebanner'
						}
					})
					.then(res => {
						this.bannerList = res.data.Data.Items;
					});
			},
			getNews() {
				this.$axios
					.get('/v1/news/list', {
						params: {
							page: 1,
							size: 10
						}
					})
					.then(res => {
						const data = res.data.Data.Items;
						let arr = [];
						for (let i = 0; i < data.length; i++) {
							arr.push(res.data.Data.Items[i]);
						}
						this.newsList = arr;
					});
			},
			gohref(url){
				this.$router.push({
					path: '/rule',
					query: {
						sys: url
					}
				})
			}
		},
		mounted() {
			this.getBanner();
			this.getNews();
		}
	};
</script>

<style lang="scss" scoped>
	.yyhome {
		.notice-home {
			height: rem(86);
			padding: 0 rem(30);
			background-color: #fff2d1;
			color: #000;

			.swiper-list {
				height: rem(86);
				display: flex;
				align-items: center;
			}
		}

		.notice-home span {
			display: inline-block;
			width: rem(76);
			height: rem(36);
			line-height: rem(36);
			background-color: #ffe2a2;
			border-radius: rem(6);
			font-size: rem(28);
			text-align: center;
			overflow: hidden;
			vertical-align: top;
		}

		.notice-home p {
			float: right;
			width: rem(600);
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			font-size: rem(24);
			padding-left: 10px;
		}

		.swiper {
			height: rem(448);

			img {
				width: 100%;
			}

			.swiper-list {
				position: relative;
				height: rem(448);

				p {
					position: absolute;
					width: 100%;
					bottom: 0;
					font-size: rem(30);
					color: #fff;
					text-align: center;
					padding: rem(16) 0;
					background-color: rgba(0, 0, 0, 0.5);
				}
			}
		}
	}
</style>
<style lang="scss">
	.yyhome .van-swipe__indicators {
		bottom: rem(80);
	}
</style>
