<template>
	<div class="huoyizhi-cont">
		<nav-top :quesShow="true" Rout="jifenzhi"></nav-top>
		<div class="banner-box">
			<img src="@/common/images/banner-jifenzhi.png" alt="">
		</div>
		<div class="main">
			<div class="title">積分值</div>
			<span class="price-pr">當前積分：${{accout.InviteAmount}}</span>
			<div class="cont">
				<span>$</span>
				<van-field readonly clickable :value="value" @touchstart.native.stop="show = true" />
				<van-number-keyboard close-button-text="完成" theme="custom" v-model="value" :show="show" :maxlength="10" @blur="show = false" />
				<span class="trans" @click="jfzDetail">交易明細</span>
			</div>
			<div class="tip"><span>請輸入1000的倍数</span></div>
			<div class="tx-btn" @click="postupdate">提現</div>
		</div>
		<m-menu :ybt="true"></m-menu>
	</div>
</template>

<script>
import mMenu from '@/components/menu';
import navTop from '@/components/navTop';
export default {
	components: {
		mMenu,
		navTop
	},
	data() {
		return {
			show: false,
			value: '',
			accout: ''
		};
	},
	methods:{
		jfzDetail(){
			this.$router.push({
				path: '/transDetail',
				query: {
					typeId: 5
				}
			})
		},
		getminiaccount(){
			this.$axios.get('/v1/miniaccount/get',{
				headers:{
					authorization: localStorage.token
				}
			}).then(res=>{
				this.accout = res.data.Data
			})
		},
		postupdate() {
			this.$axios.post('/v1/miniaccount/update?typeId=' + 5 + '&price=' + this.value, {},{
				headers:{
					authorization: localStorage.token,
					guid: localStorage.guid
				}
			}).then(res => {
				if (res.data.Code == 200) {
					this.$toast(res.data.Data.Msg);
					this.getminiaccount()
				}else{
					this.$toast(res.data.Content);
				}
			});
		}
	},
	created() {
		this.getminiaccount()
	}
};
</script>

<style lang="scss" scoped>
	@import '@/common/css/yibeitong.scss';
</style>
