<template>
	<div class="login">
		<nav-top></nav-top>
		<div class="login-box">
			<van-cell-group class="login-inpt-box">
				<van-field v-model="phone" clearable label="註冊帳號" @click-right-icon="$toast('question')" />
				<van-field v-model="pass" :type="type" label="輸入密碼" clearable />
			</van-cell-group>
			<div class="changePwd">
				<van-checkbox v-model="checked" checked-color="#69c654">顯示密碼</van-checkbox>
				<p class="title"><span @click="$router.push('/changepassword')">忘記密碼</span></p>
			</div>
			<div class="login-btn">
				<div class="btn" @click="loginBtn">登入</div>
			</div>
			<div class="login-hr"><span>GMG的新用戶</span></div>
			<div class="reg-btn">
				<div class="btn" @click="$router.push('/reg')">創建新的賬戶</div>
			</div>
			<div class="login-tip"><p>通過登入，即表明您已經同意我們<a href="#">資訊部分</a>和<a href="#">聲明</a>中所列的各項條款</p></div>
		</div>
		<div class="login-footer"><p>版權所有©2006-2019，GMG或其關聯公司</p></div>
	</div>
</template>

<script>
import { mapMutations } from 'vuex';
import navTop from '@/components/navTop';
export default {
	components: {
		navTop
	},
	data() {
		return {
			phone: '',
			pass: '',
			type: 'password',
			checked: false
		};
	},
	watch: {
		checked() {
			if (this.checked) {
				this.type = 'text';
			} else {
				this.type = 'password';
			}
		}
	},
	methods: {
		loginBtn() {
			if (this.phone != '' && this.pass != '') {
				this.$toast.loading({
					mask: true,
					message: '登錄中···'
				});
				this.$axios
					.post('/v1/account/login', {
						Name: this.phone,
						Password: this.pass
					})
					.then(res => {
						res = res.data;
						if (res.Code == 200) {
							this.changeGuid(res.Data.Guid), this.changeToken(res.Data.AccessToken);
							this.$axios
								.get('/v1/customer/get', {
									headers: {
										authorization: res.Data.AccessToken,
										guid: res.Data.Guid
									}
								})
								.then(data => {
									data = data.data;
									localStorage.phone = data.Data.Phone;
									localStorage.userId = data.Data.Id;
								});
								this.$router.push('/index');
								this.$toast.clear();
						} else if (res.Code == 250) {
							this.$toast.fail(res.Content);
						}
					});
			} else {
				this.$toast.fail('帳號密碼不能為空');
			}
		},
		...mapMutations(['changeGuid', 'changeToken'])
	}
};
</script>

<style lang="scss" scoped>
.login {
	.max-text{
		font-size: rem(40);
		padding: 0 rem(20);
	}
	.login-box {
		margin-top: rem(150);
		padding: 0 rem(20);
		.title {
			font-size: rem(24);
			color: #666;
			text-align: right;
			margin-bottom: rem(10);
			padding: 0 rem(20);
			span{
				border: 1px solid #ccc;
				padding: rem(5) rem(10);
				border-radius: rem(8);
			}
		}
		.changePwd {
			font-size: rem(24);
			margin-top: rem(20);
			display: flex;
			justify-content: space-between;
		}
		.login-btn {
			margin-top: rem(150);
			.btn{
				position: relative;
				height: rem(60);
				line-height: rem(60);
				background-color: #FFE699;
				border: 1px solid #2c7fb8;
				padding: rem(10);
				text-align: center;
				font-size: rem(36);
				&::before {
					position: absolute;
					top: 50%;
					left: 50%;
					width: 100%;
					height: 100%;
					background-color: #000;
					border: inherit;
					border-color: #000;
					border-radius: inherit;
					-webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					opacity: 0;
					content: ' ';
				}
				&:active::before {
					opacity: 0.1;
				}
			}
		}
		.reg-btn {
			margin-top: rem(20);
			.btn{
				position: relative;
				height: rem(60);
				line-height: rem(60);
				border: 1px solid #2c7fb8;
				background-color: #F2F2F2;
				font-size: rem(36);
				padding: rem(10);
				text-align: center;
				&::before {
					position: absolute;
					top: 50%;
					left: 50%;
					width: 100%;
					height: 100%;
					background-color: #000;
					border: inherit;
					border-color: #000;
					border-radius: inherit;
					-webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					opacity: 0;
					content: ' ';
				}
				&:active::before {
					opacity: 0.1;
				}
			}
		}
		.login-tip {
			font-size: rem(26);
			margin-top: rem(20);
		}
		.login-hr{
			position: relative;
			height: rem(2);
			background-color: #2c7fb8;
			color: #70AD47;
			font-size: rem(24);
			margin: rem(40) 0;
			span{
				position: absolute;
				top: rem(-12);
				left: 50%;
				transform: translateX(-50%);
				background-color: #fff;
				padding: 0 rem(30);
			}
		}
		.login-inpt-box{
			border: 1px solid #2C80BB;
			.van-cell{
				&:not(:last-child){
					border-bottom: 1px solid #2C80BB;
				}
			}
		}
	}
	.login-footer {
		font-size: rem(20);
		color: #666;
		text-align: center;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		height: rem(50);
		line-height: rem(50);
		border-top: 2px solid #2c7fb8;
	}
}
</style>
