<template>
	<div class="mypage">
		<nav-top></nav-top>
		<div class="userinfo-box">
			<router-link to="/rule?sys=aboutus" class="userinfo-list">
				<span>關於我們</span>
				<img src="@/common/images/icon/my_icon_date.png" alt="" />
			</router-link>
			<router-link to="/rule?sys=exemption" class="userinfo-list">
				<div class="userinfo-icon"><span>免責聲明</span></div>
				<img src="@/common/images/icon/my_icon_date.png" alt="" />
			</router-link>
			<router-link to="/rule?sys=privacy" class="userinfo-list">
				<div class="userinfo-icon"><span>隱私條款</span></div>
				<img src="@/common/images/icon/my_icon_date.png" alt="" />
			</router-link>
			<router-link to="/userinfo" class="userinfo-list">
				<div class="userinfo-icon"><span>完善資料</span></div>
				<img src="@/common/images/icon/my_icon_date.png" alt="" />
			</router-link>
			<router-link to="/pwdChange" class="userinfo-list">
				<div class="userinfo-icon"><span>重置密碼</span></div>
				<img src="@/common/images/icon/my_icon_date.png" alt="" />
			</router-link>
			<div class="userinfo-list" @click="showModal">
				<div class="userinfo-icon"><span>退出登入</span></div>
				<img src="@/common/images/icon/my_icon_date.png" alt="" />
			</div>
		</div>
		<m-menu :my="true"></m-menu>
	</div>
</template>

<script>
import mMenu from '@/components/menu';
import navTop from '@/components/navTop';
export default {
	name: 'my',
	components: {
		mMenu,
		navTop
	},
	data() {
		return {
			visible: false,
			user: {}
		};
	},
	methods: {
		showModal() {
			this.$dialog
				.confirm({
					message: '再次登入請繼續使用該帳號，是否確認？'
				})
				.then(() => {
					window.localStorage.clear();
					this.$router.push({
						path: '/login'
					});
				});
		},
		getUser() {
			this.$axios
				.get('/v1/customer/get', {
					headers: {
						authorization: localStorage.token,
						guid: localStorage.guid
					}
				})
				.then(res => {
					this.user = res.data.Data;
				});
		}
	},
	mounted() {
		this.getUser();
	}
};
</script>

<style lang="scss" scoped>
.mypage {
	.userinfo-box {
		margin-top: rem(20);
		background-color: #fff;
		.userinfo-list {
			border-bottom: rem(2) solid #f9f9f9;
			height: rem(100);
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: #373f5f;
			padding: 0 rem(30);
			position: relative;
			&::before {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 100%;
				height: 100%;
				background-color: #000;
				border: inherit;
				border-color: #000;
				border-radius: inherit;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				opacity: 0;
				content: ' ';
			}
			&:active::before {
				opacity: 0.1;
			}
			span {
				font-size: rem(28);
			}
			img {
				height: rem(20);
			}
		}
	}
}
</style>
