<template>
	<div class="myinvite">
		<nav-top></nav-top>
		<div class="banner-box"><img src="@/common/images/banner-myinvitees.png" alt="" /></div>
		<div class="myinvite-main">
			<div class="list" v-for="(item,index) of treeData" :key="index">
				<div class="title">{{item.title}}</div>
				<div class="cont" v-for="(cate,indx) of item.cont" :key="indx">{{cate.val}}</div>
			</div>
		</div>
		<m-menu :ybt="true"></m-menu>
	</div>
</template>

<script>
import { mapState } from 'vuex';
import mMenu from '@/components/menu';
import navTop from '@/components/navTop';

export default {
	components: {
		mMenu,
		navTop
	},
	data() {
		return {
			visible: false,
			mxList: [],
			page: 1,
			zzId: 1,
			size: 12,
			account: '',
			zznum: null,
			treeData: []
		};
	},
	computed: {
		...mapState({
			getGuid: 'guid',
			getToken: 'token'
		})
	},
	methods: {
		handleOk(e) {
			this.$axios
				.post(
					'/v1/miniaccount/update',
					{},
					{
						params: {
							typeId: '5',
							price: this.zznum
						},
						headers: {
							authorization: this.getToken,
							guid: this.getGuid
						}
					}
				)
				.then(res => {
					if (res.data.Code == 200) {
						this.getminiaccount();
						this.visible = false;
					} else {
						this.$warning({
							title: '转换失败',
							content: res.data.Content
						});
					}
				});
		},
		handleChange(value) {
			this.zzId = parseInt(value);
		},
		scrollToEnd() {
			this.page = this.page + 1;
		},
		zhClick(val) {
			if (val < 100) {
				this.$warning({
					title: '金额少于100不能轉換'
				});
				return;
			}
			this.visible = true;
		},
		getminiaccount() {
			this.$axios
				.get('/v1/miniaccount/get', {
					headers: {
						guid: localStorage.guid,
						authorization: localStorage.token
					}
				})
				.then(res => {
					this.account = res.data.Data;
				});
		},
		getTree(id) {
			this.$axios
				.post(
					'/v1/customer/tree',
					{},
					{
						params: {
							id: id
						},
						headers: {
							guid: localStorage.guid,
							authorization: localStorage.token
						}
					}
				)
				.then(res => {
					this.treeData = res.data.Data;
				});
		},
		getUser() {
			this.$axios
				.get('/v1/customer/get', {
					headers: {
						guid: localStorage.guid,
						authorization: localStorage.token
					}
				})
				.then(res => {
					this.getTree(res.data.Data.Id);
				});
		}
	},
	mounted() {
		this.getminiaccount();
		this.getUser();
	}
};
</script>

<style lang="scss" scoped>
.myinvite {
	.myinvite-main {
		display: flex;
		font-size: rem(36);
		overflow: auto;
		.list {
			flex: 1;
			text-align: center;
			&:not(:last-child){
				border-right: 1px solid #fff;
			}
			.title {
				padding: rem(10) 0;
				background-color: #81b2df;
				color: #fff;
				margin-bottom: 5px;
			}
			.cont {
				height: rem(70);
				line-height: rem(70);
				font-size: rem(28);
				padding: 0 rem(10);
				&:nth-child(2n) {
					background-color: #d2deef;
				}
				&:nth-child(2n+1) {
					background-color: #EAEFF7;
				}
			}
		}
	}
}
</style>
