<template>
	<div class="notice">
		<nav-top></nav-top>
		<div class="news-box">
			<div class="title-btn">
				<!-- <van-button type="primary" size="small" @click="showM">寫郵箱</van-button> -->
			</div>
			<!-- <van-tabs style="background-color: #f5f5f5;">
				<van-tab title="發件箱">
					<van-list v-model="loading2" :finished="finished2" finished-text="沒有更多了" @load="onLoad2">
						<van-panel v-for="(item, index) of newsList2" :key="index" :desc="item.Subject" :title="item.Nickname" :status="item.CreatedOn" style="margin-bottom: 10px;">
							<div class="main-cont">{{ item.Message }}</div>
						</van-panel>
					</van-list>
				</van-tab>
				<van-tab title="收件箱">
				</van-tab>
			</van-tabs> -->
			<van-list v-model="loading" :finished="finished" finished-text="沒有更多了" @load="onLoad">
				<van-panel v-for="(item, index) of newsList" :key="index" :desc="item.Subject" :title="item.Nickname" :status="item.CreatedOn"
				 style="margin-bottom: 10px;">
					<div class="main-cont">{{ item.Message }}</div>
				</van-panel>
			</van-list>
		</div>
		<!-- <van-dialog title="編輯" v-model="visible" show-cancel-button @confirm="handleOk">
			<div class="modal-body">
				<van-cell-group>
					<van-field v-model="xxTitle" clearable label="標題" placeholder="請輸入標題" />
					<van-field v-model="Message" label="內容" type="textarea" placeholder="請輸入內容" rows="1" autosize />
				</van-cell-group>
				<div class="img">
					<van-uploader v-model="fileList" :after-read="afterRead" multiple :max-count="3" />
				</div>
			</div>
		</van-dialog> -->
	</div>
</template>

<script>
	import navTop from '@/components/navTop';
	import {
		mapState,
		mapMutations
	} from 'vuex';

	export default {
		components: {
			navTop
		},
		data() {
			return {
				loading: false,
				finished: false,
				loading2: false,
				finished2: false,
				fileList: [],
				newsList: [],
				newsList2: [],
				xxTitle: '',
				visible: false,
				Message: '',
				userid: 0,
				page: 1,
				page2: 1,
			};
		},
		methods: {
			afterRead(file) {
				console.log(file);
			},
			get() {
				this.loading = true
				this.$axios
					.get(
						'/v1/pm/list', {
							params: {
								type: 0,
								page: this.page,
								size: 12
							},
							headers: {
								guid: localStorage.guid,
								authorization: localStorage.token
							}
						},
					)
					.then(res => {
						this.loading = false
						if (res.data.Data.Items.length < 12) {
							this.finished = true
						}
						let arr = []
						for (let i = 0; i < res.data.Data.Items.length; i++) {
							arr.push(res.data.Data.Items[i].Id)
						}
						this.markRead(arr)
						this.newsList = this.newsList.concat(res.data.Data.Items);
					});
			},
			markRead(arr){
				this.$axios.post('/v1/pm/markRead',arr,{
					headers: {
						guid: localStorage.guid,
						authorization: localStorage.token
					}
				}).then(res=>{
					
				})
			},
			// send() {
			// 	this.loading2 = true
			// 	this.$axios
			// 		.get('/v1/pm/list', {
			// 			params: {
			// 				type: 1,
			// 				page: this.page2,
			// 				size: 12
			// 			},
			// 			headers: {
			// 				guid: localStorage.guid,
			// 				authorization: localStorage.token
			// 			}
			// 		})
			// 		.then(res => {
			// 			this.loading2 = false
			// 			if (res.data.Data.Items.length < 12) {
			// 				this.finished2 = true
			// 				return
			// 			}
			// 			this.newsList2 = this.newsList2.concat(res.data.Data.Items);
			// 		});
			// },
			// showM() {
			// 	this.visible = true;
			// },
			// handleOk() {
			// 	this.$axios
			// 		.post(
			// 			'/v1/pm/send', {
			// 				ToId: this.userid,
			// 				ReplyId: 1,
			// 				Subject: this.xxTitle,
			// 				Message: this.Message,
			// 				// Images: this.imageUrl
			// 			}, {
			// 				headers: {
			// 					guid: localStorage.guid,
			// 					authorization: localStorage.token
			// 				}
			// 			}
			// 		)
			// 		.then(res => {
			// 			if (res.data.Code == 200) {
			// 				this.visible = false;
			// 				this.$toast.success('發送成功');
			// 			} else {
			// 				this.visible = false;
			// 				this.$toast.fail('發送失敗');
			// 			}
			// 		});
			// },
			// onLoad2() {
			// 	this.send();
			// 	this.page2++;
			// },
			onLoad() {
				this.page++;
				this.get();
			},
			// getuserId() {
			// 	this.$axios
			// 		.get('/v1/customer/get', {
			// 			headers: {
			// 				guid: localStorage.guid,
			// 				authorization: localStorage.token
			// 			}
			// 		})
			// 		.then(res => {
			// 			this.userid = res.data.Data.Id;
			// 		});
			// }
		},
		mounted() {
			this.get();
			// this.getuserId();
		}
	};
</script>

<style lang="scss" scoped>
	.notice {
		.title-btn {
			padding: rem(20);
			text-align: right;
		}

		.news-box {
			font-size: rem(28);
		}

		.modal-body {
			padding-top: rem(20);

			.img {
				padding: rem(20);
			}
		}

		.yyneirong {
			padding: rem(20);
			font-size: rem(28);
		}

		.main-cont {
			padding: rem(20);
			font-size: rem(28);
		}
	}
</style>
