<template>
	<div class="notice">
		<nav-top></nav-top>
		<div class="news-box">
			<van-list v-model="loading" :finished="finished" finished-text="没有更多了" @load="scrollToEnd">
				<van-panel v-for="(item, index) of newsList" :key="index" :title="item.Title" :status="item.CreateTime" @click="goDetail(item.Id)" style="margin-bottom: 10px;">
					<div class="main-cont">{{item.Short}}</div>
				</van-panel>
			</van-list>
		</div>
	</div>
</template>

<script>
import navTop from '@/components/navTop';
export default {
	components: {
		navTop
	},
	data() {
		return {
			loading: false,
			finished: false,
			newsList: [],
			page: 1
		};
	},
	methods: {
		goDetail(id){
			this.$router.push({
				path: '/shownotice',
				query: {
					id: id
				}
			})
		},
		getNews() {
			this.loading = true;
			this.$axios
				.get('/v1/news/list', {
					params: {
						page: this.page
					}
				})
				.then(res => {
					this.loading = false;
					if (res.data.Data.Items.length < 12) {
						this.finished = true;
						return;
					}
					this.newsList = this.newsList.concat(res.data.Data.Items);
				});
		},
		scrollToEnd() {
			this.page = this.page + 1;
			this.getNews();
		}
	},
	mounted() {
		this.getNews();
	}
};
</script>

<style lang="scss" scoped>
.notice {
	.news-box{
		background-color: #f5f5f5;
	}
	.main-cont{
		font-size: rem(28);
		padding: rem(20);
	}
}
</style>
