<template>
	<div class="order">
		<nav-top :quesShow="true" Rout="zhaiquan"></nav-top>
		<div class="banner-box">
			<img src="@/common/images/banner-boder.png" alt="">
		</div>
		<div class="order-cont">
			<div class="btn cj" @click="$router.push('/caijie')">拆 借</div>
			<div class="btn sh" @click="getFriendconfirmlist">拆 出</div>
		</div>
		<m-menu :isOrder="true"></m-menu>
	</div>
</template>

<script>
import mMenu from '@/components/menu';
import navTop from '@/components/navTop';
export default {
	components: {
		mMenu,
		navTop
	},
	data() {
		return {
			
		};
	},
	methods: {
		getFriendconfirmlist() {
			this.$axios
				.get('/v1/customer/friendconfirmlist', {
					headers: {
						authorization: localStorage.token,
						guid: localStorage.guid
					}
				})
				.then(res => {
					if(res.data.Data.length){
						this.$router.push('/canghuanRecon')
					}else{
						this.$toast('暫無拆出')
					}
				});
		},
	},
	mounted() {
		
	}
};
</script>

<style lang="scss" scoped>
.order {
	.order-cont {
		margin-top: rem(80);
		.btn {
			position: relative;
			width: rem(300);
			height: rem(160);
			line-height: rem(160);
			border-radius: 50%;
			background-color: #fff2cc;
			text-align: center;
			color: #333;
			border: rem(2) solid #2c80bb;
			margin: 0 auto;
			font-size: rem(40);
			&::before {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 100%;
				height: 100%;
				background-color: #000;
				border: inherit;
				border-color: #000;
				border-radius: inherit;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				opacity: 0;
				content: ' ';
			}
			&:active::before {
				opacity: 0.1;
			}
		}
		.cj {
			margin-bottom: rem(100);
			background-color: #ffe699;
		}
	}
}
</style>
