<template>
	<div class="pwdChange-cont">
		<nav-top></nav-top>
		<div class="title">登入密碼修改</div>
		<div class="pwdChange-main">
			<div class="list lsPwd">
				<span>歷史密碼</span>
				<input type="text" v-model="oldPwd" placeholder="輸入歷史登入密碼" />
			</div>
			<div class="list newPwd">
				<div class="newpwd-list">
					<span>新密碼</span>
					<input type="password" v-model="newPwd" placeholder="至少1個數字和字母" />
				</div>
				<div class="newpwd-list">
					<span>再次輸入</span>
					<input type="password" v-model="newPwd2" placeholder="請再次輸入新密碼" />
				</div>
			</div>
			<div class="btn-b" @click="postPwdChange">保存</div>
		</div>
		<m-menu></m-menu>
	</div>
</template>

<script>
	import mMenu from '@/components/menu';
	import navTop from '@/components/navTop';
	export default {
		components: {
			mMenu,
			navTop
		},
		data() {
			return {
				oldPwd: '',
				newPwd: '',
				newPwd2: '',
				stop: false
			};
		},
		methods: {
			postPwdChange() {
				this.test()
				if (this.oldPwd == '' || this.newPwd == '' || this.newPwd2 == '') {
					this.$toast('請輸入密碼');
					return;
				}
				if (this.stop) {
					this.$dialog({
						message: '至少8個字符，至少1個數字和字母'
					});
					return
				}
				if (this.newPwd != this.newPwd2) {
					this.$toast.fail('密碼不一致');
					return;
				}
				this.$toast.loading({
					mask: true,
					message: '加載中...'
				});
				this.$axios
					.post('/v1/account/chanagepwd', {
						Guid: localStorage.guid,
						OldPassword: this.oldPwd,
						NewPassword: this.newPwd,
					}, {
						headers: {
							guid: localStorage.guid,
							authorization: localStorage.token
						}
					})
					.then(res => {
						this.$toast.clear();
						if (res.data.Code == 200) {
							this.$toast.success('修改成功');
							this.$router.go(-1);
						} else {
							this.$toast.fail('修改失敗');
						}
					});
			},
			test() {
				var reg = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/;
				if (!reg.test(this.newPwd)) {
					this.stop = true
				} else {
					this.stop = false
				}
			}
		}
	};
</script>

<style lang="scss" scoped>
	.pwdChange-cont {
		.title {
			font-size: rem(36);
			text-align: center;
		}

		.pwdChange-main {
			font-size: rem(36);

			.list {
				border: 1px solid #2c80bb;
				width: rem(450);
				border-radius: rem(20);
				margin: rem(100) auto;
				font-size: rem(30);
				box-sizing: border-box;

				&.lsPwd {
					display: flex;
					padding: rem(20);
				}

				&.newPwd {
					// padding: rem(20);
					border-color: #70ad47;

					.newpwd-list {
						display: flex;
						padding: rem(20);

						&:not(:last-child) {
							border-bottom: 1px solid #999;
						}
					}
				}

				span {
					display: inline-block;
					width: rem(200);
					text-align: center;
				}

				input {
					width: 100%;
				}
			}

			.btn-b {
				width: rem(200);
				height: rem(60);
				line-height: rem(60);
				margin: 0 auto;
				background-color: #ffc000;
				border: 1px solid #333;
				border-radius: rem(10);
				font-size: rem(46);
				text-align: center;
				position: relative;

				&::before {
					position: absolute;
					top: 50%;
					left: 50%;
					width: 100%;
					height: 100%;
					background-color: #000;
					border: inherit;
					border-color: #000;
					border-radius: inherit;
					-webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					opacity: 0;
					content: ' ';
				}

				&:active::before {
					opacity: 0.1;
				}
			}
		}
	}
</style>
