<template>
	<div class="pwdReset">
		<nav-top></nav-top>
		<div class="title">密碼重置</div>
		<div class="inputPhone" v-if="!resetShow">
			<div class="inpt-title">驗證電訊號</div>
			<div class="inpt-info">驗證碼已經發送至手機{{phone}}</div>
			<van-cell-group>
				<van-field center clearable placeholder="簡訊驗證碼" v-model="token">
					<van-button slot="button" size="small" type="primary" style="background-color: #FFC000;border-color: #2c7fb8;color: #333;" @click="djs">{{ defalt }}</van-button>
				</van-field>
			</van-cell-group>
			<div class="btn" @click="isReturn">設定您的新密碼</div>
		</div>
		<div class="inputPhone" v-if="resetShow">
			<div class="inpt-title">設定新登入密碼</div>
			<div class="inpt-info"></div>
			<van-cell-group><van-field v-model="newpwd" center clearable placeholder="新密碼" type="password"></van-field></van-cell-group>
			<p class="tip">切勿洩露您的密碼，避免資金損失</p>
			<div class="btn" @click="pwdChange">完成</div>
		</div>
	</div>
</template>

<script>
import navTop from '@/components/navTop';
export default {
	components: {
		navTop
	},
	data() {
		return {
			token: '',
			newpwd: '',
			resetShow: false,
			defalt: '重發驗證碼',
			timer: null,
			totalTime: 60,
			phone: this.$route.query.phone,
			stop: false
		};
	},
	methods: {
		test() {
			var reg = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/;
			if (!reg.test(this.newpwd)) {
				this.stop = true
			} else {
				this.stop = false
			}
		},
		isReturn(){
			this.resetShow = true
		},
		djs() {
			if(this.totalTime != 60){
				return
			}
			this.totalTime--;
			this.timer = setInterval(() => {
				this.totalTime--;
				this.defalt = this.totalTime + '秒后重新發送';
				if (this.totalTime == 0) {
					clearInterval(this.timer);
					this.defalt = '重新发送';
					this.totalTime = 60;
				}
			}, 1000);
		},
		pwdChange(){
			this.test()
			if (this.stop) {
				this.$dialog({
					message: '至少8個字符，至少1個數字和字母'
				});
				return
			}
			this.$axios.post('/v1/account/pwdset',{
				Phone: this.$route.query.phone,
				Token: this.token,
				NewPassword: this.newpwd
			}).then(res=>{
				if(res.data.Code == 200){
					this.$toast.success('修改成功');
					this.$router.push('/login')
				}else{
					this.$toast.fail(res.data.Content);
				}
			})
		}
	}
};
</script>

<style lang="scss" scoped>
.pwdReset {
	.title {
		padding: rem(20);
		font-size: rem(32);
		border-bottom: 1px solid #2c7fb8;
	}
	.inputPhone {
		width: 100%;
		font-size: rem(32);
		padding: rem(20);
		position: fixed;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		box-sizing: border-box;
		text-align: center;
		.inpt-title {
			margin-bottom: rem(20);
		}
		.inpt-info {
			font-size: rem(28);
			margin-bottom: rem(100);
		}
		.btn {
			text-align: center;
			margin: rem(60) rem(100);
			padding: rem(20) rem(100);
			background-color: #ffc000;
			border: 1px solid #2c7fb8;
			position: relative;
			&::before {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 100%;
				height: 100%;
				background-color: #000;
				border: inherit;
				border-color: #000;
				border-radius: inherit;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				opacity: 0;
				content: ' ';
			}
			&:active::before {
				opacity: 0.1;
			}
			.van-button {
				width: 100%;
			}
		}
		.tip {
			color: #999;
			font-size: rem(26);
			text-align: left;
			padding: rem(10) rem(30);
		}
	}
}
</style>
