<template>
	<div class="reg">
		<nav-top></nav-top>
		<div class="reg-main">
			<div class="reg-title">註冊賬號</div>
			<van-cell-group>
				<van-field v-model="phone" clearable label="電話/郵箱:" placeholder="請輸入電話/郵箱" @click-right-icon="$toast('question')" />
				<van-field v-model="pass" type="password" label="密碼:" :error-message="zhenz" placeholder="請輸入密碼" @ />
				<van-field v-model="pass2" type="password" label="確認密碼:" placeholder="密碼" />
				<van-field v-model="InviteCode" label="邀請碼:" placeholder="選填" />
				<van-field v-model="yzm" center clearable label="簡訊驗證碼" placeholder="請輸入簡訊驗證碼">
					<van-button slot="button" size="small" type="primary" @click="sendYzm" style="background-color: #FFC000;border-color: #2c7fb8;color: #333;">{{ defalt }}</van-button>
				</van-field>
			</van-cell-group>
			<div class="btn">
				<div class="btn-clas reg" @click="loginBtn">建立 GMG 帳戶</div>
				<div v-if="!isCode" class="btn-clas back" @click="$router.push('/login')">返回</div>
			</div>
		</div>
	</div>
</template>

<script>
	import navTop from '@/components/navTop';
	export default {
		components: {
			navTop
		},
		data() {
			return {
				defalt: '發送驗證碼',
				phone: '',
				timer: null,
				totalTime: 60,
				zcPhone: '',
				pass: '',
				pass2: '',
				guid: '',
				disb: false,
				InviteCode: '',
				yzm: '',
				background: {
					backgroundImage: 'url(' + require('@/common/images/loginbg.jpg') + ')'
				},
				zhenz: '',
				stop: false,
				isCode: false
			};
		},
		watch: {
			pass(newValue, oldValue) {
				this.test()
			}
		},
		methods: {
			sendYzm() {
				let reg = 11 && /^((13|14|15|17|18)[0-9]{1}\d{8})$/;
				if (!reg.test(this.phone)) {
					this.$toast.fail('手機格式錯誤');
				} else if (this.totalTime == 60) {
					this.totalTime--;
					this.getforregister();
					this.djs();
				}
			},
			loginBtn() {
				if (this.phone == '') {
					this.$toast.fail('請輸入手機號');
					return
				}
				if (this.stop) {
					this.$toast.fail('密碼不規範');
					return
				}
				if (this.pass != this.pass2) {
					this.$toast.fail('密碼不一致');
					return;
				}
				this.$axios
					.post('/v1/account/register', {
						Guid: this.guid,
						Phone: this.phone,
						InviteCode: this.InviteCode,
						Password: this.pass,
						Token: this.yzm
					})
					.then(res => {
						res = res.data;
						if (res.Code == 200) {
							this.$toast.fail('注冊成功');
							if(this.isCode){
								window.location.href = this.$store.state.url + '/YibeiGlobal.html'
							}else{
								this.$router.push('/login');
							}
						} else {
							this.$toast.fail(res.Content);
						}
					});
			},
			djs() {
				this.timer = setInterval(() => {
					this.totalTime--;
					this.defalt = this.totalTime + '秒後重新發送';
					if (this.totalTime == 0) {
						clearInterval(this.timer);
						this.defalt = '重新發送';
						this.totalTime = 60;
					}
				}, 1000);
			},
			getforregister() {
				this.$axios.post('/v1/account/sendsmsforregister?phone=' + this.phone).then(res => {
					res = res.data;
					if (res.Code == 200) {
						this.guid = res.Data.Guid;
						this.zcPhone = res.Data.Phone;
					} else {
						this.$toast.fail(res.Content);
					}
				});
			},
			test() {
				var reg1 = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/;
				if (!reg1.test(this.pass)) {
					this.zhenz = '至少8個字元，至少1個數字和字母'
					this.stop = true
				} else {
					this.zhenz = ''
					this.stop = false
				}
			}
		},
		mounted() {
			let url = window.location.href;
			if (url.indexOf('?') != -1) {
				this.InviteCode = this.$route.query.c;
				this.disb = true;
				this.isCode = true;
			}
		}
	};
</script>

<style lang="scss" scoped>
	.reg-main {
		padding: rem(20);

		.reg-title {
			font-size: rem(32);
			margin-bottom: rem(20);
		}

		.btn {
			margin-top: rem(200);

			.btn-clas {
				height: rem(80);
				line-height: rem(80);
				font-size: rem(36);
				text-align: center;
				border: 1px solid #2c7fb8;
				margin-bottom: rem(30);
				position: relative;

				&::before {
					position: absolute;
					top: 50%;
					left: 50%;
					width: 100%;
					height: 100%;
					background-color: #000;
					border: inherit;
					border-color: #000;
					border-radius: inherit;
					-webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					opacity: 0;
					content: ' ';
				}

				&:active::before {
					opacity: 0.1;
				}

				&.reg {
					background-color: #ffe699;
				}

				&.back {
					background-color: #f2f2f2;
				}
			}
		}
	}
</style>
