<template>
	<div class="rule">
		<nav-top></nav-top>
		<div class="rule-main" v-html="rule"></div>
	</div>
</template>

<script>
import navTop from '@/components/navTop';

export default {
	components: {
		navTop
	},
	data() {
		return {
			rule: ''
		};
	},
	methods: {
		getrule() {
			this.$axios
				.get('/v1/topic/detail', {
					params: {
						systemName: this.$route.query.sys
					}
				})
				.then(res => {
					this.rule = res.data.Data.Body;
				});
		}
	},
	mounted() {
		this.getrule();
	}
};
</script>

<style lang="scss">
.rule {
	.rule-main {
		padding: rem(20);
		font-size: rem(28);
		img{
			width: 100%;
		}
	}
}
</style>
