<template>
	<div class="share">
		<div class="share-bg" :style="bg">
			<div class="share-jz">
				<div class="logo">
					<span>GMG</span>
				</div>
				<div id="qrcode" class="qr-code"></div>
				<div class="tip">
					<p>歡迎註冊GMG</p>
					<p>邀請您加入GMG，長按識別二維碼</p>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import QRCode from 'qrcodejs2'
	import mMenu from '@/components/menu';
	import navTop from '@/components/navTop';

	export default {
		components: {
			mMenu,
			navTop
		},
		data() {
			return {
				bg: {
					backgroundImage: 'url(' + require('@/common/images/qrcode-bg.jpg') + ')'
				},
				myinvitecode: ''
			};
		},
		methods: {
			qrcode() {
				let qrcode = new QRCode('qrcode', {
					width: 130,
					height: 130,
					text: this.myinvitecode.Url,
					colorDark: "#000",
					colorLight: "#fff",
				})
			},
			getqrCode() {
				this.$axios
					.get('/v1/customer/myinvitecode', {
						headers: {
							guid: localStorage.guid,
							authorization: localStorage.token
						}
					})
					.then(res => {
						this.myinvitecode = res.data.Data;
						this.qrcode();
					});
			}
		},
		mounted() {
			this.getqrCode();
		}
	};
</script>

<style lang="scss" scoped>
	.share {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		.share-bg {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-size: 100% 100%;
			
			.share-jz{
				position: fixed;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
			}
			
			.logo {
				display: flex;
				align-items: center;
				justify-content: center;
				color: #ECCB3E;
				font-size: 50px;
				text-shadow: 0 0 2px #333;

				img {
					width: rem(100);
					height: rem(100);
					-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent), to(rgba(250, 250, 250, 0.5)));
				}
			}

			.qr-code {
				width: rem(250);
				height: rem(250);
				margin: rem(100) auto rem(30) auto;
			}

			.tip {
				width: rem(300);
				font-size: rem(32);
				text-align: center;
				color: #ECCB3E;

				p:first-child {
					font-size: rem(40);
					font-weight: bold;
				}
			}
		}
	}
</style>
