<template>
	<div class="shengoujin-cont">
		<nav-top></nav-top>
		<div class="banner-box"><img src="@/common/images/banner-shengoujin.jpg" alt="" /></div>
		<div class="main">
			<div class="title">GMG申購金</div>
			<span class="price-pr">可申購金額：${{accout.AvailAmount}}</span>
			<div class="cont">
				<span>$</span>
				<van-field readonly clickable :value="value" @touchstart.native.stop="show = true" />
				<van-number-keyboard close-button-text="完成" theme="custom" v-model="value" :show="show" :maxlength="10" @blur="show = false" />
				<span class="trans" @click="sgjDetail">交易明細</span>
			</div>
			<div class="tip"><span>金額按照匯入金額輸入</span></div>
			<div class="tx-btn" @click="postupdate">提現</div>
		</div>
		<m-menu :ybt="true"></m-menu>
	</div>
</template>

<script>
import mMenu from '@/components/menu';
import navTop from '@/components/navTop';
export default {
	components: {
		mMenu,
		navTop
	},
	data() {
		return {
			show: false,
			value: '',
			accout: ''
		};
	},
	methods:{
		sgjDetail(){
			this.$router.push({
				path: '/transDetail',
				query: {
					typeId: 15
				}
			})
		},
		getminiaccount(){
			this.$axios.get('/v1/miniaccount/get',{
				headers:{
					authorization: localStorage.token
				}
			}).then(res=>{
				this.accout = res.data.Data
			})
		},
		postupdate() {
			this.$axios.post('/v1/miniaccount/update?typeId=' + 15 + '&price=' + this.value, {},{
				headers:{
					authorization: localStorage.token,
					guid: localStorage.guid
				}
			}).then(res => {
				if (res.data.Code == 200) {
					this.$toast(res.data.Data.Msg);
					this.getminiaccount()
				}else{
					this.$toast(res.data.Content);
				}
			});
		}
	},
	created() {
		this.getminiaccount()
	}
};
</script>

<style lang="scss">
@import '@/common/css/yibeitong.scss';
.shengoujin-cont {
	.banner-box {
		img {
			-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent), to(rgba(250, 250, 250, 0.5)));
		}
	}
}
</style>
