<template>
	<div class="shengouRecon-cont">
		<nav-top></nav-top>
		<div class="zst">
			<m-echart></m-echart>
		</div>
		<div class="shengouRecon-main">
			<div class="list">
				<div class="label">利率指數:</div>
				<div class="input">{{ lastindex.Highest }}%</div>
			</div>
			<div class="list">
				<div class="label">申購金額:</div>
				<div class="input">{{ $route.query.price }}</div>
			</div>
			<div class="list">
				<div class="label">申購獲益:</div>
				<div class="input">{{ num }}</div>
			</div>
			<div class="btn" v-if="!isFnish">
				<button style="background-color: #FFF2CC;">取消</button>
				<button @click="addPrice">確認</button>
			</div>
			<div class="btn" v-if="isFnish">您的今日申購已經完成！</div>
		</div>
		<m-menu :isShare="true"></m-menu>
	</div>
</template>

<script>
	import mMenu from '@/components/menu';
	import navTop from '@/components/navTop';
	import mEchart from '@/components/echart';
	export default {
		components: {
			mMenu,
			navTop,
			mEchart
		},
		data() {
			return {
				lastindex: '',
				isFnish: false,
				timer: null
			};
		},
		computed: {
			num() {
				return (this.$route.query.price * (this.lastindex.Highest / 100)).toFixed(1)
			}
		},
		methods: {
			getlastindex() {
				if (this.$route.query.id != undefined && this.$route.query.id > 0) {
					this.lastindex = {Highest:this.$route.query.rate};
				} else {
					this.$axios
						.get('/v1/customer/indexarray?type=0', {
							headers: {
								authorization: localStorage.token,
								guid: localStorage.guid
							}
						})
						.then(res => {
							this.lastindex = res.data.Data[5];
						});
			}},
			addPrice() {
				this.$axios
					.post(
						'/v1/customer/addFriend', {
							type: 20,
							price: this.$route.query.price,
							method: this.$route.query.method
						}, {
							headers: {
								guid: localStorage.guid,
								authorization: localStorage.token
							}
						}
					)
					.then(res => {
						if (res.data.Code == 200) {
							this.$dialog({
								message: '指數申購已成功……'
							});
						} else {
							this.$toast(res.data.Content);
						}
					});
			},
			timers() {
				this.getlastindex();
				if (this.$route.query.is) {
					return
				}
				this.timer = setInterval(() => {
					this.getlastindex();
				}, 10000)
			}
		},
		mounted() {
			this.timers()
			this.isFnish = this.$route.query.is
		},
		beforeDestroy() {
			clearInterval(this.timer)
		}
	};
</script>

<style lang="scss" scoped>
	.shengouRecon-cont {
		.shengouRecon-main {
			width: 90%;
			margin: rem(80) auto 0 auto;

			.list {
				display: flex;
				align-items: flex-end;
				justify-content: center;
				font-size: rem(30);
				margin-bottom: rem(60);

				.label {
					display: inline-block;
					width: rem(140);
					text-align-last: justify;
					padding-left: rem(10);
				}

				.input {
					border-bottom: 1px solid #333333;
					width: rem(330);
					margin-left: rem(10);
				}

				.iconfont {
					font-size: rem(30);
				}
			}

			.btn {
				text-align: center;
				padding-top: rem(30);
				font-size: rem(30);

				button {
					position: relative;
					border: 0;
					color: #333;
					width: rem(120);
					height: rem(50);
					background: #ffc000;
					border-radius: rem(8);
					font-size: rem(30);
					margin: 0 rem(30);
					border: 1px solid #2c80bb;

					&::before {
						position: absolute;
						top: 50%;
						left: 50%;
						width: 100%;
						height: 100%;
						background-color: #000;
						border: inherit;
						border-color: #000;
						border-radius: inherit;
						-webkit-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
						opacity: 0;
						content: ' ';
					}

					&:active::before {
						opacity: 0.1;
					}
				}
			}
		}
	}
</style>
