<template>
	<div class="caijie">
		<nav-top :quesShow="true" ></nav-top>
		<div class="banner-box">
			<img src="@/common/images/banner-shengou.png" alt="">
		</div>
		<div class="caijie-main">
			<div class="radio-box">
				<span class="label">申購金額：</span>
				<div class="input">
					<div>
						$<van-field readonly clickable :value="price" @touchstart.native.stop="show = true" />
					</div>
					<span>請以整千數為單位輸入</span>
				</div>
			</div>
			<div class="radio-box">
				<span class="label">申購方式：</span>
				<van-radio-group v-model="radio">
					<van-radio name="1">申購金</van-radio>
					<div class="space"></div>
					<van-radio name="2">積分值</van-radio>
				</van-radio-group>
			</div>
			<div class="btn"><button @click="goRecon">申 購</button></div>
		</div>
		<m-menu :isShare="true"></m-menu>
		<van-number-keyboard theme="custom" close-button-text="完成" v-model="price" :show="show" :maxlength="5" @blur="show = false" />
	</div>
</template>

<script>
import mMenu from '@/components/menu';
import navTop from '@/components/navTop';
export default {
	components: {
		mMenu,
		navTop
	},
	data() {
		return {
			radio: '1',
			price: '',
			show: false
		};
	},
	methods:{
		goRecon() {
			if (this.price % 1000 == 0 && this.price <= 10000 && this.price != '') {
				this.$router.push({
					path: '/shengouRecon',
					query: {
						price: this.price,
						method: this.radio
					}
				});
			} else {
				this.$toast('輸入的金額有誤！');
			}
		},
	}
};
</script>

<style lang="scss" scoped>
.caijie {
	.caijie-main {
		width: 100%;
		margin-top: rem(30);
		.btn {
			padding: 0 rem(30);
			margin-top: rem(150);
			text-align: center;
			button {
				position: relative;
				border: 0;
				width: rem(220);
				height: rem(70);
				background: #ffc000;
				border-radius: rem(8);
				color: #333;
				font-weight: bold;
				font-size: rem(30);
				border: 1px solid #2C80BB;
				&::before {
					position: absolute;
					top: 50%;
					left: 50%;
					width: 100%;
					height: 100%;
					background-color: #000;
					border: inherit;
					border-color: #000;
					border-radius: inherit;
					-webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					opacity: 0;
					content: ' ';
				}
				&:active::before {
					opacity: 0.1;
				}
			}
		}
		.radio-box {
			display: flex;
			padding: 15px;
			font-size: rem(30);
			.space {
				height: 20px;
			}
			.input{
				display: flex;
				flex-direction: column;
				font-size: rem(40);
				.van-cell{
					padding: 0;
					font-size: rem(40);
					background: transparent;
					border-bottom: 1px solid #333;
					padding-left: rem(10);
				}
				div{
					display: flex;
				}
				span{
					font-size: rem(24);
				}
			}
		}
	}
}
</style>
