<template>
	<div class="shownotice">
		<nav-top></nav-top>
		<div class="shownotice-main">
			<div class="shownotice-title">
				<h2 style="text-align:center">{{title}}</h2>
				<h6 style="text-align:center;">發佈時間：{{time}}</h6>
			</div>
			<div class="shownotice-cont" v-html="body">

			</div>
		</div>
	</div>
</template>

<script>
	import navTop from '@/components/navTop';
	export default {
		components: {
			navTop
		},
		data() {
			return {
				body: '',
				title: '',
				time: ''
			}
		},
		methods: {
			getNewsDe() {
				this.$axios.get('/v1/news/item?id=' + this.$route.query.id, {}).then((res) => {
					this.body = res.data.Data.Full
					this.title = res.data.Data.Title
					this.time = res.data.Data.CreateTime
				})
			}
		},
		mounted() {
			this.getNewsDe()
		}
	}
</script>

<style lang="scss" scoped>
	.shownotice {
		font-size: rem(28);

		.shownotice-title {
			margin: rem(30) 0;

			h2 {
				font-size: rem(40);
				margin-bottom: rem(20);
				padding: 0 rem(20);
			}

			h6 {
				color: #999;
			}
		}

		.shownotice-cont {
			padding: rem(20);
			line-height: 2;
			overflow: hidden;

			img {
				width: 100%;
			}
		}
	}
</style>
<style lang="scss">
	.shownotice-cont {
		img {
			width: 100%;
		}
	}
</style>
