<template>
	<div class="transDetail-cont">
		<nav-top></nav-top>
		<div>
			<div class="title">交易明細</div>
			<div class="cont">
				<!-- <p class="hy"><span>＋123.85</span></p> -->
				<van-list v-model="loading" :finished="finished" finished-text="沒有更多了" @load="onLoad">
					<van-cell v-for="(item,index) in list" :key="index" :title="item.CreateTime" :value="item.Price" :label="item.Remark" />
				</van-list>
			</div>
		</div>
		<m-menu :ybt="true"></m-menu>
	</div>
</template>

<script>
import mMenu from '@/components/menu';
import navTop from '@/components/navTop';
export default {
	components: {
		mMenu,
		navTop
	},
	data() {
		return {
			page: 1,
			list: [],
			loading: false,
			finished: false
		};
	},
	methods: {
		onLoad() {
			this.page++;
			this.getTranstion();
		},
		getTranstion() {
			this.loading = true
			this.$axios
				.post(
					'/v1/miniaccount/accountrecord?typeId=' + this.$route.query.typeId + '&page=' + this.page + '&size=' + 10,
					{},
					{
						headers: {
							authorization: localStorage.token,
							guid: localStorage.guid
						}
					}
				)
				.then(res => {
					this.loading = false
					if(res.data.Data.Items.length < 10){
						this.finished = true
					}
					this.list = this.list.concat(res.data.Data.Items);
				});
		}
	},
	mounted() {
		this.getTranstion();
	}
};
</script>

<style lang="scss" scoped>
.transDetail-cont {
	.title {
		text-align: center;
		font-size: rem(32);
		margin-top: rem(50);
		margin-bottom: rem(50);
	}
	.cont {
		font-size: rem(28);
		margin-bottom: rem(100);
		.hy {
			padding: rem(20);
			background-color: #efefef;
			margin-bottom: rem(10);
		}
		.van-cell {
			background-color: #efefef;
		}
		.van-cell:not(:last-child)::after {
			border-bottom: 1px solid #fff;
		}
	}
}
</style>
