<template>
	<div class="userinfo">
		<nav-top></nav-top>
		<div class="userinfo-main">
			<van-cell-group>
				<van-field label="會員ID" v-model="userId" disabled />
				<van-field label="電訊號" v-model="phone" disabled />
				<van-field label="會員添加號" v-model="weixin" placeholder="請輸入會員添加號" />
			</van-cell-group>
			<div class="img-top">
				<van-uploader :after-read="afterRead">
					<div class="img-box">
						<img :src="base64Str">
					</div>
				</van-uploader>
				<div class="tip">上傳識別碼</div>
				<div class="img-btn">
					<div class="btnbb delet" @click="base64Str = ''">刪除</div>
					<div class="btnbb" @click="postImg">確認</div>
				</div>
			</div>
			<div class="btn" @click="submit">保存</div>
		</div>
	</div>
</template>

<script>
	import {
		mapState,
		mapMutations
	} from 'vuex';
	import navTop from '@/components/navTop.vue';

	export default {
		components: {
			navTop
		},
		data() {
			return {
				userId: 0,
				phone: '',
				// AvatarPictureId: 0,
				CardPictureId: 0,
				name: '',
				weixin: '',
				base64Str: '',
				alipay: '',
				fileList: [{
					content: ''
				}]
			};
		},
		computed: {
			...mapState({
				Token: 'token',
				Guid: 'guid',
				appUrl: 'appUrl'
			})
		},
		methods: {
			afterRead(file) {
				this.base64Str = file.content;
			},
			submit() {
				this.$axios
					.post(
						'/v1/customer/submit', {
							// AvatarPictureId: this.AvatarPictureId,
							CardPictureId: this.CardPictureId,
							Nickname: this.weixin
						}, {
							headers: {
								authorization: this.Token,
								guid: this.Guid
							}
						}
					)
					.then(res => {
						if (res.data.Code == 200) {
							this.$toast.success('保存成功');
						}
					});
			},
			postImg() {
				this.$axios
					.post(
						'/v1/customer/uploadweixinimg', {
							base64Str: this.base64Str
						}, {
							headers: {
								authorization: localStorage.token,
								guid: localStorage.guid
							}
						}
					)
					.then(res => {
						if (res.data.Code != 200) {
							this.$toast.fail('請上傳微信二維碼');
							return;
						} else {
							this.$toast.success('上傳成功');
							this.CardPictureId = res.data.Data.AvatarPictureId;
						}
					});
			},
			getUserinfo() {
				this.$axios
					.get('/v1/customer/info', {
						headers: {
							authorization: this.Token,
							guid: this.Guid
						}
					})
					.then(res => {
						this.fileList[0].content = res.data.Data.CodeUrl;
						this.name = res.data.Data.Name;
						this.phone = res.data.Data.Phone;
						this.userId = res.data.Data.Id;
						this.base64Str = res.data.Data.CodeUrl;
						this.weixin = res.data.Data.Nickname;
						this.alipay = res.data.Data.Alipay;
						this.CardPictureId = res.data.Data.CardPictureId
					});
			},
		},
		mounted() {
			this.getUserinfo();
		}
	};
</script>

<style lang="scss">
	.userinfo {
		.tip {
			font-size: rem(28);
			color: #666;
		}

		.userinfo-main {
			margin-top: rem(100);

			.upimg {
				margin-top: rem(30);
				padding: 0 rem(20);

				p {
					font-size: rem(28);
					margin-bottom: rem(30);
				}

				.van-uploader__preview-image {
					width: 180px;
					height: 180px;
				}

				.van-uploader__upload {
					width: 180px;
					height: 180px;
				}
			}

			.btn {
				width: rem(150);
				height: rem(60);
				line-height: rem(60);
				margin: 0 auto;
				font-size: rem(32);
				text-align: center;
				margin-top: rem(80);
				background-color: #ffc000;
				border: 1px solid #2c7fb8;
				border-radius: rem(15);
				padding: 0 rem(50);
				text-align-last: justify;
			}

			.img-top {
				margin-top: rem(60);
				text-align: center;

				.img-box {
					position: relative;
					width: rem(350);
					height: rem(350);

					&::before {
						content: '+';
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						color: #ccc;
						font-size: rem(100);
						opacity: 0.5;
					}

					img {
						width: rem(350);
						height: rem(350);
					}
				}

				.img-btn {
					display: flex;
					justify-content: center;
					font-size: rem(30);
					margin-top: rem(30);

					.btnbb {
						padding: rem(6) rem(15);
						background-color: #ffc000;
						border: 1px solid #c19000;
						border-radius: rem(10);
						margin: 0 rem(20);
					}
				}
			}
		}
	}
</style>
