<template>
	<div class="welcome-cont" :style="bg">
		<div class="logo-b">
			<img src="@/common/images/logo.png" alt="" />
			<span>
				G<i>M</i>G
			</span>
		</div>
		<div class="down-select">
			<img class="selct" src="@/common/images/welcome-down-select.png" alt="" @click="togglClick"/>
			<div class="lang-box" v-show="showSelect">
				<div class="lang-list" @click="alert">English</div>
				<div class="lang-list" @click="isTure = true">中文繁體</div>
				<div class="lang-list" @click="alert">Français</div>
				<div class="lang-list" @click="alert">عربي ،</div>
				<div class="lang-list" @click="alert">Italiano</div>
				<div class="lang-list" @click="alert">España</div>
				<div class="lang-list" @click="alert">한국어</div>
				<div class="lang-list" @click="alert">Português</div>
				<div class="lang-list" @click="alert">Alemão</div>
				<div class="lang-list" @click="alert">немецкий язык</div>
			</div>
		</div>
		<div v-show="showSelect" class="go" @click="go">進入</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			showSelect: false,
			isTure: false,
			bg: {
				backgroundImage: 'url(' + require('@/common/images/welcome-bg.png') + ')'
			}
		};
	},
	methods:{
		togglClick(){
			this.showSelect = !this.showSelect
		},
		go(){
			if(this.isTure){
				this.$router.push('/login')
			}else{
				this.$dialog({ message: 'Your choice is wrong' });
			}
		},
		alert(){
			this.$dialog({ message: '根據您的IP只能選擇中文繁體' });
		}
	}
};
</script>

<style lang="scss" scoped>
.welcome-cont {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: 100% 100%;
	.logo-b {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: rem(30) 0;
		font-size: rem(48);
		img {
			width: rem(120);
			height: rem(120);
		}
		span {
			color: #6abf5c;
			i {
				color: #df7d31;
				font-style: normal;
			}
		}
	}
	.down-select {
		padding: 0 rem(20);
		text-align: center;
		.selct {
			width: rem(600);
			-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(20%, transparent), to(rgba(250, 250, 250, 0.5)));
		}
		.lang-box{
			background-color: #FFFFFF;
			width: rem(500);
			margin: 0 auto;
			.lang-list{
				font-size: rem(30);
				padding: rem(10) 0;
				border: 1px solid #9CDD5D;
				&:hover{
					background-color: #C5E0B4;
				}
			}
		}
	}
	.go{
		width: rem(140);
		height: rem(140);
		line-height: rem(140);
		margin: 0 auto;
		text-align: center;
		font-size: rem(40);
		background-color: #78AB48;
		border: 1px solid #2c80bb;
		border-radius: 50%;
		margin-top: rem(80);
		color: #648F36;
		text-shadow: 0 0 5px #e1d40c;
		font-weight: bold;
	}
}
</style>
