<template>
	<div class="yibeitong-cont">
		<nav-top :quesShow="true" Rout="yibeiqi"></nav-top>
		<div class="yibeitong">
			<router-link to="/shengoujin" class="userinfo-list">
				<div class="icontitle">
					<span class="iconfont">&#xe61e;</span>
					<span>申購金</span>
				</div>
				<div class="icon-price">
					<img src="@/common/images/icon/my_icon_date.png" alt="" />
				</div>
			</router-link>
			<router-link to="/huoyizhi" class="userinfo-list">
				<div class="icontitle">
					<span class="iconfont">&#xe61d;</span>
					<span>獲益金</span>
				</div>
				<div class="icon-price">
					<img src="@/common/images/icon/my_icon_date.png" alt="" />
				</div>
			</router-link>
			<router-link to="/jifenzhi" class="userinfo-list">
				<div class="icontitle">
					<span class="iconfont">&#xe61b;</span>
					<span>積分值</span>
				</div>
				<img src="@/common/images/icon/my_icon_date.png" alt="" />
			</router-link>
			<router-link to="/share" class="userinfo-list">
				<div class="icontitle">
					<span class="iconfont">&#xe622;</span>
					<span>GMG專屬(邀請有禮)</span>
				</div>
				<img src="@/common/images/icon/my_icon_date.png" alt="" />
			</router-link>
			<router-link to="/myinvitees" class="userinfo-list">
			<div class="icontitle">
				<span class="iconfont">&#xe656;</span>
				<span>GMG家族成員</span>
			</div>
				<img src="@/common/images/icon/my_icon_date.png" alt="" />
			</router-link>
		</div>
		<m-menu :ybt="true"></m-menu>
	</div>
</template>

<script>
import mMenu from '@/components/menu';
import navTop from '@/components/navTop';
export default {
	components: {
		mMenu,
		navTop
	},
	data() {
		return {
			
		};
	},
};
</script>

<style lang="scss" scoped>
.yibeitong-cont {
	.yibeitong {
		margin-top: rem(10);
		.userinfo-list {
			border-bottom: rem(2) solid #2C80BB;
			height: 8vh;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			color: #373f5f;
			padding: 0 rem(20) rem(20) rem(20);
			position: relative;
			&::before {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 100%;
				height: 100%;
				background-color: #000;
				border: inherit;
				border-color: #000;
				border-radius: inherit;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				opacity: 0;
				content: ' ';
			}
			&:active::before {
				opacity: 0.1;
			}
			span {
				font-size: rem(38);
			}
			.iconfont{
				display: inline-block;
				font-size: rem(42);
				padding-right: rem(20);
			}
			img {
				height: rem(20);
			}
			.icontitle{
				display: inline-flex;
			}
			.icon-price{
				display: flex;
				align-items: center;
			}
		}
		.price-pr{
			padding-right: rem(15);
		}
	}
}
</style>
