<template>
	<div class="zhishu-cont">
		<nav-top :quesShow="true" Rout="zhishu"></nav-top>
		<div class="zhishu-main">
			<div class="trend">
				<m-echart></m-echart>
			</div>
			<div class="cont">
				<div class="list">
					<div class="title">餘&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;額</div>
					<div class="mun">{{ yue }}</div>
				</div>
				<div class="list">
					<div class="title">利率指數％</div>
					<div class="mun bg">{{ info.Highest }}%</div>
				</div>
			</div>
			<div class="btn-btm">
				<div class="btn left" @click="$router.push('/huiru')">匯入申購金</div>
				<div class="btn right" @click="getcustomer">指數購買</div>
			</div>
		</div>
		<m-menu :isShare="true"></m-menu>
	</div>
</template>

<script>
	import mMenu from '@/components/menu';
	import navTop from '@/components/navTop';
	import mEchart from '@/components/echart';
	export default {
		components: {
			mMenu,
			navTop,
			mEchart
		},
		data() {
			return {
				info: {
					Volume: 0,
					Rate: 0,
				},
				timer: null,
				yue: 0
			};
		},
		methods: {
			getlastindex() {
				this.$axios.get('/v1/customer/indexarray?type=0', {
					headers: {
						authorization: localStorage.token,
						guid: localStorage.guid
					}
				}).then(res => {
					this.info = res.data.Data[5]
				})
			},
			getcustomer() {
				this.$axios.get('/v1/customer', {
					headers: {
						authorization: localStorage.token,
						guid: localStorage.guid
					}
				}).then(res => {
					if (res.data.Code == 250) {
						this.$router.push('/shengou')
					} else if (res.data.Code == 200) {
						this.$router.push({
							path: '/shengouRecon',
							query: {
								id: res.data.Data.Id,
								rate: res.data.Data.Rate,
								price: res.data.Data.Price,
								is: true
							}
						})
					}
				})
			},
			getminiaccount() {
				this.$axios.get('/v1/miniaccount/get', {
					headers: {
						authorization: localStorage.token,
						guid: localStorage.guid
					}
				}).then(res => {
					this.yue = res.data.Data.AvailAmount
				})
			},
			timers() {
				this.getlastindex();
				this.timer = setInterval(() => {
					this.getlastindex();
				}, 10000)
			}
		},
		mounted() {
			this.getminiaccount()
			this.timers()
		},
		beforeDestroy() {
			clearInterval(this.timer)
		}
	};
</script>

<style lang="scss" scoped>
	.zhishu-cont {
		.zhishu-main {
			.trend {
				img {
					width: 100%;
				}
			}

			.cont {
				width: rem(650);
				display: flex;
				justify-content: space-around;
				font-size: rem(32);
				margin: 0 auto;
				margin-top: rem(80);
				padding: rem(20);
				border-radius: rem(20);
				border: 1px solid #2c80bb;

				.list {
					.title {
						margin-bottom: rem(10);

						&.opt {
							opacity: 0;
						}
					}

					.mun {
						text-align: center;

						&.bg {
							background-color: #2b908f;
							color: #fff;
						}
					}
				}
			}

			.btn-btm {
				display: flex;
				justify-content: space-between;
				padding: 0 rem(30);
				font-size: rem(34);
				margin-top: rem(80);

				.btn {
					position: relative;
					font-weight: bold;
					flex: 1;
					height: rem(70);
					line-height: rem(70);
					background-color: #ffc000;
					color: #333;
					border: 1px solid #2c80bb;
					border-radius: rem(10);
					text-align: center;
					margin: 0 rem(10);

					&::before {
						position: absolute;
						top: 50%;
						left: 50%;
						width: 100%;
						height: 100%;
						background-color: #000;
						border: inherit;
						border-color: #000;
						border-radius: inherit;
						-webkit-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
						opacity: 0;
						content: ' ';
					}

					&:active::before {
						opacity: 0.1;
					}
				}
			}
		}
	}
</style>
