 
   <div class="row">
    <div class="col-lg-12">
        <h2>參加活動資訊 </h2>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>申請者姓名</th>   
                    <th>申請者電話</th>   
                    <th>區域-分店</th>
                    <th>參加日期-場次(1)</th>
                    <th>參加日期-場次(2)</th>
                    <th>參加日期-場次(3)</th>
                </tr>
            </thead>
            <tbody>
               {{#member}}
                <tr>
                    <td>{{f1}}</td>
                    <td>{{f2}}</td>
                    <td>{{area}}--{{depname}}</td>
                    <td>{{eventdate1}}-{{session1}}</td>
                    <td>{{eventdate2}}-{{session2}}</td>
                    <td>{{eventdate3}}-{{session3}}</td>
                </tr>
                {{/member}}
            </tbody>
        </table>
    </div>
</div>


  

