<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .fade-enter-active,
        .fade-leave-active {
            transition: opacity .5s;
        }

        .fade-enter,
        .fade-leave-to

        /* .fade-leave-active below version 2.1.8 */
            {
            opacity: 0;
        }
    </style>
</head>

<body>
    <div id="app">
        <h1 v-bind:title="title">{{main}}</h1>
        <transition name="fade">
            <h2 v-if="seen" title="subtitle">{{submain}}</h2>
        </transition>
        <button v-on:click="handleClick">toggle subtitle</button>
        <br>

        Search Box<input type="text" v-model="searchString">
        <br>
        <h3>{{searchString}}</h3>
       <table>
           <th>
               <td>ID</td>
               <td>Name </td>
               <td>Address</td>
           </th>
           <div id="table1">
                <table-list>
                    <tr>
                        <td></td>
                    <td></td>
                    <td></td></tr>
                </table-list>
           </div>
       </table>
    </div>
    
    <script>
        Vue.component('table-list', {
            data:function(){
                return{
                    id:1
                }
            },
            template:''

        })
        var app = new Vue({
            el: '#app',
            data: {
                main: 'Table List',
                submain: 'Contact List',
                seen: true,
                searchString:'',
                title: 'Mouse stoppde' + new Date().toLocaleString()

            },
            methods: {
                handleClick: function () {
                    this.seen = !this.seen
                }
            },
        })
    </script>
</body>

</html>