<p>拿坡里 Pizza 小廚師 DIY 活動 </p>

<p>活動宗旨︰讓孩子體驗製作披薩DIY樂趣 <br />
活動對象︰3~12歲小朋友(工作服適合120cm以下小朋友穿著) <br />
報名方式︰自行組10人以上團體參加 <br />
活動費用︰NT$300 <br />
每份含Mini披薩、現炸脆薯1份、1瓶迷你瓶飲料、拿坡里工作服、拿坡里小圍裙、完成證書 <br />
<img alt="" src="http://800adplus.com/htmltest/upload/image/image/na1.png" style="width: 676px; height: 147px;" /></p>

<p>＜活動注意事項＞ </p>

<p>‧ 10位小朋友以上成團，2位小朋友至少需要有1位大人陪同 。製作的小朋友需為6歲以上、12歲以下。若為3-6歲的小朋友，每位小朋友皆須一名大人陪同喔! </p>

<p>‧ 因安全考量，小朋友是不能進拿坡里內場的喔! 烤披薩會請專業的門市人員協助。 </p>

<p>‧ 素食者請另外告知門市負責人員。 </p>

<p>‧ 此活動僅限拿坡里部份門市舉辦，活動內容及禮物以各門市實際舉辦為主。 </p>

<p>‧ 本網站報名送出後，以該門市負責店長與團主電話聯絡確認之內容、參加時間為主，請務必留可聯絡暢通之電話。若一週內未接到門市去電，您可直接撥打欲參加門市之電話詢問。</p>
