﻿@page





<body>

    <div id="container" class=" fill">
        <div class="row no-gutters justify-content-center h-100">
            <div class="col-md-4 ">
                <div class="mapL">
                    <div class="login-logo"></div>
                    <div class="welcomeHeroText">歡迎使用</div>
                    <div class="welcomeTitle">Customer Data Platform - DRAMA</div>
                    <div class="loginform">
                        <form id="signinForm" class="form-signin" role="form" action="/webapp/j_spring_security_check"
                              method="post">
                            <div><label>用户名</label></div>
                            <input autocomplete="off" type="text" class="form-control" id="username" name="username"
                                   required="" autofocus="" tabindex="1" onblur="">
                            <div class="login-password" style="margin-top: 20px; ">
                                <label>密碼</label>
                                <p class="forgotpass">
                                    <a href="resetPwd" tabindex="5">忘記密碼</a>
                                </p>
                            </div>
                            <label id="errlbl" class="correct-lbl">用户名或密碼無效。请重新嘗試使用完整用户名和密碼。</label>
                            <input autocomplete="off" type="password" class="form-control" id="password" name="password"
                                   tabindex="2" style="display:block">










                            <div>

                                <div class="submit">
                                    <button id="signinBtn" class="submit-button" type="button" tabindex="4">登錄</button>
                                </div>
                                <!--
                                <div class="submit" >
                                        <button id="validateBtn" class="submit-button" type="button" tabindex="4" >驗證</button>
                                    </div>-->
                            </div>
                        </form>
                    </div>
                    <div class="privacy-rule">
                        <ul>
                            <li> Copyright © 2021 Aurocore,Co All rights reserved. </li>
                            <li> <a href="">隱私權政策</a> </li>


                        </ul>










                    </div>

                </div>
            </div>
            <div class="col-md-8">
                <div class="mapR"><img></div>
            </div>
        </div>

    </div>
    <script>
        var ele = document.getElementById('container');

        if (ele) {
            ele.style.visibility = "visible";

        }
    </script>
    <script src="./assests/js/login.js"></script>

</body>

</html>