
@keyframes hiddenme{
	to{
		visibility: hidden;
		
	}
}
.hiddenme{
	visibility:visible;
    animation: 0s linear 0.2s forwards hiddenme ;
}
.top15 { margin-top:15px; }
.left15{padding-left: 15px;}
.break-word {word-wrap: break-word;}
.site-header{
	background: url(../img/bkg-header.jpg) no-repeat center center;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 4.375em;
    padding-bottom: 0.875em;
	color: white;
}
@media screen and (max-width: 700px)
.site-header {
    padding-top: 2.625em;
}
.site-header, .main-content, .site-footer {
    padding-left: 1em; 
    padding-right: 1em;
}
th {
	font: bold 11px "微軟正黑體", Verdana, Arial, Helvetica,
	sans-serif;
	color: #6D929B;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA url(../img/bg_header.jpg) no-repeat;
}

th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: none;
}
th.spec {	
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #fff url(../img/bullet1.gif) no-repeat;
	font: bold 10px "微軟正黑體", Verdana, Arial, Helvetica,
	sans-serif;
}

th.specalt {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #f5fafa url(../img/bullet2.gif) no-repeat;
	font: bold 10px "微軟正黑體", Verdana, Arial, Helvetica,
	sans-serif;
	color: #B4AA9D;
}
td {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #6D929B;
}


td.alt {
	background: #F5FAFA;
	color: #B4AA9D;
}
  
.bgcolor {
	background-color: #F4F3F8 ;
}
