﻿<html>
<head>
	<script src="jquery-3.2.1.js"></script>
	<script type="text/javascript" src="angular.min.js"></script>
	<script src="angular-validator.js"></script>
	<script src="main.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- jquery -->
    <script src="js/jquery.min_compile.js"></script>
    <script src="js/jqueryga.js"></script>

    <style>
    body {
        font-family: Microsoft JhengHei;
    }
    form input {
        margin: 2% 0;
        border-radius: 10px;
        width: 100%;
        box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.7);
        padding: 2%;
        background-color: #e5e5e5;
        border: 1px solid rgba(0,0,0,0.1);
    }

    form select {
        margin: 2% 0;
        border-radius: 10px;
        width: 30%;
        box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.7);
        padding: 2%;
        background-color: #e5e5e5;
        border: 1px solid rgba(0,0,0,0.1);
    }
    .sub {
        background-color: #17c4c3;
        color: white;
        box-shadow: none;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.7);
    }
    .sub:hover {
        box-shadow: none;
    }
    .user-text-item {
        color : black;
        /* border-radius: 30px; */
        margin: 8px 16px !important;
    }
    .user-text-item:hover {
        color: white !important;
        background-color: red !important;
    }
    @media screen and (max-width: 900px) {
        .w3-bar {
            padding: 0 !important;
        }
    }
    @media screen and (max-width: 768px) {
        .web {
            display: none;
        }
        .phone {
            display: block !important;
        }
        .user-layout0 {
            background-image: url(img/log_in-copy.png) !important;
        }
        .w3-bar a {
            width: 100% !important;
        }
        .user-text-item {
            /* background-color: rgb(0, 117, 65); */
        }
    }

    </style>

</head>

<body data-twttr-rendered="true" id="ng-app" ng-app="TEST_Proj">
	<div style="max-width: 1280px; margin: 0 auto;">
        <div class="w3-bar" style="background-image: url(img/head_bar.png); display: inline-table; width: 100% !important; padding: 0 10vw; color: white; ">
            <a href="https://www.0800076666.com.tw/" class="w3-bar-item" style="float: left"><img src="img/logo.png" style="width:160px"></a>
            <a href="#3" class="w3-bar-item w3-button user-text-item" style="float: right">活動辦法</a>
            <a href="#2" class="w3-bar-item w3-button user-text-item" style="float: right">發票登錄</a>
            <a href="#1" class="w3-bar-item w3-button user-text-item" style="float: right">活動贈品</a>
        </div>
        <div id="1"><img src="img/main_page_top.jpg" style="width: 100%;"></div>
        <div style="background-image: url(img/main_page_down.jpg); background-size: cover; background-repeat: no-repeat;">
            <a href="http://coke.83811.tw"><img src="img/button_new.png" style="width: 100%;"></a>
        </div>

        <div id="2" style="background-image: url(img/log_in_bg.jpg); background-size: cover;">
            <div class="web"><img src="img/log_in_top.png" style="width: 100%"></div>
            <div class="phone" style="display: none"><img src="img/log_in-top.png" style="width: 100%"></div>
            <div style="background-image:url(img/log_in_copy.png); display: inline-table;  width: 100% !important; background-size: contain;" class="user-layout0">
                <form action="https://docs.google.com/forms/d/e/1FAIpQLSfNr3lL9By8i-RlbhNhf-mGjw8cvrZa3G71V3njjLCbv6hY-A/formResponse" method="POST" id="ss-form" target="_self" onsubmit="" class="ng-pristine ng-valid" style="width: 60%; margin-left: 20%; margin-right: 20%;">
                    <input type="text" name="entry.206835945" value="" class="ss-q-short" id="entry_206835945" dir="auto" aria-label="發票號碼  " placeholder="發票號碼" pattern="[A-Za-z][A-Za-z][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]" title="不符合發票格式，煩請再確認。" required="required">
                    <input type="number" name="entry.1907054252" value="" class="ss-q-short" id="entry_1907054252" dir="auto" aria-label="消費金額  " title="" placeholder="消費金額" min="250" required="required">

                    <!-- 選擇門市 -------------------------------------------------------------------------------------------------------------------------->
                    <div class="control-group col-xs-12 form-inline" ng-controller="storeCntrl">
                        <div class="col-xs-12 padding ">
                            <select required name="entry.1240224157" id="entry.1240224157" aria-label="縣市  " ng-model="states" ng-options="country for (country, states) in countries">
                                <option value='' disabled selected>城市</option>
                            </select>
                            <select required name="entry.1858524801" id="entry.1858524801" aria-label="區  " style="margin-left: calc(5% - 6px); margin-right: calc(5% - 6px);" ng-disabled="!states" ng-model="cities" ng-options="state   for (state,city) in states">
                                <option value='' disabled selected>區域</option>
                            </select>
                            <select required name="entry.1979950006" id="entry.1979950006" aria-label="門市  " ng-disabled="!cities || !states" ng-model="city" ng-change="changeStore(city)">
                                <option value='' disabled selected>門市</option>
                                <option ng-repeat="city in cities" value='{{city}}'>{{city}}</option>
                            </select>
                        </div>
                    </div>

                    <input type="text" name="entry.1474448502" value="" class="ss-q-short" id="entry_1474448502" dir="auto" aria-label="姓名  " title="" placeholder="姓名" required="required">
                    <input type="text" name="entry.1529768577" value="" class="ss-q-short" id="entry_1529768577" dir="auto" aria-label="電話  " title="" placeholder="電話" required="required">
                    <input type="text" name="entry.1263575999" value="" class="ss-q-short" id="entry_1263575999" dir="auto" aria-label="電子郵件  " title="" placeholder="電子郵件" required="required" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$">
                    <input type="submit" name="submit" value="提交" id="ss-submit" class="jfk-button jfk-button-action sub">
                </form>
            </div>
            <div class="web"><img src="img/log_in_down.png" style="width: 100%"></div>
            <div class="phone" style="display: none"><img src="img/log_in-down.png" style="width: 100%"></div>
        </div>
        <div id="3">
            <div class="web"><img src="img/activities.jpg" style="width: 100%"></div>
            <div class="phone" style="display: none"><img src="img/phone.png" style="width: 100%"></div>
        </div>
        <script>
       $(function () {
           $('a[href*=#]:not([href=#])').click(function() {
               var target = $(this.hash);
               $('html,body').animate({
                   scrollTop: target.offset().top
               }, 700);
               return false;
           });

       });
        </script>
</div>
</body>

</html>



