<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Aurocore Admin </title>

	<!-- Bootstrap core CSS-->
	<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom fonts for this template-->
	<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

	<!-- Page level plugin CSS-->
	<link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

	<!-- Custom styles for this template-->
	<link href="css/sb-admin.css" rel="stylesheet">

</head>

<body id="page-top">

	<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

		<a class="navbar-brand mr-1" href="index.html">福勝亭</a>

		<button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>


		<!-- Navbar -->


	</nav>

	<div id="wrapper">

		<!-- Sidebar -->
		<ul class="sidebar navbar-nav">
			<li class="nav-item active">
				<a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>抽獎活動</span>
          </a>
			</li>
			<!--
			<li class="nav-item">
				<a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-table"></i>
            <span>得獎列表</span></a>
			</li>-->
		</ul>

		<div id="content-wrapper">

			<div class="container-fluid">

				<!-- Breadcrumbs-->


				<!-- Icon Cards-->
				<div class="row">
					<div class="col-xl-4 col-sm-12 mb-3">
						<div class="card text-white bg-primary o-hidden h-100">
							<div class="card-body">
								<div class="card-body-icon">
									<i class="fas fa-fw fa-comments"></i>
								</div>
								<div class="mr-5">活動名稱 :<br> 暢快享受 一抽就樂</div>
							</div>

						</div>
					</div>
					<div class="col-xl-4 col-sm-12 mb-3">
						<div class="card text-white bg-warning o-hidden h-100">
							<div class="card-body">
								<div class="card-body-icon">
									<i class="fas fa-fw fa-list"></i>
								</div>
								<div class="mr-5">起訖日期 : <br>2018/08/01 ~ 2018/09/30</div>
							</div>

						</div>
					</div>
					<div class="col-xl-4 col-sm-12 mb-3">
						<div class="card text-white bg-success o-hidden h-100">
							<div class="card-body">
								<div class="card-body-icon">
									<i class="fas fa-fw fa-shopping-cart"></i>
								</div>
								<div id="peoples" class="mr-5"></div>
							</div>

						</div>
					</div>

				</div>
				<div class="row">

					<div id="awardtbl" class="card col-xl-10 col-sm-12 dataTable">
						
					</div>
					<div class="col-xl-2 col-sm-12">
					<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
					  <a class="btn btn-outline-primary" href="#" onclick="getRewardList();">抽選中獎人</a>
					  <a id="exportlist" class="btn btn-outline-primary" href="#" >匯出得獎清冊</a>

					</div>
					</div>
				</div>



			</div>
			<!-- /.container-fluid -->

			<!-- Sticky Footer -->
			<footer class="sticky-footer">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>Copyright © Aurocore 2018</span>
					</div>
				</div>
			</footer>

		</div>
		<!-- /.content-wrapper -->

	</div>
	<!-- /#wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

	<!-- Logout Modal-->

	<!-- Bootstrap core JavaScript-->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Page level plugin JavaScript-->
	<script src="vendor/datatables/jquery.dataTables.js"></script>
	<script src="vendor/datatables/dataTables.bootstrap4.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="js/sb-admin.min.js"></script>

	<!-- Demo scripts for this page-->
	<script src="js/demo/datatables-demo.js"></script>
	<script src="js/demo/chart-area-demo.js"></script>
	<script src="js/handlebarsv4.js"></script>
	<script src="js/prizelist.js"></script>

	<script>
		$(document).ready(function() {
			$('#awarddt').DataTable({
				"paging": false,
				"ordering": false,
				"searching": false,
				"info": false
			});
			prize.getPeoplestat();
		});
	</script>
	<script id="people-template" type="text/x-handlebars-template">
		抽獎人數 :<br> {{number}}
	</script>
	<script id="awardtbl-template" type="text/x-handlebars-template">
		<div class="card-header">
							<i class="fas fa-table"></i> 獎項列表
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table id="awarddt" class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<thead>
										<tr>
											<th>序號</th>
											<th>獎項</th>
											<th>品名</th>
											<th>數量</th>
											<th>單價</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>序號</th>
											<th>獎項</th>
											<th>品名</th>
											<th>數量</th>
											<th>單價</th>

										</tr>
									</tfoot>
									<tbody>
										<tr>
											<th>1</th>
											<th>頭獎</th>
											<th>SHARP 50吋 4K 智慧聯網液晶顯示器 </th>
											<th>2</th>
											<th>24,900</th>
										</tr>
										<tr>
											<th>2</th>
											<th>二獎</th>
											<th>百事可樂限量腳踏車 </th>
											<th>3</th>
											<th>8,500</th>
										</tr>
										<tr>
											<th>3</th>
											<th>三獎</th>
											<th>百事可樂藍牙喇叭</th>
											<th>10</th>
											<th>1,800</th>
										</tr>
										<tr>
											<th>4</th>
											<th>四獎</th>
											<th>百事可樂 16g 隨身碟 </th>
											<th>50</th>
											<th>800</th>
										</tr>
										<tr>
											<th>5</th>
											<th>五獎</th>
											<th>福勝亭免費招待雙人餐</th>
											<th>100</th>
											<th>400</th>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
	</script>
	<script id="winnertbl-template" type="text/x-handlebars-template">
		抽獎人數 :<br> {{number}}
	</script>
	<script type="text/javascript">
        $('#exportlist').click(function() {
  var titles = [];
  var data = [];

  /*
   * Get the table headers, this will be CSV headers
   * The count of headers will be CSV string separator
   */
  $('.dataTable th').each(function() {
    titles.push($(this).text());
  });	

  /*
   * Get the actual data, this will contain all the data, in 1 array
   */
  $('.dataTable td').each(function() {
    data.push($(this).text());
  });
  
  /*
   * Convert our data to CSV string
   */
  var CSVString = prepCSVRow(titles, titles.length, '');
  CSVString = prepCSVRow(data, titles.length, CSVString);

  /*
   * Make CSV downloadable
   */
  var downloadLink = document.createElement("a");
  var blob = new Blob(["\ufeff", CSVString]);
  var url = URL.createObjectURL(blob);
  downloadLink.href = url;
  downloadLink.download = "data.csv";

  /*
   * Actually download CSV
   */
  document.body.appendChild(downloadLink);
  downloadLink.click();
  document.body.removeChild(downloadLink);
});

   /*
* Convert data array to CSV string
* @param arr {Array} - the actual data
* @param columnCount {Number} - the amount to split the data into columns
* @param initial {String} - initial string to append to CSV string
* return {String} - ready CSV string
*/
function prepCSVRow(arr, columnCount, initial) {
  var row = ''; // this will hold data
  var delimeter = ','; // data slice separator, in excel it's `;`, in usual CSv it's `,`
  var newLine = '\r\n'; // newline separator for CSV row

  /*
   * Convert [1,2,3,4] into [[1,2], [3,4]] while count is 2
   * @param _arr {Array} - the actual array to split
   * @param _count {Number} - the amount to split
   * return {Array} - splitted array
   */
  function splitArray(_arr, _count) {
    var splitted = [];
    var result = [];
    _arr.forEach(function(item, idx) {
      if ((idx + 1) % _count === 0) {
        splitted.push(item);
        result.push(splitted);
        splitted = [];
      } else {
        splitted.push(item);
      }
    });
    return result;
  }
  var plainArr = splitArray(arr, columnCount);
  // don't know how to explain this
  // you just have to like follow the code
  // and you understand, it's pretty simple
  // it converts `['a', 'b', 'c']` to `a,b,c` string
  plainArr.forEach(function(arrItem) {
    arrItem.forEach(function(item, idx) {
      row += item + ((idx + 1) === arrItem.length ? '' : delimeter);
    });
    row += newLine;
  });
  return initial + row;
}
    </script>
</body>

</html>