/*base*/
.font-size-10 {
	font-size: 10px;
}

.font-size-11 {
	font-size: 11px;
}

.font-size-12 {
	font-size: 12px;
}

.font-size-13 {
	font-size: 13px;
}

.font-size-14 {
	font-size: 14px;
}

.font-size-15 {
	font-size: 15px;
}

.font-size-16 {
	font-size: 16px;
}

.font-size-17 {
	font-size: 17px;
}

.font-size-18 {
	font-size: 18px;
}

.font-size-19 {
	font-size: 19px;
}

.font-size-20 {
	font-size: 20px;
}

.font-size-21 {
	font-size: 21px;
}

.font-size-22 {
	font-size: 22px;
}

.font-size-23 {
	font-size: 23px;
}

.font-size-24 {
	font-size: 24px;
}

.font-size-25 {
	font-size: 25px;
}

.font-size-26 {
	font-size: 26px;
}

.font-size-27 {
	font-size: 27px;
}

.font-size-28 {
	font-size: 28px;
}

.font-size-29 {
	font-size: 29px;
}

.font-size-30 {
	font-size: 30px;
}

.font-gray-1 {
	color: #f7f7f7;
}

.font-gray-2 {
	color: #e9e9e9;
}

.font-gray-3 {
	color: #d9d9d9;
}

.font-gray-4 {
	color: #c9c9c9;
}

.font-gray-5,
.block-heading-1 span {
	color: #b8b8b8;
}

.font-gray-6 {
	color: #a8a8a8;
}

.font-gray-7 {
	color: #939393;
}

.font-gray-8 {
	color: #7b7b7b;
}

.font-gray-9 {
	color: #636363 #4d4d4d;
}

.font-gray-10 {
	color: #353535;
}

.border-gray-1 {
	border-color: #f7f7f7;
}

.border-gray-2 {
	border-color: #e9e9e9;
}

.border-gray-3 {
	border-color: #d9d9d9;
}

.border-gray-4 {
	border-color: #c9c9c9;
}

.border-gray-5 {
	border-color: #b8b8b8;
}

.border-gray-6 {
	border-color: #a8a8a8;
}

.border-gray-7 {
	border-color: #939393;
}

.border-gray-8 {
	border-color: #7b7b7b;
}

.border-gray-9 {
	border-color: #636363 #4d4d4d;
}

.border-gray-10 {
	border-color: #353535;
}

.bg-gray-1 {
	border-color: #f7f7f7;
}

.bg-gray-2 {
	border-color: #e9e9e9;
}

.bg-gray-3 {
	border-color: #d9d9d9;
}

.bg-gray-4 {
	border-color: #c9c9c9;
}

.bg-gray-5 {
	border-color: #b8b8b8;
}

.bg-gray-6 {
	border-color: #a8a8a8;
}

.bg-gray-7 {
	border-color: #939393;
}

.bg-gray-8 {
	border-color: #7b7b7b;
}

.bg-gray-9 {
	border-color: #636363 #4d4d4d;
}

.bg-gray-10 {
	border-color: #353535;
}

.letter-spacing-1 {
	letter-spacing: 0.1em;
}

.letter-spacing-2 {
	letter-spacing: 0.2em;
}

.border-w-1 {
	border-width: 1px;
}

.border-w-2 {
	border-width: 2px;
}

.border-w-3 {
	border-width: 3px;
}

.border-w-4 {
	border-width: 4px;
}

.border-w-5 {
	border-width: 5px;
}
.btn-orange-1{
	color:#fff;
    background-color: #FD5B04;
    border-color: #FD5B04;
	
}
/* Custom Button*/
.btn-contactme{
		padding: 0.275rem 0.95rem;
	font-size: 0.9rem;
}
.btn-contactme:hover{
	color:#fff;
}
/* Navbar */
.site-navbar {
	margin-bottom: 0px;
	z-index: 1999;
	position: relative;
	top: 0;
	width: 100%;
	padding: 0 1rem;
}

@media (max-width: 991.98px) {
	.site-navbar {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
	.btn-contactme{
		display: none;
	}
}

.site-navbar .toggle-button {
	position: absolute;
	right: 0px;
}

.site-navbar .site-logo {
	margin: 0;
	padding: 0;
	font-size: 1.7rem;
}

.site-navbar .site-logo a {
	color: #00a651;
	text-transform: lowercase;
}

@media (max-width: 991.98px) {
	.site-navbar .site-logo {
		float: left;
		position: relative;
	}
}

.site-navbar .site-navigation.border-bottom {
	border-bottom: 1px solid white !important;
}

.site-navbar .site-navigation .site-menu {
	margin: 0;
	padding: 0;
	margin-bottom: 0;
}

.site-navbar .site-navigation .site-menu .active {
	color: #ff6d00 !important;
}

.site-navbar .site-navigation .site-menu a {
	text-decoration: none !important;
	display: inline-block;
}

.site-navbar .site-navigation .site-menu > li {
	display: inline-block;
	
}

.site-navbar .site-navigation .site-menu > li > a {
	margin-left: 15px;
	margin-right: 15px;
	padding: 20px 0;
	color: #323137 !important;
	display: inline-block;
	text-decoration: none !important;
}

.site-navbar .site-navigation .site-menu > li > a:hover {
	color: #ff6d00 !important;
	border-top-width: 2px;
    border-top-style: solid;
}

.site-navbar .site-navigation .site-menu > li.active > a {
	color: #ff6d00 !important;
	border-top-width: 2px;
    border-top-style: solid;
	 
}

.site-navbar .site-navigation .site-menu .has-children {
	position: relative;
}

.site-navbar .site-navigation .site-menu .has-children > a {
	position: relative;
	padding-right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children > a:before {
	position: absolute;
	content: "\e313";
	font-size: 16px;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	font-family: 'icomoon';
}

.site-navbar .site-navigation .site-menu .has-children .dropdown {
	visibility: hidden;
	opacity: 0;
	top: 100%;
	position: absolute;
	text-align: left;
	border-top: 2px solid #00a651;
	-webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
	padding: 0px 0;
	margin-top: 20px;
	margin-left: 0px;
	background: #fff;
	-webkit-transition: 0.2s 0s;
	-o-transition: 0.2s 0s;
	transition: 0.2s 0s;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
	position: absolute;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
	display: none;
	bottom: 100%;
	left: 20%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a {
	text-transform: none;
	letter-spacing: normal;
	-webkit-transition: 0s all;
	-o-transition: 0s all;
	transition: 0s all;
	color: #000 !important;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a.active {
	color: #00a651 !important;
	background: #f8f9fa;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li {
	list-style: none;
	padding: 0;
	margin: 0;
	min-width: 200px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
	padding: 9px 20px;
	display: block;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
	background: #f8f9fa;
	color: #ced4da;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
	content: "\e315";
	right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown,
.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
	left: 100%;
	top: 0;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a,
.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a,
.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
	background: #f8f9fa;
	color: #ced4da;
}

.site-navbar .site-navigation .site-menu .has-children:hover > a,
.site-navbar .site-navigation .site-menu .has-children:focus > a,
.site-navbar .site-navigation .site-menu .has-children:active > a {
	color: #00a651;
}

.site-navbar .site-navigation .site-menu .has-children:hover,
.site-navbar .site-navigation .site-menu .has-children:focus,
.site-navbar .site-navigation .site-menu .has-children:active {
	cursor: pointer;
}

.site-navbar .site-navigation .site-menu .has-children:hover > .dropdown,
.site-navbar .site-navigation .site-menu .has-children:focus > .dropdown,
.site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
	-webkit-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s;
	margin-top: 0px;
	visibility: visible;
	opacity: 1;
}

.site-mobile-menu {
	width: 300px;
	position: fixed;
	right: 0;
	z-index: 2000;
	padding-top: 20px;
	background: #fff;
	height: calc(100vh);
	-webkit-transform: translateX(110%);
	-ms-transform: translateX(110%);
	transform: translateX(110%);
	-webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
	box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
	-webkit-transition: .3s all ease-in-out;
	-o-transition: .3s all ease-in-out;
	transition: .3s all ease-in-out;
}

.offcanvas-menu .site-mobile-menu {
	-webkit-transform: translateX(0%);
	-ms-transform: translateX(0%);
	transform: translateX(0%);
}

.site-mobile-menu .site-mobile-menu-header {
	width: 100%;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
	float: right;
	margin-top: 8px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
	font-size: 30px;
	display: inline-block;
	padding-left: 10px;
	padding-right: 0px;
	line-height: 1;
	cursor: pointer;
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
	color: #ced4da;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
	float: left;
	margin-top: 10px;
	margin-left: 0px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
	display: inline-block;
	text-transform: uppercase;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
	max-width: 70px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
	text-decoration: none;
}

.site-mobile-menu .site-mobile-menu-body {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	position: relative;
	padding: 0 20px 20px 20px;
	height: calc(100vh - 52px);
	padding-bottom: 150px;
}

.site-mobile-menu .site-nav-wrap {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
}

.site-mobile-menu .site-nav-wrap a {
	padding: 10px 20px;
	display: block;
	position: relative;
	color: #212529;
}

.site-mobile-menu .site-nav-wrap a:hover {
	color: #00a651;
}

.site-mobile-menu .site-nav-wrap li {
	position: relative;
	display: block;
}

.site-mobile-menu .site-nav-wrap li .nav-link.active {
	color: #00a651;
}

.site-mobile-menu .site-nav-wrap li.active > a {
	color: #00a651;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse {
	position: absolute;
	right: 0px;
	top: 10px;
	z-index: 20;
	width: 36px;
	height: 36px;
	text-align: center;
	cursor: pointer;
	border-radius: 50%;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
	background: #f8f9fa;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
	font-size: 12px;
	z-index: 20;
	font-family: "icomoon";
	content: "\f078";
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%) rotate(-180deg);
	-ms-transform: translate(-50%, -50%) rotate(-180deg);
	transform: translate(-50%, -50%) rotate(-180deg);
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.site-mobile-menu .site-nav-wrap > li {
	display: block;
	position: relative;
	float: left;
	width: 100%;
}

.site-mobile-menu .site-nav-wrap > li > a {
	padding-left: 20px;
	font-size: 20px;
}

.site-mobile-menu .site-nav-wrap > li > ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.site-mobile-menu .site-nav-wrap > li > ul > li {
	display: block;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > a {
	padding-left: 40px;
	font-size: 16px;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul {
	padding: 0;
	margin: 0;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
	display: block;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
	font-size: 16px;
	padding-left: 60px;
}

.site-mobile-menu .site-nav-wrap[data-class="social"] {
	float: left;
	width: 100%;
	margin-top: 30px;
	padding-bottom: 5em;
}

.site-mobile-menu .site-nav-wrap[data-class="social"] > li {
	width: auto;
}

.site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
	padding-left: 15px !important;
}

.sticky-wrapper {
	position: relative;
	z-index: 100;
	width: 100%;
	position: relative;
	top: 0;
}

.sticky-wrapper .site-navbar {
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
}

.sticky-wrapper .site-navbar {
	background: #fff;
}

.sticky-wrapper .site-navbar ul li a {
	color: rgba(0, 0, 0, 0.7) !important;
}

.sticky-wrapper .site-navbar ul li a.active {
	color: #000 !important;
}

.sticky-wrapper.is-sticky .site-navbar {
	background: #fff;
	-webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
	box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
}

.sticky-wrapper.is-sticky .site-navbar .site-logo a {
	color: #00a651;
}

.sticky-wrapper.is-sticky .site-navbar ul li a {
	color: #000 !important;
}

.sticky-wrapper.is-sticky .site-navbar ul li a.active {
	color: #00a651 !important;
}

.sticky-wrapper .shrink {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
.mpos{
	top:-35px;
}
@media (max-width: 991.98px) {
	.sticky-wrapper .shrink {
		padding-top: 30px !important;
		padding-bottom: 30px !important;
	}
}

.owl-theme .owl-dots .owl-dot span{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
  width: 30px;
  height: 5px;
  margin-left: 3px;
  margin-right: 3px;
  background: #ccc;
  border:none;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span{
  background: #3F51B5;
}
html {
	overflow-x: hidden;
	margin: 0;
}

body {
	margin: 0;

}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: 'cwTeXYen', 'PingFang TC', serif;
}

.first-bar {
	background-color: #161513;
}
/* footer */
footer{
	height:330px;
	background-color: #312d2a;
	
}
#footerrow1{
	background-color: #312d2a;
}
footer ul{
	list-style:none;
}
footer ul, li {
margin: 0;
padding: 3px 0px;

}