body{
    touch-action:none;
    font-family:Helvetica Neue, Noto Sans CJK tc, Noto Sans TC, Microsoft JhengHei, PingFang TC, sans-serif, Arial;
}
.mtm5{
    margin-top: -5px;
}
.auroico{
  width:90%;
  height: auto;
}
a:hover {
    
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }
  .m-r-10{
    margin-right: 10px;
  }
  .m-r-5{
    margin-right: 5px;
  }
  .m-t-5{
    margin-top: 5px;
  }
  .m-t-10{
    margin-top: 10px;
  }
  .p-l-10{
    padding-left: 10px;
  }