<template>
	<div id="app">
		<div class="welcome" :style="background" :class="{ hidefri: frist }" v-if="hide"></div>
		<transition :name="transitionName">
			<router-view />
		</transition>
		<down-load v-if="upDate"></down-load>
		<pwd-lock></pwd-lock>
	</div>
</template>

<script>
import downLoad from '@/components/downLoad';
import pwdLock from '@/components/pwdLock';
import { mapState } from 'vuex';
export default {
	name: 'App',
	components: {
		downLoad,
		pwdLock
	},
	data() {
		return {
			transitionName: '',
			upDate: false,
			frist: false,
			hide: true,
			cordova: this.$store.state.version,
			background: {
				backgroundImage: 'url(' + require('@/common/images/welcome.png') + ')'
			},
			audio: '',
			pm: [],
		};
	},
	watch: {
		$route(to, from) {
			if (to.meta.index > from.meta.index) {
				this.transitionName = 'slide-left';
			} else {
				this.transitionName = 'slide-right';
			}
		}
	},
	computed: {
		...mapState(['network'])
	},
	methods: {
		getVersion() {
			this.$axios.get('/v1/common/version').then(res => {
				if (res.data.Content != this.cordova) {
					this.upDate = true;
				}
			});
		},
		getNotice() {
			this.$axios.get('/v1/pm/list', {
				params: {
					type: 5,
					IsRead: false
				},
				headers: {
					authorization: localStorage.token,
					guid: localStorage.guid
				}
			}).then(res => {
				this.pm = res.data.Data.Items
				if (res.data.Data.Items.length) {
					// this.audio.play();
					this.$dialog.confirm({
						message: '新的消息，是否查看',
					}).then(() => {
						this.$router.push('/news')
					})
				}
			})
		},
		playmusic() {
			var that = this
			this.audio = new Audio();
			this.audio.src = this.$store.state.url + '/notice.mp3';
			// let playPromise;
			// playPromise = this.audio.play();
			// if (playPromise) {
			// 	playPromise.then(() => {
			// 		// 音频加载成功
			// 		// 音频的播放需要耗时
			// 	}).catch((e) => {
			// 		// 音频加载失败
			// 	});
			// }
		},
		timer() {
			this.getNotice()
			setInterval(() => {
				this.getNotice()
			}, 10000)
		}
	},
	mounted() {
		this.getVersion();
		setTimeout(() => {
			this.frist = true;
		}, 3000);
		setTimeout(() => {
			this.hide = false;
		}, 3500);
		this.playmusic()
		if(localStorage.guid){
			this.timer()
		}
	}
};
</script>

<style lang="scss">
.welcome {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	opacity: 1;
	z-index: 9999;
	&::before {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0.3;
		background-color: #fff;
		animation: twinkling 1s infinite;
	}
}
@keyframes twinkling {
	0% {
		opacity: 0.3;
	}
	50% {
		opacity: 0.1;
	}
	100% {
		opacity: 0.3;
	}
}
.hidefri {
	opacity: 0;
	transition: opacity 0.5s;
}
.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
	will-change: transform;
	transition: all 400ms;
	position: absolute;
	width: 100%;
	height: 100%;
}
.slide-right-enter {
	opacity: 0;
	transform: translate3d(100%, 0, 0);
}
.slide-right-leave-active {
	opacity: 0;
	transform: translate3d(-100%, 0, 0);
}
.slide-left-enter {
	opacity: 0;
	transform: translate3d(-100%, 0, 0);
}
.slide-left-leave-active {
	opacity: 0;
	transform: translate3d(100%, 0, 0);
}
</style>
