.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 10px;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 18px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
	    margin-top: -10px;
    margin-bottom: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


#sidebar {
    min-width: 65px;
    max-width: 65px;
    background: #fff;
	color: #7386D5;
	border-style: solid;
	border-color: #fafafa;
	border-width: 1px;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar.active {
    margin-left: -65px;
    transform: rotateY(100deg);
}
.sidebarText{
    display: block;
    color:#7386D5;
}
.sidebarIcon{
    font-size: 26px;
    color:#7386D5;
}
#sidebar .sidebar-header {
    padding:10px 5px;
    background: #fff;
	border-style: solid;
	border-color: #eee;
	border-width:0 0 1px 0;
}

#sidebar ul.components {
    padding: 0;
    border-bottom: 1px solid #eee;
}

#sidebar ul p {
    color: #522798;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 0.8em;
    display: block;
    margin-bottom: 15px;
}
#sidebar ul li a:hover {
    color: #522798;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #522798;
    border-left-color: #057ece;
    border-left-style: solid;
    border-left-width: 3px;
    background-color: #eef4f9;
}
#sidebar ul li a:hover {
    color: #522798;
    border-left-color: #057ece;
    border-left-style: solid;
    border-left-width: 3px;
    background-color: #eef4f9;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.8em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}





/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 0 5px 5px 0;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 30px;
    height: 30px;
    background: #f5f5f5;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -70px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}
