

#datepicker{
  margin: 10px 0 5px 0;
  font-size: 18px;
}
#datepicker .e-input-group-icon.e-range-icon::before, .e-control-wrapper .e-input-group-icon.e-range-icon::before {
  font-size: 22px;
}

.card_animation {
  transition: transform 0.5s;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .1), 0 3px 10px 0 rgba(0, 0, 0, .15);
}
.card_animation::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
  content: '';
  opacity: 0;
  z-index: -1;
  border: 1px solid rgba(0, 0, 0, 0.900);
}
.card_animation:hover, .card_animation:focus {
  transform: scale3d(1.0001, 1.0001, 1);
}
.card_animation:hover::after, .card_animation:focus::after {
  opacity: 1;
}
.charts h4{
  display: none;
}

.charts #charttable{
  font-size:14px;
}
.card-body.chart-height{
  height: 280px;
}
.card-body.grid-height{
  height: 380px;
}
.card-body.widget-height{
    height: 65px;
  }
  .card-body.mapChart-height{
    height: 466px;
  }  
.ecommerce [class*="col-"]{
    padding-right:1px;
    padding-left:1px;
}
.ecommerce .widget-number{
  float:right;
}
.smileStatus::after{
  background-image: url(../img/smile.png);
    background-size: 20px 20px;
    margin-left:20px;
    display: inline-block;
    width: 20px; 
    height:20px;
    content:"";
}  

/* label.html **/

.e-dashboardlayout.e-control .e-panel .e-panel-container .e-panel-header {
  padding: 10px;
  border-bottom: 2px solid #e6e9ed !important;
  height: 35px;
  margin: 0 15px 0 15px;
}
.tagStyles{
  padding: 3px 5px;
  margin-top: 5px;
  margin-left: 5px;
  line-height: 16px;
  color: #333;
  font-weight: 700;
  border-radius: 4px;
  font-size: 75%;
  display: inline-block;
  text-align: center;
  width:65x;

}
.tag-infoB {
  background-color: #20aee3;
}
.tag-infoY {
  background-color: #F8E71C;
}
.tag-infoG {
  background-color: #50E3C2;
}
.selectbox{
  padding: 0 5%;
}
.control-styles h5{
  padding-left: 1%;
  margin-top: 10px;
  padding-top: 14px;
  font-size: 14px;
}
#memberclass ul li {
  display: inline;
  list-style: none;
  padding-left: 10px;
}
table#pg3chkTabel {
  width: 97% !important;
  margin: 3px;
}
table#pg3chkTabel td, th {
  padding: 3px;
  font-size: 12px;
}
table#pg3chkTabel td.col1 {
 width: 55%;
}
table#pg3chkTabel td.col2 {
  width: 25%;
}
select#conditionbox {
  background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
  
  background-repeat:no-repeat;
  background-position: right 5px top 5px;
  background-size: 10px 16px;
  color:white;
  padding:3px 20px;
  width:auto;
  font-size:14px;
  color:#444;
  text-align:center;
  
  border-radius:3px;
  -webkit-border-radius:3px;
  -webkit-appearance: none;
  border:0;
  border-bottom: solid 1px #ccc;
  outline:0;
  -webkit-transition:0.3s ease all;
	   -moz-transition:0.3s ease all;
	    -ms-transition:0.3s ease all;
	     -o-transition:0.3s ease all;
	        transition:0.3s ease all;
}

#blue {
  background-color:#3498DB;
}

#blue:hover {
  background-color:#2980B9;
}

table#pg3chkTabel td.col3 {
  width: 20%;
  text-align: center;
 }
  #primarySearch {
   width: 100%;
   
 }
 #secondSearch,#clearLabel{
  width: 40%;
  margin-left: 32px;
  
}
#interactive #chart1A #chart1B #chart2A #chart2B #chart3A #chart3B {
  height: 500px;
}
.iframeWrapper{
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
#interactive #iframe1
 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
#pg3chkTabel ul {
  columns: 4;
  -webkit-columns: 4;
  -moz-columns: 4;
}
#pg3chkTabel .e-listbox-wrapper {
  border: 1px solid #e0e0e0;
  font-family: "微軟正黑體","Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif", "-apple-system", "BlinkMacSystemFont";
  font-size: 12px;
}
#pg3chkTabel .e-checkbox-wrapper .e-frame, .e-css.e-checkbox-wrapper .e-frame {
  border: 2px solid;

  height: 14px;
  line-height: 8px;
  padding: 1px 0;

  width: 14px;
}
#pg3chkTabel .e-list-item {
  height: 26px;
  line-height: 24px;
  padding: 0 1px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;

  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical
}
