/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, textarea {
  margin: 0;
  padding: 0;
}

fieldset, img, input, button, textarea, select {
  border: none;
  padding: 0;
  margin: 0;
  outline-style: none;
}

ul, ol, li {
  list-style: none;
}

input {
  padding-top: 0;
  padding-bottom: 0;
}

select, input {
  vertical-align: middle;
}

select, input, textarea {
  margin: 0;
}

/*禁止手動修改大小*/
textarea {
  resize: none;
}

/*去掉图片底部默認空白缝隙*/
img {
  border: 0;
  vertical-align: middle;
}

/*合并外連線*/
table {
  border-collapse: collapse;
}

body {
  font-family: "Noto Sans CJK TC", "Noto Sans TC", sans-serif, "Microsoft YaHei", "PingFang TC", "Lantinghei TC", "Microsoft JhengHei", "Optima", "Segoe", "Segoe UI", "Candara", "Calibri", Arial;
  font-size: 16px;
  color: #666;
  background: #eeeeee;
  overflow-x: hidden;
}

/*清除浮動*/
.clear-fix:before, .clear-fix:after {
  content: "";
  display: table;
}

.clear-fix:after {
  clear: both;
}

.clear-fix {
  *zoom: 1;
}

a {
  text-decoration: none;
}

a:hover {

}

h1, h2, h3, h4, h5, h6 {
  text-decoration: none;
  font-weight: normal;
  font-size: 100%;
}

s, i, em {
  font-style: normal;
  text-decoration: none;
}

/*公共类*/
.fl {
  float: left;
}

.fr {
  float: right;
}

.al {
  text-align: left;
}

.ac {
  text-align: center;
}

.ar {
  text-align: right;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.hide {
  display: none !important;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fdeecf;
  height: 80px;
  line-height: 80px;
  z-index: 999999;
}

.header .wrapper {
  background-color: #fdeecf;
}

.header .header-img {
  margin-left: 150px;
}

.header .header-img img {
  width: 200px;
  height: auto;
}

.header .nav {
  position: absolute;
  top: 0;
  right: 150px;
  height: 80px;
  line-height: 80px;
}

.header .nav .nav-text {
  padding: 7px 14px;
  margin-right: 6px;
  font-weight: 500;
  border-radius: 15px;
}

.header .nav .nav-text a {
  color: #8b572a;
}

.header .nav .nav-text:hover {
  background-color: #8b572a;
}

.header .nav .nav-text:hover a {
  color: #fff;
}

.header .nav .nav-fb {
  margin: 0 20px 0 37px;
}

.header .menu-button {
  display: none;
  position: absolute;
  top: 14px;
  right: 21px;
}

.banner {
  position: relative;
  margin-top: 80px;
}

.banner img {
  width: 100%;
  height: auto;
}

.story {
  background-color: #C7EEF1;
  padding: 30px 0 80px;

}

.story-title {
  background: url("../images/story.svg") no-repeat;
  padding-bottom: 30px;
  height: 30px;
}

.story .content {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

.story .content i {
  display: inline-block;
  position: absolute;
  top: 5px;
  left: -25px;
  width: 9px;
  height: 360px;
  background-color: #8a6d56;
}

.story-text {
  color: #8a6d56;
  font-size: 18px;
  font-weight: 500;
  line-height: 35px;
}

.story .story-text span {
  display: inline-block;
  height: 55px;
  line-height: 55px;
}

.story .story-text img {
  margin: -3px 10px 80px;
}

.top-img {
  text-align: center;
  padding-top: 60px;
}

.prize {
  position: relative;
  padding-bottom: 100px;
  background: #fff;
}

.prize .prize-text,
.game .game-text {
  position: relative;
  margin: 40px auto 0;
  width: 660px;
  color: #6d492d;
  font-size: 22px;
  font-weight: 500;
}

.prize .prize-text i,
.game .game-text i {
  display: inline-block;
  position: absolute;
  top: 5px;
  left: -25px;
  width: 9px;
  height: 50px;
  background-color: #6d492d;
}

.prize .prize-box {
  width: 1200px;
  margin: 0 auto;
  padding-top: 55px;
}

.prize .prize-box > div {
  width: 400px;
  text-align: center;
  float: left;
  padding-bottom: 40px;
}

.prize .prize-box .name {
  padding: 34px 0 24px;
  color: #6d492d;
  font-family: "Noto Sans CJK TC", "Noto Sans TC", sans-serif, "Microsoft YaHei", "PingFang TC", "Lantinghei TC", "Microsoft JhengHei", "Optima", "Segoe", "Segoe UI", "Candara", "Calibri", Arial;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.1px;
}

.prize .prize-box .detail {
  width: 280px;
  height: 44px;
  margin: 0 auto;
  line-height: 44px;
  color: #ffffff;
  font-family: "Noto Sans CJK TC", "Noto Sans TC", sans-serif, "Microsoft YaHei", "PingFang TC", "Lantinghei TC", "Microsoft JhengHei", "Optima", "Segoe", "Segoe UI", "Candara", "Calibri", Arial;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.12px;
  background-color: #6d492d;
  border-radius: 22px;
}

.prize .prize-box .detail span {
  text-align: center;
  display: inline-block;
  width: 65px;
  margin-left: 20px;
}

.game {
  position: relative;
  background: #F9BB42;
}

.game .game-center {
  width: 1096px;
  position: relative;
  margin: 0 auto;
}
.game .game-center .game-img{
  text-align: center;
  margin-bottom: 100px;
}

.game .game-center .game-img .small{
  display: none;
}

.game .game-center img {
  height: auto;
  max-width: 100%;
}

.game .game-center .description {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  width: 960px;
  margin: 40px auto 40px;
}

.game .game-center .description > div {
  text-align: left;
  font-weight: 500;
}

.game .game-center .description img {
  margin-bottom: 30px;
}

.game .encyclopedia {
  position: relative;
  padding-bottom: 50px;
  margin: 0 auto;
  width: 800px;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

.game .encyclopedia p {
  line-height: 35px;
  text-align: center;
}

.game .encyclopedia a {
  border-radius: 10px;
  display: inline-block;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  padding: 14px 24px;
  background: #007e9a;
  margin: 20px;
  box-shadow: 6px 6px 15px -3px #656765;
}

.game .encyclopedia img {
  position: absolute;
  right: -34px;
  top: 65px;
}

.answer {
  background-color: #48A980;
}

.answer > .ac {
  padding-top: 80px;
}

.answer .answer-img {
  width: 360px;
}

.answer form {
  width: 960px;
  margin: 0 auto;
  padding-top: 90px;
}

.answer form > div {
  padding-bottom: 40px;
}

.answer form label {
  float: left;
  display: inline-block;
  width: 110px;
  height: 50px;
  line-height: 50px;
  color: #8b572a;
  font-size: 18px;
  font-weight: 500;
  text-align: right;
  margin-right: 17px;
}

.answer form input,
.answer form select {
  box-sizing: border-box;
  width: 833px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #979797;
  border-radius: 7px;
  padding: 0 10px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
}

.answer form input {
  background-color: #FDEECF;
  box-shadow: inset 0 0 7px 0 #888888;
}

.answer form select {
  background-color: #FFFFFF;
}

.answer form .button-box {
  text-align: center;
  padding-top: 30px;
}

.answer form button.reset,
.answer form button.send {
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  letter-spacing: 5px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}

.answer form button.reset {
  border: 1px solid #979797;
  color: #000;
  margin-right: 62px;
  box-shadow: 4px 4px 20px -5px #666666;
}

.answer form button.send {
  border: 1px solid #F5A623;
  background-color: #F5A623;
  color: #ffffff;
  box-shadow: 4px 4px 20px -5px #666666;
}

.answer form button.send:hover {
  background-color: #c4841c;
  border: 1px solid #c4841c;
}

.answer form button.reset:hover {
  border: 1px solid rgba(151, 151, 151, .7);
  color: #000;
  background: #fff;
}

.answer .list {
  width: 1142px;
  margin: 0 auto;
  padding-bottom: 50px;
  text-align: center;
  font-size: 20px;
  color: #8b572a;
}

/*.answer .list >div{*/
/*width: 538px;*/
/*height: 352px;*/
/*background: url("../images/billboard.png") no-repeat;*/
/*-webkit-background-size: 100%;*/
/*background-size: 100%;*/
/*}*/
.answer .list h1 {
  padding-top: 35px;
  font-weight: 500;
}

.answer .list h2 {
  padding-top: 15px;
  font-weight: 500;
  font-size: 22px;
}

.answer .list a {
  color: #fff;
  border-radius: 10px;
  display: block;
  text-align: center;
  line-height: 60px;
  margin: 25px auto 0;
  width: 260px;
  height: 60px;
  font-weight: 500;
  box-shadow: 5px 5px 10px 0 #808080;
  background-color: #58b2dc;
}

.answer .list .list-left {
  float: left;
}

.answer .list .list-right {
  float: right;
}

.answer .list .list-left a {
  background-color: #58b2dc;
}

.answer .list .list-right a {
  background-color: #417505;
}

.answer .list .list-left a:hover {
  background-color: #79C1E3;
}

.answer .list .list-right a:hover {
  background-color: #669036;
}

.attention {
  background-color: #fff;
  padding: 60px 0 75px;
}

.attention .content {
  width: 980px;
  margin: 0 auto;
}

.attention .content .content-box {
  margin-bottom: 30px;
}

.attention .content .attention-img {
  padding-bottom: 60px;
  text-align: center;
}

.attention .content .attention-title {
  padding-bottom: 26px;
}

.attention .content .attention-title span {
  display: inline-block;
  padding-bottom: 9px;
  border-bottom: 1px solid #8b572a;
  color: #8b572a;
  font-size: 18px;
  font-weight: 500;
}

.attention .content .text-box {
  color: #8b572a;
  font-size: 16px;
}

.attention .content .attention-detail p {
  position: relative;
  padding: 0 0 30px 25px;
}

.attention .content .text-box span {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  text-align: right;
}

.attention .content .attention-detail p:last-child {
  padding-bottom: 0;
}

.footer {
  background-color: #4a4a4a;
  height: 80px;
  line-height: 80px;
  color: #ffffff;
  font-size: 48px;
  font-weight: 500;
  letter-spacing: 27px;
  text-align: center;
}

.footer img {
  margin: -10px 42px 0 18px;
}

@media screen and (max-width: 1439px) {
  .wrapper {
    width: 100%;
  }

  .prize .farmer {
    top: 50px;
    left: 100px;
  }

  .footer {
    letter-spacing: 15px;
  }

  .footer img {
    margin: -10px 32px 0 18px;
  }

}

@media screen and (max-width: 1199px) {
  .prize .prize-box {
    width: 800px;
  }

  .header .header-img {
    margin-left: 50px;
  }

  .header .nav {
    right: 50px;
  }

  .story .content {
    width: auto;
    margin: 0 50px 0 50px;
  }

  .game {
    width: auto;
  }

  .game .game-center {
    width: 100%;
    text-align: center;
    margin-top: 60px;
  }

  .game .game-center img {
    height: auto;
    max-width: 100%;
  }

  .game .game-center .description {
    position: static;
    margin-top: 20px;
  }

  .game .encyclopedia {
    position: relative;
    margin-left: unset;
    width: 100%;
    padding-bottom: 90px;
    left: unset;
    top: unset;
    z-index: 9999;
  }

  .answer .list {
    width: 100%;
  }

  .answer .list .list-left,
  .answer .list .list-right {
    float: none;
    margin: 0 auto;
  }

  .answer .list .list-left {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1060px) {
  .attention .content {
    width: auto;
    padding: 0 20px;
  }

  .story .content {
    width: auto;
    margin: 0 60px 0 60px;
  }

  .footer .wrapper > div {
    width: 100%;
    margin: 0 0 0 20px;
  }

  .game .game-center .description {
    width: auto;
    margin: 0 20px;
  }

  .game .game-center .game-img {
    width: auto;
    margin: 50px 20px;
  }
}

@media screen and (max-width: 1024px) {
  .game .game-center .game-img {
    width: auto;
  }

  .prize .farmer {
    display: none;
  }

  .prize {
    height: auto;
  }

  .prize .prize-box {
    height: auto;
  }

  .prize .prize-box > div {
    display: block;
    margin: 0 !important;
  }

  .answer form {
    width: auto;
  }

  .answer form label {
    margin-left: 20px;
  }

  .answer form .input-box {
    margin: 0 20px 0 147px;
  }

  .answer form input,
  .answer form select,
  .answer form textarea {
    width: 100%;
  }
}

@media screen and (max-width: 940px) {
  .header {
    height: 60px;
    line-height: 60px;
  }

  .header .nav {
    position: absolute;
    left: 0;
    top: -236px;
    width: 100%;
    z-index: -1;
    transition: all 0.5s;
  }

  .header .nav.down {
    top: 60px;
    transition: all 0.5s;
  }

  .header .nav > span {
    display: block;
    width: 100%;
    height: 38px;
    line-height: 38px;
    padding: 0 !important;
    background-color: #ffffff;
    text-align: center;
    margin: 0 !important;
    border-radius: 0 !important;
  }

  .header .nav .nav-fb,
  .header .nav .nav-yt {
    height: 44px;
    line-height: 44px;
  }

  .header .nav .nav-fb {
    padding: 13px 0 16px !important;
  }

  .header .nav .nav-yt {
    padding-bottom: 27px !important;
  }

  .header .menu-button.open {
    display: block;
  }

  .banner {
    margin-top: 60px;
  }

  .footer {
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    letter-spacing: 5px;
  }

  .footer img {
    width: 40px;
    padding: -5px 22px 0 18px;
  }
}

@media screen and (max-width: 850px) {
  .prize .prize-box > div {
    display: block;
    margin: 0 auto !important;
  }

}

@media screen and (max-width: 799px) {
  .prize .prize-box {
    width: 100%;
  }

  .prize .prize-box > div {
    width: 100%;
  }
}

@media screen and (max-width: 767px){
  .game .game-center .game-img > img {
    width: 100%;
    margin-right: 0;
    padding-bottom: 0;
  }
  .game .game-center .game-img .small{
    display: unset;
  }
  .game .game-center .game-img .big{
    display: none;
  }
}

@media screen and (max-width: 700px) {

  .game .game-center .game-img > img {
    width: 100%;
    padding-bottom: 0;
  }

  .prize .prize-text,
  .game .game-text {
    margin: 40px 40px 20px;
    width: auto;
  }

  .game .game-center {
    margin-top: 30px;
  }

  .footer {
    height: 90px;
    line-height: 90px;
  }

  .footer span {
    display: block;
    height: 45px;
    line-height: 45px;
    text-align: justify;
    margin: 0 20px 0 90px;
  }

  .footer span:after {
    content: " ";
    display: inline-block;
    width: 100%;
  }

  .footer img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 70px;
    margin: 0 !important;
  }

}

@media screen and (max-width: 600px) {
  .game .game-center .game-img {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0 auto;
  }

  .game .game-center .game-img > img {
    width: 100%;
    margin-right: 0;
    padding-bottom: 0;
  }

  .story-title {
    background: url("../images/story_phone.svg") no-repeat;
    padding-bottom: 40px;
    height: 73px;
  }

  .answer form .button-box button {
    display: block;
    margin: 0 auto;
  }

  .answer form .button-box .reset {
    margin-bottom: 23px;
  }

  .attention .content .attention-img {
    text-align: center;
  }

  .answer form label {
    display: block;
    text-align: left;
    float: none;
  }

  .answer form .input-box {
    margin: 0 20px 0 20px;
  }

  .answer form label.textarea-box {
    height: 50px;
    line-height: 50px;
  }

  .answer form input,
  .answer form select,
  .answer form textarea {
    margin-bottom: 10px;
  }

  .header .header-img {
    margin-left: 21px;
  }

  .answer form {
    padding-top: 60px;
  }

  .answer .list > div {
    width: 430px;
    height: 281px;
  }

  .answer .list {
    font-size: 22px;
  }

  .answer .list h1 {
    padding-top: 25px;
  }

  .answer .list h2 {
    padding-top: 8px;
    font-size: 18px;
  }

  .answer .list a {
    line-height: 61px;
    margin: 15px auto 0;
    width: 262px;
    height: 61px;
  }

}

@media screen and (max-width: 500px) {
  .game .game-center .game-img {
    padding: 30px 30px 0 30px;
  }

  .game .game-center .game-img > img {
    margin-bottom: 30px;
  }

  .attention .content .attention-img {
    margin: 0 20px;
  }

  .attention .content .attention-img img {
    width: 100%;
  }

  .game .game-center .description > div {
    display: block;
    width: auto;
    margin: 0 15px 0 15px;
  }

  .prize .prize-text, .game .game-text {
    font-size: 18px;
    width: auto;
  }

  .answer .ac {
    padding: 80px 40px 0;
  }

  .answer .ac img {
    width: 100%;
  }

  .answer .list > div {
    width: 344px;
    height: 224px;
  }

  .answer .list {
    font-size: 20px;
  }

  .answer .list h1 {
    padding-top: 15px;
  }

  .answer .list h2 {
    padding-top: 10px;
    font-size: 18px;
  }

  .answer .list a {
    line-height: 48px;
    margin: 12px auto 0;
    width: 209px;
    height: 48px;
  }
}

@media screen and (max-width: 450px) {
  .footer {
    font-size: 25px;
  }
}

@media screen and (max-width: 400px) {
  .footer {
    font-size: 20px;
  }

  .answer .list > div {
    width: 286px;
    height: 203px;
  }

  .answer .list {
    font-size: 18px;
  }

  .answer .list h1 {
    padding-top: 15px;
  }

  .answer .list h2 {
    padding-top: 5px;
    font-size: 15px;
  }

  .answer .list a {
    line-height: 40px;
    margin: 8px auto 0;
    width: 174px;
    height: 40px;
  }

  .answer .list .list-left {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 350px) {
  .prize .prize-box .detail {
    width: 250px;
    height: 38px;
    line-height: 38px;
    font-size: 20px;
  }

  .story-title {
    background: url("../images/story_phone.svg") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    padding-bottom: 40px;
    height: 73px;
  }
}

#tips {
  height: 30px;
  line-height: 30px;
  margin-top: 20px;
  text-align: center;
  color: red;
  font-weight: 700;
}












